@charset "utf-8";

/* 
display,visible,float,clear,overflow,position,z-index,top,right,bottom,left,
width,*-width,height,*-height,padding,margin,border-*,background-*
font-*,color,text-align,vertical-align, ...
*/
/* Small devices (portrait phones, landscape phones, less than 767px) */
/* No media query this is the default */


/****************************************************************************************************/
/***                                           layout                                             ***/
/****************************************************************************************************/
.article {position: relative; padding:40px 0 60px;margin:0 auto;background: #fff;zoom: 1;}

#cover_450h + .article{margin-top: 300px;padding:40px 30px 60px;}

.article_header, 
.article_body,
.article_footer {width:100%;margin:0 auto;}
.article_header {border-bottom:4px solid #ff4620;}
.article_header .reader_area {display:flex;font-size:14px;}
.article_header .reader_area .badge {margin-right:5px;padding:0;font-size:14px;color:#f6330a;}
.article_header .headline:not(.fixed) {margin-top:15px;font-size:24px;line-height:34px;font-weight:700;}
.article_header .headline.fixed br { display: none; }
.article_header .info_area {display:flex;}
.article_header .datetime {display:flex;position:relative;margin-top:26px;padding-bottom:15px;border-bottom:1px solid #d8d8d8;}
.article_header .datetime .source {position:relative; margin-right: 10px; padding-right: 11px; font-size:13px;line-height:20px;color:#999;}
.article_header .datetime .source::before { content:'';position:absolute;right:0;top:4px;width:1px;height:12px;background-color:#979797;}
.article_header .datetime .date { font-size: 13px; line-height: 20px; }

.article_header .datetime .date .ico_arrow_down { width: 8px; height: 7px; }
.article_header .datetime .epaper {position:absolute;right:0;top:0;font-size:13px;line-height:22px;color:#999;}
.article_header > .byline {display:flex; flex-wrap: wrap; align-items:center; position: relative; margin:0 -5px; }
.article_header > .byline > a {padding:0 5px; font-size: 14px; font-weight: 700; }
.article_header > .byline .btn_byline_more { display: flex; margin-left: 5px; font-size: 13px; }
.article_header > .byline .btn_byline_more .ico_arrow { width: 14px; height: 14px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h14v14H0z'/%3E%3Cpath fill='%231D1D1D' d='M2 5l1-1 4 5 4-5 1 1-5 5-5-5z'/%3E%3C/g%3E%3C/svg%3E"); }
.article_header > .byline .btn_byline_more.active .ico_arrow { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 14h14V0H0z'/%3E%3Cpath fill='%231D1D1D' d='M2 9l1 1 4-5 4 5 1-1-5-5-5 5z'/%3E%3C/g%3E%3C/svg%3E"); }
.article_header + .subscription_wrap {margin-top:30px;}

.article_body {padding:30px 0 40px;}
.article_footer {padding-top:30px;border-top:1px solid #e2e2e2;}
.article_footer .subscription_wrap, 
.article_footer .empathy_wrap { margin-top: 30px; }
.article_footer .comment_wrap { margin-top: 40px; border-top: 4px solid #ff4620; }


/* sticky_menu */
.sticky_menu { z-index: 310; position: fixed; top: 344px;  left:calc(100vw / 2 + 485px * -1); /*left: 50%; transform: translateX(-50%);*/ width: 80px; padding: 30px 0; border: 1px solid #e2e2e2; border-radius: 40px; background-color: #fff; }
.sticky_menu > button { display: block; overflow:visible; position: relative; width: 100%; font-size: 0; text-align: center; }
.sticky_menu > button:nth-child(n+2) { margin-top: 16px;}
.sticky_menu span.sm_hidden { display: block; font-size: 13px; line-height: 22px; color: #999; letter-spacing: -0.5px; }
.sticky_menu .ico_bookmark { width: 26px; height: 26px; }
.sticky_menu .comment_cnt { position: absolute; top: -4px; right: 20px; min-width: 20px; height: 14px; padding: 0 4px 1px; border-radius: 7px; background: #f6330a; font-size: 9px; line-height: 14px; color: #fff; }
.sticky_menu .ico_comment { width: 26px; height: 26px; }
.sticky_menu .ico_share { width: 26px; height: 26px; }
.sticky_menu .btn_fontsize { padding-top: 17px; }
.sticky_menu .btn_fontsize:before { content: ''; position: absolute; top: 0; left: 50%; width: 33px; height: 1px; transform: translateX(-50%); background: #e2e2e2;}
.sticky_menu .ico_fontsize { top: 17px; width: 18px; height: 24px; }
.sticky_menu .ico_print { width: 23px; height: 24px; }
.sticky_menu .reader_area { position: relative; margin-top: 16px; padding-top: 16px; text-align: center; }
.sticky_menu .reader_area:before { content: ''; position: absolute; top: 0; left: 50%; width: 33px; height: 1px; transform: translateX(-50%); background: #e2e2e2;}
.sticky_menu .reader_area .cnt { display: block; margin-bottom: 2px; font-family: "Noto Sans KR"; font-size: 16px; line-height: 24px;  color: #111; }

.sticky_menu .layer_share { left: 90px; top: 158px; }
.sticky_menu .layer_fontsize { left: 90px; top: 240px; width: 230px; height: 158px; padding: 14px 20px 20px; }
.sticky_menu .layer_fontsize .layer_body > p { margin-top: 10px; font-size: 13px; line-height: 22px; letter-spacing: -0.5px; color: #999; }
.sticky_menu .layer_fontsize .btn_close { top: 15px; right: 18px; }
.sticky_menu .layer_fontsize ul { display: flex; justify-content: space-between; margin-top: 20px; }
.sticky_menu .layer_fontsize li a { display: block; width: 30px; height: 30px; border: 1px solid #e2e2e2; border-radius: 50%; font-size: 0; }
.sticky_menu .layer_fontsize li a:hover { text-decoration: none; }
.sticky_menu .layer_fontsize li a:focus { background: #e2e2e2;}
.sticky_menu .layer_fontsize li a:before { display: inline-block; content: '가'; width: 100%; font-size: 12px; line-height: 30px; color: #111; text-align: center; }
.sticky_menu .layer_fontsize li:nth-child(2) a:before { font-size: 14px;}
.sticky_menu .layer_fontsize li:nth-child(3) a:before { font-size: 15px;}
.sticky_menu .layer_fontsize li:nth-child(4) a:before { font-size: 16px;}
.sticky_menu .layer_fontsize li:nth-child(5) a:before { font-size: 17px;}

/* 스크롤 인디케이터 */
.scroll_indicator { position: fixed; left: 0; top: 60px; width: 100%; height: 4px;  background-color: #e2e2e2;  }
.scroll_indicator span { position: absolute;  height: 4px; background-color: #f6330a; }

/* 속보 티커 */
.layer_ticker { display: none; z-index: 310; position: fixed; left: 0; width: 100%; background-color: #fff6e2; }
.layer_ticker.active { display: block; }
.layer_ticker .layer_body { display: flex; position: relative; max-width: 580px; width: 100%; height: 100%; margin: 0 auto; }
.layer_ticker .badge { height: 24px; }
.layer_ticker .headline { margin-left: 10px; }
.layer_ticker .date { margin-left: 10px; }
.layer_ticker .btn_close { position: absolute; }


/* 하이라이트 */
[class*="highlighted"] { position: relative; }
.highlighted { background-color: #e2e2e2; }
.highlighted::before, 
.highlighted::after { content: ''; position: absolute; width: 2px; height: 1.5em; background-color: #999; }
.highlighted::before { top: 0; }
.highlighted::after { bottom: 0; }
.text_highlighted { background-color: #ffe1d9; }
.memo_highlighted { background-color: #ffeec8; }
.highligth_bx { z-index: 1; position: absolute; bottom: -45px; width: 230px; height: 40px; padding: 10px 20px; border-radius: 4px; background-color: #333; }
.highligth_bx button { font-size: 14px; font-weight: 700; line-height: 20px; vertical-align: top; color: #fff; }
.highligth_bx button:nth-child(n+2) { margin-left: 13px; }
.highligth_bx button.active { color: #ff7558; }
/* 메모 레이어 */
.layer_memo { width: 320px; height: 212px; padding: 14px 20px 20px; }
.layer_memo .layer_header { line-height: 20px; } 
.layer_memo .layer_body { margin-top: 12px; }
.layer_memo textarea { width: 100%; height: 108px; overflow-y: auto; border: 0; font-size: 15px; line-height: 24px; color: #666; }
.layer_memo .text_count { font-size: 13px; line-height: 22px; letter-spacing: -0.5px; color: #999;  }
.layer_memo .layer_footer { display: flex; align-items: center; justify-content: space-between; overflow: hidden; margin-top: 10px; }
.layer_memo .btn_close { right: 12px; top: 12px; }

.fs1 {font-size:14px;line-height:1.93;letter-spacing:normal;}
.fs2 {font-size:16px;line-height:1.81;letter-spacing:normal;}
.fs3 {font-size:18px;line-height:1.72;letter-spacing:-0.5px;}
.fs4 {font-size:20px;line-height:1.8;letter-spacing:-0.5px;}
.fs5 {font-size:22px;line-height:1.73;letter-spacing:-0.52px;}


/****************************************************************************************************/
/***                                           content                                            ***/
/****************************************************************************************************/


/****************************************************************************************************/
/***                                            image                                             ***/
/****************************************************************************************************/
.mask{position:absolute;top:0;right:0;bottom:0;left:0;padding:0 !important;border:1px solid #000 !important;opacity:0;}

.ab_photo {padding-top:40px;}
.ab_photo.photo_left {float:left;margin:0 40px 0 0;} /* margin:20px 20px 20px 0;*/
.ab_photo.photo_right {float:right;margin:0 0 0 40px;}
.ab_photo .image {position:relative;display:inline-block;width:auto;}
.ab_photo img{max-width:100%;}

/* 확대보기 버튼 */
.ab_photo .button {display:block;position:absolute;bottom:0;right:0;width:59px;height:59px;background:url('https://images.joins.com/ui_joongang/news/pc/article/b_photo_enlarge2.png') 0 0 no-repeat;}
.ab_photo .btn_enlarge {overflow:hidden;width:45px;height:45px;padding:6px 8px 8px 6px !important;}
.ab_photo .btn_enlarge .icon {display:block;position:absolute;top:16px;left:16px;width:25px;height:25px;background:url('https://images.joins.com/ui_joongang/news/pc/article/u_photo_enlarge2.png') 0 0 no-repeat;text-indent:-9999px;overflow:hidden;cursor:pointer;}
.ab_photo.photo_cover .btn_enlarge {right:-380px;}

/* cover */
#cover{position:absolute;top:0;left:0;right:0;width:100%;min-width:1060px;height:600px;background-color:#000;text-align:center;background-position:50% 0;background-repeat:no-repeat;background-attachment:fixed;will-change:transform;}
#cover_450h{position:absolute;top:0;left:0;right:0;width:100%;min-width:1060px;height:450px;background-color:#000;text-align:center;background-position:50% 0;background-repeat:no-repeat;background-attachment:fixed;background-size:auto 450px;will-change:transform;}


/****************************************************************************************************/
/***                                             tag                                              ***/
/****************************************************************************************************/
.tag_wrap ul { display:flex; flex-flow: wrap; align-items:center; margin: -7px -3px 0; }
.tag_wrap ul li { margin-top: 7px; padding: 0 3px; }
.tag_wrap .tag {flex: 0 0 auto; padding: 0 12px;background:#fff4f1;border:1px solid #f6330a;color:#f6330a;font-weight: bold;}


/****************************************************************************************************/
/***                                            구독                                              ***/
/****************************************************************************************************/
.subscription_wrap {padding:12px 20px;background-color: #fff6e2;}
/* .subscription_wrap .title_wrap{padding:0;margin-bottom:17px;height:28px;} */
.subscription_wrap .title_wrap{display:flex;align-items: center;padding-top: unset;}
.subscription_wrap .title_wrap button{margin-left: auto;}
.subscription_wrap .title {font-size: 16px;font-weight: 700;line-height: 1.5;color:#f6330a;}
.subscription_info {padding:24px 0 18px;color:#f6330a;font-size: 14px;line-height: 1.5;letter-spacing: normal;word-break: break-all;text-align: justify;}

/*** 팩플레터 ***/
.letter_wrap { margin: 40px 0; padding: 30px 0; background-color: #f4f5fa; text-align: center; }
.letter_wrap .title { color: #1d1d1d; font-size: 16px; font-weight: 700; line-height: 24px;  }
.letter_wrap .description { margin-top: 6px; font-size: 14px; line-height: 22px; color: #1d1d1d; }
.letter_wrap .btn_primary { margin: 14px auto 0; }
.letter_wrap .btn_more { display: block; margin-top: 13px; font-size: 14px; line-height: 22px; color: #666; }
.letter_wrap .btn_more .ico_more { width: 12px; height: 12px; }

/****************************************************************************************************/
/***                                           관련기사                                            ***/
/****************************************************************************************************/
.row.gutter0 {margin-left: 0;margin-right: 0;}
.row.gutter0 > * {padding-left: 0;padding-right: 0;}


/* 텍스트형 */
/* 2016-06-22 모듈 추가(박스기사, 관련기사, 소제목) */
.ab_box_article {clear:both;position:relative;padding-top:17px;padding-bottom:16px;*zoom:1;}
.article_body > div.ab_box_article:first-child{padding-top:17px !important;padding-bottom:16px !important;}
.ab_box_article .ab_photo {max-width:538px;padding-top:8px;padding-bottom:12px;}
.ab_box_article .ab_photo.photo_left {margin-right:20px;}
.ab_box_inner {padding:42px 20px 24px;border:1px solid #dddddd;overflow:hidden;}
.ab_box_title {margin-bottom:17px;color:#5d81c3;font-size:20px;line-height:1.5;}
.ab_box_bullet {display:block;position:absolute;top:12px;left:20px;width:18px;height:28px;background:#5d81c3;overflow:hidden;}
.ab_box_titleline {font-weight:bold;}
.ab_box_content {color:#3c3e40;font-size:16px;line-height:30px;}
.ab_sub_heading {clear:both;position:relative;margin-top:17px;margin-bottom:16px;padding-top:12px;padding-bottom:16px;border-top:1px solid #444446;border-bottom:1px solid #ebebeb;color:#3e3e40;font-size:20px;line-height:1.5;}
.article_body > div.ab_sub_heading:first-child{padding-top:12px !important;padding-bottom:16px !important;}
.ab_sub_headingline {color:#3c3e40;font-weight:bold;}
.ab_sub_headingline * {color:#3c3e40 !important;}
.ab_related_article {clear:both;position:relative;padding:24px 0 16px;}
.article_body > div.ab_related_article:first-child{padding:24px 0 16px !important;}
.ab_related_article .hd {position:absolute;top:9px;left:0;padding-right:10px;background:#fff;color:#ff3c14;font-weight:700;font-size:16px;line-height:1.8;}
.ab_related_article .bd {border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
.ab_related_article .text_type {padding:10px 0 22px;}

.ab_related_article .image_type {padding:10px 0 24px;overflow:hidden;}
.ab_related_article .image_type li {float:left;width:50%;overflow:hidden;}
.ab_related_article .headline {display:block;max-height:75px;margin-top:7px;color:#3c3e40;font-weight:bold;font-size:17px;line-height:25px;overflow:hidden;}
.ab_related_article .headline a {color:#3c3e40;}
.ab_related_article .thumb {display:block;float:left;position:relative;width:70px;height:70px;margin-top:14px;margin-right:15px;overflow:hidden;}
.ab_related_article .thumb img {width:70px;height:70px;}
.ab_related_article .text_type .headline {padding-left:16px;background:url('https://images.joins.com/ui_joongang/news/pc/article/bu_related_article.png') 0 11px no-repeat;}
.ab_related_article .image_type .headline {margin-right:15px;}








/*************************************************************************************************************************/
/*************************************************************************************************************************/
/*************************************************************************************************************************/


/****************************************************************************************************/
/***                                           파티클                                             ***/
/****************************************************************************************************/
.ab_photo.photo_center {position:relative;max-width:100vw !important;}
.ab_photo.photo_center .image {width:100%;max-width:100vw !important;}



/* Medium devices (mobile ~ tablet, 1023px and down) */
@media (max-width:1023px) {

/****************************************************************************************************/
/***                                           layout                                             ***/
/****************************************************************************************************/
    .scroll_indicator { top: 58px; }
    .article_header .datetime .time_bx { position: relative; }
    .article_header .datetime .time_bx > .date:nth-last-of-type(2) { display: none; }
    .article_header .datetime .time_bx.open > .date:nth-last-of-type(2) { display: block; }
    .article_header .datetime .time_bx .btn_datetime { position: absolute; right: -16px; bottom: 2px; width: calc(100% + 16px); text-align: right; }
    .article_header .datetime .time_bx .btn_datetime .ico_arrow { width: 14px; height: 14px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h14v14H0z'/%3E%3Cpath fill='%23999' d='M2 5l1-1 4 5 4-5 1 1-5 5-5-5z'/%3E%3C/g%3E%3C/svg%3E"); }
    .article_header .datetime .time_bx.open .btn_datetime .ico_arrow { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 14h14V0H0z'/%3E%3Cpath fill='%23999' d='M2 9l1 1 4-5 4 5 1-1-5-5-5 5z'/%3E%3C/g%3E%3C/svg%3E"); }
    .article_header > .byline { min-height: 50px; padding: 10px 0; }
    .article_header > .byline > a { margin: 4px 0; line-height: 22px; }
    /* sticky_menu */
    .sticky_menu { position: fixed; top: 0; left: 0; transform: none; width: 100%; height: 58px; padding: 19px 0 0; margin: 0; border: none; border-radius: 0; opacity: 0; transition: opacity 0.3s;}
    .sticky_menu.fixed { z-index: 310; opacity: 1; transition: opacity 0.3s;}
    .sticky_menu > button { position: absolute; top: 19px; width: auto; vertical-align: top; }
    .sticky_menu > button:nth-child(n+2) { margin-top: 0;}
    .sticky_menu > button [class*="ico_"] { height: 26px; }
    .sticky_menu span.sm_hidden { display: none; }
    .sticky_menu .btn_comment { left: 20px; }
    .sticky_menu .comment_cnt { right: 0; transform: translateX(50%); }
    .sticky_menu .btn_share { left: 58px; }
    .sticky_menu .btn_bookmark { left: 96px; }
    .sticky_menu .btn_fontsize { right: 20px; padding: 0;}
    .sticky_menu .btn_fontsize:before { display: none; }
    .sticky_menu .btn_print { display: none; }
    .sticky_menu .reader_area { display: none; }
    .sticky_menu .layer_share { top: 73px; left: 52px;}
    .sticky_menu .layer_fontsize { top: 73px; right: 20px; left: auto; }
    /* Medium devices (only tablet, 768px and 1023px) */

    /****************************************************************************************************/
    /***                                             tag                                              ***/
    /****************************************************************************************************/
    .tag_wrap .tag { padding: 3px 12px 4px; font-size: 13px; line-height: 19px; letter-spacing: -0.5px; }


    /* 속보 티커 */
    .layer_ticker { top: 62px; }
    .layer_ticker .date { display: none; }
    .layer_ticker .layer_body { max-width: 100%; padding: 10px 52px 10px 20px; }
    .layer_ticker .btn_close { right: 20px; }



    /****************************************************************************************************/
    /***                                           content                                            ***/
    /****************************************************************************************************/
    .ab_photo.photo_center {width:100vw !important;margin-left:-20px;}
    .ab_photo.photo_center img{width:100vw !important;}
    .ab_photo.photo_center .caption {padding:0 20px;}

    /* 댓글레이어 */
    .layer_comment { display: none; width: 100%; padding: 54px 20px; }
    .layer_comment::before { content: ''; z-index: 301; position: fixed; right: 0; top: 0; width: 100%; height: 54px; background-color: #fff; }
    .layer_comment.active { display: block; }
    .layer_comment .btn_close { z-index: 101; position: fixed; right: 20px; top: 20px; }
    .main_sm_text_area + .comment_state { margin-top: 20px; padding-top: 30px; border-top: 1px solid #d8d8d8; }


}


/* Large devices (desktops, 1024px and up) */
@media (min-width:1024px) {
    /****************************************************************************************************/
    /***                                           layout                                             ***/
    /****************************************************************************************************/
    .article_header .datetime .time_bx { display: flex; align-items: center;}
    .article_header .datetime .time_bx > .date:nth-of-type(1):nth-last-of-type(2) { margin-right: 10px; }
    .article_header > .byline  { min-height: 52px; padding: 11px 0; }
    .article_header > .byline > a { margin: 5px 0; line-height: 20px; }
    .article_header .headline.fixed { z-index: 500; position: fixed; left: 50%; top: 0; transform: translateX(-50%); padding: 18px 0; font-size: 16px; line-height: 24px; color: #111; }

    .ab_photo.photo_center {left: 50%;transform: translateX(-50%);}
    /* .ab_photo.photo_center .image {max-width:100vw;} */
    .ab_photo.photo_center .image img {width:100%;max-width:100%;}
    .datetime > .date:nth-of-type(n+2) { margin-left: 10px; }

    /****************************************************************************************************/
    /***                                             tag                                              ***/
    /****************************************************************************************************/
    .tag_wrap .tag {padding: 2px 12px 4px; font-size: 12px; line-height: 18px; }

    /****************************************************************************************************/
    /***                                            구독                                              ***/
    /****************************************************************************************************/
    .subscription_info {line-height:normal;}


    /****************************************************************************************************/
    /***                                           content                                            ***/
    /****************************************************************************************************/

    /*** 팩플레터 ***/

    /* 댓글레이어 */
    .layer_comment { right: -100%; transition: all 0.8s; width: 560px; padding: 30px 40px; box-shadow: -5px 2px 7px rgba(0, 0, 0, 0.08); }
    .layer_comment .btn_close { position: absolute; right: 40px; top: 30px; }
    .main_sm_text_area { display: none; }
    .sticky_menu .layer_fontsize::before,
    .sticky_menu .layer_share::before { content: ''; z-index: 1; position: absolute; left: -5px; top: 20px; transform: rotate(-45deg); width: 7px; height: 7px; border-left: 1px solid rgba(0, 0, 0, 0.2); border-top: 1px solid rgba(0, 0, 0, 0.2); background-color: #fff; }

    /* 속보티커 */
    .layer_ticker { top: 64px; height: 52px; }
    .layer_ticker .layer_body { align-items: center; }


    .scroll_indicator { top: 60px; }
    .article {max-width: 580px;padding:40px 0 60px;margin:0 auto;background: #fff;zoom: 1;}
    .article_header,
    .article_body,
    .article_footer {max-width:580px;}
    /* .ab_photo.photo_center {position:relative;max-width:100vw !important;left:50%;transform:translateX(-50%);} */

    .layer_ticker .btn_close { position: absolute; right: 20px; top: 12.5px; }

    .related_link .card_image {margin-right:15px;}

}

@media (min-width:1200px) {
    .layer_ticker .btn_close { left: 50%; top: 50%; transform: translate(-50%,-50%); margin-left: 590px; }

}

/* Unique devices (large desktops, 1280px and up) */
@media (min-width:1280px) {

}
