@charset "utf-8";
/* Small devices (portrait phones, landscape phones, less than 767px) */
/* No media query this is the default */

/* contents layout */






/***************************************    general     ************************************/



/***************************************    catalog     ************************************/



/***************************************    unique     ************************************/



/***************************************    catalog     ************************************/



/* sns - Instagram */


/* 광고영역 */
.ad_wrap{width:100%;padding:30% 30%;background:#eee;text-align:center}

/* 태블릿 디자인 나올때 까지는 아래 분기만 사용 - 2021.04.22 */
/* Mobile devices (mobile + tablet, 1023px and down) */
@media (max-width:1023px) {

    /* card */

    /* .card_image + .card_body { padding-top: 8px; } */
    

    /***************************************    general     ************************************/
    .showcase_general{padding-top:20px; padding-bottom: 40px;}
    .showcase_general .card_body{padding-top: 16px;}
    .showcase_general .card_body .headline{line-height: 30px;}
    .showcase_general .card_body .description{display: none;}

    .showcase_general .story_list{margin-top:20px;}
    .showcase_general .story_list .headline{line-height: 30px;}
    .showcase_general .story_list .card{padding-bottom:0px;}
    .showcase_general .story_list .card::before{top:0;}


    /***************************************    catalog     ************************************/


    /***************************************    unique     ************************************/
    
}

/* Large devices (desktops, 1024px and up) */
@media (min-width:1024px) {
    .contents {padding-top:44px;padding-bottom:120px;}

    /* nav */

    /* 컴포넌트 */
    
    /* grid */
    .col_lg56{flex:0 0 auto;width:55.6666666667%;}
    .col_lg44{flex:0 0 auto;width:44.3333333333%;}

    /* float*/
    .float_left{float:left;width:893px;}
    .float_right{float:right;width:278px;}
    .row.float_left{width:923px;margin-left:-15px;margin-right:-15px;} /*쇼케이스 3개 타입 경우 예외처리*/
    /* card*/
    /* .card_body .headline {font-size:16px;} */
    /* .card_body .description {color:#444; font-size:14px;} */

    /***************************************    general     ************************************/
    .showcase_general{padding-top:24px; padding-bottom: 60px;}
    .showcase_general .card_body .headline{line-height: 44px;}
    .showcase_general .card_body .description{font-size:15px; line-height: 24px;}

    .showcase_general .story_list{margin-top:20px;}
    .showcase_general .story_list .headline{line-height: 30px;}
    .showcase_general .story_list .card{padding-bottom:0px;}
    .showcase_general .story_list .card::before{top:0;}

    /***************************************    unique     ************************************/



    /***************************************    catalog     ************************************/
   

    /* catalog main swiper */
    
    /* card */
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {

}

/* Unique devices (large desktops, 1280px and up) */
@media (min-width:1280px) {

}



