@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    display: block;
    margin: 0;
}

input,
textarea,
select,
a {
    outline: none;
    box-shadow: none;
}
option {
    background: #fff;
    color: #000;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background-color: #5c5c6a;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color: #dddddd;
}
::-webkit-scrollbar-corner {
    background-color: #dddddd;
}

/* 에디터 에러 라인 */
.errorContextGlyphMargin {
    background-image: url('./assets/images/icon/error_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    cursor: pointer;
    height: 16px !important;
    width: 16px !important;
    margin-top: 1px;
    margin-left: 9px;
    /* background: #f3dbdb; */
}
.errorContextDecoration {
    background: #f7eaea;
}
/* 에디터 glyph hover message css */
.monaco-editor-hover .hover-row {
    font-family: 'Noto Sans KR';
    padding: 0px 4px;
    font-size: 13px;
}
