<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.web.schedule.mvc.mybatis.mapper.JReporterListJobMapper">

  <!-- 중앙 기자 리스트 -->
  <select id="findAll" parameterType="JReporterListJobDTO"
    resultType="jmnet.moka.web.schedule.mvc.mybatis.vo.JReporterVO" statementType="CALLABLE">
    {call UPA_SCHEDULE_15RE_REPORTER_LIST_SEL(
      #{pageIndex, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{pageSize, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{r1Cd, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{r2Cd, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{r3Cd, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{r4Cd, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{repName, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{usedTotalCount, mode=IN, jdbcType=VARCHAR, javaType=string}
      ) }
  </select>

</mapper>