<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.web.bulk.mapper.idb.BulkDumpIdbMapper">
  <select id="callUspBulkDdrefListSel" parameterType="HashMap" resultType="HashMap"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_DDREF_LIST_SEL(
      #{topCount, mode=IN, jdbcType=INTEGER, javaType=int},
      #{currentSeqNo, mode=IN, jdbcType=INTEGER, javaType=int}
      )
      }
    ]]>
  </select>

  <delete id="callUspBulkDdrefDel" parameterType="BulkDumpTotalVo"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_DDREF_DEL(
      #{seqNo, mode=IN, jdbcType=INTEGER, javaType=int}
      )
      }
    ]]>
  </delete>

  <select id="callUspBulkCopyrightSel" parameterType="BulkDumpEnvTarget" resultType="BulkDumpEnvCopyright"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_COPYRIGHT_SEL(
      #{targetName, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>



  <select id="callUspBulkNewstableJoongangSel" parameterType="BulkJoongangArticle"
    resultType="BulkDumpNewsVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_NEWSTABLE_JOONGANG_SEL(
      #{insDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{targetCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUspBulkNewstableJoongangJopanSel" parameterType="BulkJoongangArticle"
    resultType="BulkDumpNewsVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_NEWSTABLE_JOONGANG_JOPAN_SEL(
      #{insDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{targetCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUspBulkNewstableJoongangMobileSel" parameterType="BulkJoongangArticle"
    resultType="BulkDumpNewsVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_NEWSTABLE_JOONGANG_MOBILE_SEL(
      #{insDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{targetCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUspBulkNewstableJoongangExSel" parameterType="BulkJoongangArticleEx"
    resultType="BulkDumpNewsVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_NEWSTABLE_JOONGANG_EX_SEL(
      #{insDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{targetCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUspBulkNewstableSundaySel" parameterType="BulkSundayArticle"
    resultType="BulkDumpNewsVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_NEWSTABLE_SUNDAY_SEL(
      #{insDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{targetCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUspBulkNewstableJoinslandSel" parameterType="BulkJoinsLandArticle"
    resultType="BulkDumpNewsVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_NEWSTABLE_JOINSLAND_SEL(
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUspBulkReporterJoongangSel" parameterType="BulkArticle"
    resultType="HashMap" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_REPORTER_JOONGANG_SEL(
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUspBulkNewsMMDataSel" parameterType="BulkArticle"
    resultType="BulkDumpNewsMMDataVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_NEWSMMDATA_SEL(
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string},
      0
      )
      }
    ]]>
  </select>

  <select id="callUspBulkJoinslandNewsMMDataSel" parameterType="BulkArticle"
    resultType="BulkDumpNewsMMDataVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_BULK_JOINSLAND_NEWSMMDATA_SEL(
      #{totalId.data, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>
</mapper>

