<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.comment.mvc.comment.mapper.CommentMapper">

  <resultMap type="CommentVO" id="CommentMap">
    <id property="totalId" column="TOTAL_ID"/>
    <result property="atcid" column="ATCID"/>
    <result property="commentSeq" column="CMTSN"/>
    <result property="psn" column="CMTPSN"/>
    <result property="cont" column="CMTCont"/>
    <result property="goodCnt" column="CMTGoodCnt"/>
    <result property="badCnt" column="CMTBadCnt"/>
    <result property="userID" column="CMTUserID"/>
    <result property="userName" column="CMTUserName"/>
    <result property="userImage" column="CMTUserImage"/>
    <result property="regDt" column="CMTRegDt"/>
    <result property="state" column="CMTState"/>
    <result property="userIp" column="CMTUserIP"/>
    <result property="userType" column="CMTUserType"/>
    <result property="repoCnt" column="CMTRepoCnt"/>
    <result property="referType" column="CMTReferType"/>
    <result property="reCnt" column="re_count"/>
    <result property="artTitle" column="ARTICLE_TITLE"/>
  </resultMap>

  <select id="findAll" parameterType="CommentSearchDTO" resultMap="CommentMap"
    statementType="CALLABLE">
    {#{returnValue, mode=OUT, jdbcType=INTEGER, javaType=int} = call UPA_PA_CMT_COMMENT_LIST_SEL(
    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{refer, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{orderType, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{keyword, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{adminStatus, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{startDt, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{endDt, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{userType, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{searchType, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{referType, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string}
    )}
  </select>

</mapper>
