<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.component.mapper.ComponentMapper">

	<sql id="findAllWhere">
		WHERE
		<!-- 도메인 조건 -->
		COMPONENT.DOMAIN_ID = #{domainId}
		<!-- 검색 조건 -->
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'componentSeq'">
					AND COMPONENT.COMPONENT_SEQ = #{keyword}
				</when>
				<when test="searchType == 'componentName'">
					AND COMPONENT.COMPONENT_NAME like '%${keyword}%'
				</when>
				<when test="searchType == 'templateSeq'">
					AND COMPONENT.TEMPLATE_SEQ = #{keyword}
				</when>
				<when test="searchType == 'templateName'">
					AND TEMPLATE_NAME like '%${keyword}%'
				</when>
				<when test="searchType == 'all'">
					AND (COMPONENT.COMPONENT_SEQ = #{keyword} 
						OR COMPONENT.COMPONENT_NAME like '%${keyword}%' 
						OR COMPONENT.TEMPLATE_SEQ = #{keyword} 
						OR TEMPLATE_NAME like '%${keyword}%')
				</when>
			</choose> 
		</if>
		<!-- 템플릿 그룹 조건 -->
		<if test="tpZone != null and tpZone != '' and tpZone != 'all'">
			AND TEMPLATE.TEMPLATE_GROUP = #{tpZone}
		</if>
	</sql>
	
	<sql id="findAllOrder">
		<if test="sortByColumn != null">
			ORDER BY
			<foreach open="" close="" collection="sortByColumn" item="sortItem" separator=",">
				${sortItem}
			</foreach>
		</if>
	</sql>
	
	<select id="findAll"
		parameterType="componentSearchDTO"
		resultType="componentVO">
		SELECT 
			COMPONENT.COMPONENT_SEQ,COMPONENT.COMPONENT_NAME,
			(
				SELECT ETC.CODE_NAME
				FROM WMS_ETCCODE AS ETC, WMS_ETCCODE_TYPE ETCTYPE
				WHERE ETC.CODE_TYPE_SEQ = ETCTYPE.CODE_TYPE_SEQ 
					AND TEMPLATE.TEMPLATE_GROUP = ETC.CODE_ID 
					AND ETCTYPE.CODE_TYPE_ID='TP_ZONE'  
			) AS TP_ZONE,
			(
				SELECT 
				   CASE WHEN 
				      (COUNT(PR.REL_SEQ) + COUNT(SR.REL_SEQ) + COUNT(CR.REL_SEQ) + COUNT(ED.EDITION_SEQ)) > 0 
				    THEN 'Y' ELSE 'N' END
				FROM WMS_COMPONENT CP
					LEFT OUTER JOIN WMS_PAGE_REL PR ON CP.COMPONENT_SEQ = PR.REL_SEQ AND PR.REL_TYPE='CP'
					LEFT OUTER JOIN WMS_SKIN_REL SR ON CP.COMPONENT_SEQ = SR.REL_SEQ AND SR.REL_TYPE='CP'
					LEFT OUTER JOIN WMS_CONTAINER_REL CR ON CP.COMPONENT_SEQ = CR.REL_SEQ AND CR.REL_TYPE='CP'
					LEFT OUTER JOIN WMS_EDITION ED ON CP.COMPONENT_SEQ = ED.COMPONENT_SEQ
				WHERE CP.COMPONENT_SEQ = COMPONENT.COMPONENT_SEQ	
			) AS USE_YN, 
			TEMPLATE.TEMPLATE_NAME, 
			TEMPLATE.TEMPLATE_SEQ
		FROM WMS_COMPONENT COMPONENT
		JOIN WMS_TEMPLATE TEMPLATE ON COMPONENT.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ
		<include refid="findAllWhere"/>
		<include refid="findAllOrder" />
	</select>
	
	<select id="count"
		parameterType="componentSearchDTO"
		resultType="java.lang.Long">
		SELECT 
			COUNT(COMPONENT.COMPONENT_SEQ) AS TOTAL_CNT
		FROM WMS_COMPONENT COMPONENT
		JOIN WMS_TEMPLATE TEMPLATE ON COMPONENT.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ
		<include refid="findAllWhere"/>
	</select>
	
	<!-- 관련컴포넌트 공통 컬럼  -->
	<sql id="childRelsColumns">
		COMPONENT.COMPONENT_SEQ,
		COMPONENT.COMPONENT_NAME,
		TEMPLATE.TEMPLATE_SEQ,
		TEMPLATE.TEMPLATE_NAME,
		(SELECT CODE_NAME FROM WMS_ETCCODE A, WMS_ETCCODE_TYPE B WHERE A.CODE_TYPE_SEQ = B.CODE_TYPE_SEQ AND B.CODE_TYPE_ID = 'TP_ZONE' AND A.CODE_ID = TEMPLATE.TEMPLATE_GROUP ) AS TP_ZONE		
	</sql>
		
	<!-- 페이지의 관련컴포넌트 목록 조회  -->
	<select id="findPageChildRels"
		parameterType="componentSearchDTO"
		resultType="componentVO">
		SELECT * FROM (
			SELECT
				<include refid="childRelsColumns" />,
				OUT_ORDER,
				IN_ORDER,
				(@rownum := @rownum + 1) AS REL_ORDER
			FROM (
				SELECT 
					PREL.REL_SEQ, PREL.REL_ORDER AS OUT_ORDER, PREL.REL_ORDER AS IN_ORDER
				FROM WMS_PAGE_REL PREL WHERE PREL.PAGE_SEQ = #{keyword} AND PREL.REL_TYPE ='CP'
				UNION
				SELECT 
					CTREL.REL_SEQ, PREL.REL_ORDER AS OUT_ORDER, CTREL.REL_ORDER AS IN_ORDER
				FROM WMS_PAGE_REL PREL,  WMS_CONTAINER_REL CTREL
				WHERE PREL.PAGE_SEQ = #{keyword} 
				AND PREL.REL_TYPE ='CT'
				AND PREL.REL_SEQ = CTREL.CONTAINER_SEQ 
				AND CTREL.REL_TYPE ='CP'
				AND CTREL.REL_SEQ NOT IN (SELECT REL_SEQ  FROM WMS_PAGE_REL  WHERE PAGE_SEQ = #{keyword} AND REL_TYPE ='CP') 
			) AS X, WMS_COMPONENT COMPONENT, WMS_TEMPLATE TEMPLATE, (SELECT @rownum:= 0) AS TMP
			<include refid="findAllWhere"/>
				AND X.REL_SEQ = COMPONENT.COMPONENT_SEQ
				AND COMPONENT.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ
			ORDER BY OUT_ORDER ASC, IN_ORDER ASC
		) AS M
		<include refid="findAllOrder" />
	</select>
	
	<select id="findPageChildRelsCount"
		parameterType="componentSearchDTO"
		resultType="java.lang.Long">
		SELECT 
			COUNT(COMPONENT.COMPONENT_SEQ) AS TOTAL_CNT
		FROM (
			SELECT PREL.REL_SEQ FROM WMS_PAGE_REL PREL WHERE PREL.PAGE_SEQ = #{keyword} AND PREL.REL_TYPE ='CP'
			UNION
			SELECT CTREL.REL_SEQ FROM WMS_PAGE_REL PREL,  WMS_CONTAINER_REL CTREL
			WHERE PREL.PAGE_SEQ = #{keyword} 
			AND PREL.REL_TYPE ='CT'
			AND PREL.REL_SEQ = CTREL.CONTAINER_SEQ 
			AND CTREL.REL_TYPE ='CP'
		) AS X, WMS_COMPONENT COMPONENT, WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere"/>
			AND X.REL_SEQ = COMPONENT.COMPONENT_SEQ
			AND COMPONENT.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ
	</select>
	
	<!-- 콘텐츠스킨의 관련컴포넌트 목록 조회  -->
	<select id="findSkinChildRels"
		parameterType="componentSearchDTO"
		resultType="componentVO">
		SELECT * FROM (
			SELECT
				<include refid="childRelsColumns" />,
				OUT_ORDER,
				IN_ORDER,
				(@rownum := @rownum + 1) AS REL_ORDER
			FROM (
				SELECT 
					PREL.REL_SEQ, PREL.REL_ORDER AS OUT_ORDER, PREL.REL_ORDER AS IN_ORDER
				FROM WMS_SKIN_REL PREL WHERE PREL.SKIN_SEQ = #{keyword} AND PREL.REL_TYPE ='CP'
				UNION
				SELECT
					CTREL.REL_SEQ, PREL.REL_ORDER AS OUT_ORDER, CTREL.REL_ORDER AS IN_ORDER 
				FROM WMS_SKIN_REL PREL,  WMS_CONTAINER_REL CTREL
				WHERE PREL.SKIN_SEQ = #{keyword} 
				AND PREL.REL_TYPE ='CT'
				AND PREL.REL_SEQ = CTREL.CONTAINER_SEQ 
				AND CTREL.REL_TYPE ='CP'
				AND CTREL.REL_SEQ NOT IN (SELECT REL_SEQ  FROM WMS_SKIN_REL  WHERE SKIN_SEQ = #{keyword} AND REL_TYPE ='CP')
			) AS X, WMS_COMPONENT COMPONENT, WMS_TEMPLATE TEMPLATE, (SELECT @rownum:= 0) AS TMP
			<include refid="findAllWhere"/>
				AND X.REL_SEQ = COMPONENT.COMPONENT_SEQ
				AND COMPONENT.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ
			ORDER BY OUT_ORDER ASC, IN_ORDER ASC
		) AS M
		<include refid="findAllOrder" />
	</select>
	
	<select id="findSkinChildRelsCount"
		parameterType="componentSearchDTO"
		resultType="java.lang.Long">
		SELECT 
			COUNT(COMPONENT.COMPONENT_SEQ) AS TOTAL_CNT
		FROM (
			SELECT PREL.REL_SEQ FROM WMS_SKIN_REL PREL WHERE PREL.SKIN_SEQ = #{keyword} AND PREL.REL_TYPE ='CP'
			UNION
			SELECT CTREL.REL_SEQ FROM WMS_SKIN_REL PREL,  WMS_CONTAINER_REL CTREL
			WHERE PREL.SKIN_SEQ = #{keyword} 
			AND PREL.REL_TYPE ='CT'
			AND PREL.REL_SEQ = CTREL.CONTAINER_SEQ 
			AND CTREL.REL_TYPE ='CP'
		) AS X, WMS_COMPONENT COMPONENT, WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere"/>
			AND X.REL_SEQ = COMPONENT.COMPONENT_SEQ
			AND COMPONENT.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ
	</select>
	
	<!-- 컨테이너의 관련컴포넌트 목록 조회  -->
	<select id="findContainerChildRels"
		parameterType="componentSearchDTO"
		resultType="componentVO">
		SELECT
			DISTINCT
			<include refid="childRelsColumns" />,
			X.REL_ORDER
		FROM WMS_CONTAINER_REL X, WMS_COMPONENT COMPONENT, WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere"/>
			AND X.CONTAINER_SEQ = #{keyword}
			AND X.REL_TYPE ='CP'
			AND X.REL_SEQ = COMPONENT.COMPONENT_SEQ
			AND COMPONENT.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ
		<include refid="findAllOrder" />
	</select>
	
	<select id="findContainerChildRelsCount"
		parameterType="componentSearchDTO"
		resultType="java.lang.Long">
		SELECT 
			COUNT(DISTINCT COMPONENT.COMPONENT_SEQ) AS TOTAL_CNT
		FROM WMS_CONTAINER_REL AS X, WMS_COMPONENT COMPONENT, WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere"/>
			AND X.CONTAINER_SEQ = #{keyword}
			AND X.REL_TYPE ='CP'
			AND X.REL_SEQ = COMPONENT.COMPONENT_SEQ
			AND COMPONENT.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ
	</select>
	
</mapper>