<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.container.mapper.ContainerMapper">

	<sql id="findAllWhere">
		WHERE CONTAINER.DOMAIN_ID = #{domainId}
		<!-- 검색 조건 -->
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'containerSeq'">
					AND CONTAINER.CONTAINER_SEQ = #{keyword}
				</when>
				<when test="searchType == 'containerName'">
					AND CONTAINER.CONTAINER_NAME like '%${keyword}%'
				</when>
				<when test="searchType == 'containerBody'">
					AND CONTAINER.CONTAINER_BODY like '%${keyword}%'
				</when>
				<when test="searchType == 'all'">
					AND (
						CONTAINER.CONTAINER_SEQ like '%${keyword}%'
						OR CONTAINER.CONTAINER_NAME like '%${keyword}%' 
						OR CONTAINER.CONTAINER_BODY like '%${keyword}%'
					)
				</when>
			</choose>
		</if>
	</sql>
	
	<sql id="findAllOrder">
		<if test="sortByColumn != null">
			ORDER BY
			<foreach open="" close="" collection="sortByColumn" item="sortItem" separator=",">
				${sortItem}
			</foreach>
		</if>
	</sql>
	
	<select id="findAll" parameterType="ContainerSearchDTO" resultType="ContainerVO">
		SELECT DISTINCT
			CONTAINER.DOMAIN_ID,
			CONTAINER.CONTAINER_SEQ,
			CONTAINER.CONTAINER_NAME,
			CONTAINER.CONTAINER_BODY,
			(
				SELECT
				   CASE WHEN 
				      (COUNT(PR.REL_SEQ) + COUNT(SR.REL_SEQ)) > 0
				    THEN 'Y' ELSE 'N' END
				FROM WMS_CONTAINER CT
					LEFT OUTER JOIN WMS_PAGE_REL PR ON CT.CONTAINER_SEQ = PR.REL_SEQ AND PR.REL_TYPE='CT'
					LEFT OUTER JOIN WMS_SKIN_REL SR ON CT.CONTAINER_SEQ = SR.REL_SEQ AND SR.REL_TYPE='CT'
				WHERE CT.CONTAINER_SEQ = CONTAINER.CONTAINER_SEQ	
			) AS USE_YN
		FROM WMS_CONTAINER CONTAINER
		<include refid="findAllWhere" />
		<include refid="findAllOrder" />
	</select>
	
	<select id="count" parameterType="ContainerSearchDTO" resultType="java.lang.Long">
		SELECT 
			COUNT(CONTAINER.CONTAINER_SEQ) AS TOTAL_CNT
		FROM WMS_CONTAINER CONTAINER
		<include refid="findAllWhere"/>
	</select>
	
	<!-- 관련컨테이너 공통 컬럼  -->
	<sql id="childRelsColumns">
		CONTAINER.DOMAIN_ID,
		CONTAINER.CONTAINER_SEQ,
		CONTAINER.CONTAINER_NAME,
		CONTAINER.CONTAINER_BODY
	</sql>
	
	<!-- 페이지의 관련컨테이너 목록 조회 -->
	<select id="findPageChildRels" parameterType="ContainerSearchDTO" resultType="ContainerVO">
		SELECT  	
			DISTINCT		
			<include refid="childRelsColumns" />,
			PREL.REL_ORDER
		FROM WMS_PAGE_REL PREL, WMS_CONTAINER CONTAINER
		<include refid="findAllWhere" />
			AND PAGE_SEQ = #{keyword} 
			AND PREL.REL_TYPE ='CT'
			AND PREL.REL_SEQ = CONTAINER.CONTAINER_SEQ
		<include refid="findAllOrder" />
	</select>
	
	<select id="findPageChildRelsCount" parameterType="ContainerSearchDTO" resultType="java.lang.Long">
		SELECT 
			COUNT(DISTINCT CONTAINER.CONTAINER_SEQ) AS TOTAL_CNT
		FROM WMS_PAGE_REL PREL, WMS_CONTAINER CONTAINER
		<include refid="findAllWhere" />
			AND PAGE_SEQ = #{keyword} 
			AND PREL.REL_TYPE ='CT'
			AND PREL.REL_SEQ = CONTAINER.CONTAINER_SEQ
	</select>
	
	<!-- 콘텐츠스킨의 관련컨테이너 목록 조회 -->
	<select id="findSkinChildRels" parameterType="ContainerSearchDTO" resultType="ContainerVO">
		SELECT 
			DISTINCT 			
			<include refid="childRelsColumns" />,
			REL_ORDER
		FROM WMS_SKIN_REL AS PREL, WMS_CONTAINER CONTAINER
		<include refid="findAllWhere" />
			AND PREL.SKIN_SEQ = #{keyword}
			AND PREL.REL_TYPE ='CT'
			AND PREL.REL_SEQ = CONTAINER.CONTAINER_SEQ
		<include refid="findAllOrder" />
	</select>
	
	<select id="findSkinChildRelsCount" parameterType="ContainerSearchDTO" resultType="java.lang.Long">
		SELECT 
			COUNT(DISTINCT CONTAINER.CONTAINER_SEQ) AS TOTAL_CNT
		FROM WMS_SKIN_REL PREL, WMS_CONTAINER CONTAINER
		<include refid="findAllWhere" />
			AND PREL.SKIN_SEQ = #{keyword}
			AND PREL.REL_TYPE ='CT'
			AND PREL.REL_SEQ = CONTAINER.CONTAINER_SEQ
	</select>
	
	
</mapper>
