<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.skin.mapper.SkinRelMapper">
	
	<sql id="findAllWhere">
		<if test="domainId != null and domainId != '' and domainId != 'all'">
			AND SKIN.DOMAIN_ID = #{domainId}
		</if>	
	</sql>
	
	<sql id="findAllOrder">
		<if test="sortByColumn != null">
			ORDER BY
			<foreach open="" close="" collection="sortByColumn" item="sortItem" separator=",">
				${sortItem}
			</foreach>
		</if>
	</sql>
	
	<resultMap type="SkinVO" id="SkinMap">
		<id property="skinSeq" column="SKIN_SEQ" /> 
		<result property="skinName" column="SKIN_NAME" /> 
		<result property="skinServiceName" column="SKIN_SERVICE_NAME" /> 
		<association property="domain" javaType="jmnet.moka.core.tps.mvc.domain.dto.DomainSimpleDTO"> 
			<result property="domainId" column="DOMAIN_ID" /> 
			<result property="mediaId" column="MEDIA_ID" /> 
			<result property="domainName" column="DOMAIN_NAME" /> 
			<result property="domainUrl" column="DOMAIN_URL" /> 
			<result property="volumeId" column="VOLUME_ID" /> 
			<result property="servicePlatform" column="SERVICE_PLATFORM" /> 
		</association> 
	</resultMap>
	
	<select id="findAll" parameterType="RelSearchDTO" resultMap="SkinMap">
		SELECT 
			SKIN.SKIN_SEQ, 
			SKIN.SKIN_NAME, 
			SKIN.SKIN_SERVICE_NAME, 
			DOMAIN.DOMAIN_ID,
			DOMAIN.MEDIA_ID,
			DOMAIN.DOMAIN_NAME,
			DOMAIN.DOMAIN_URL,
			DOMAIN.VOLUME_ID,
			DOMAIN.SERVICE_PLATFORM
		FROM (
			SELECT DISTINCT SKIN_SEQ  FROM (
				SELECT SKIN_SEQ FROM WMS_SKIN_REL WHERE REL_TYPE = #{relSeqType} AND REL_SEQ = #{relSeq}
				<if test='relType != "CT"'>
				UNION
				SELECT SKIN_SEQ FROM WMS_SKIN_REL WHERE REL_TYPE = 'CT' AND REL_SEQ in ( 
					SELECT DISTINCT CONTAINER_SEQ FROM WMS_CONTAINER_REL WHERE REL_TYPE = #{relSeqType} AND REL_SEQ = #{relSeq}
				)
				</if>
			) AS REL
		) X, WMS_SKIN AS SKIN, WMS_DOMAIN DOMAIN
		WHERE X.SKIN_SEQ = SKIN.SKIN_SEQ
		AND SKIN.DOMAIN_ID = DOMAIN.DOMAIN_ID
		<include refid="findAllWhere"/>
		<include refid="findAllOrder" />
	</select>
	
	<select id="count" parameterType="RelSearchDTO" resultType="java.lang.Long">	
		SELECT 
			COUNT(DISTINCT SKIN.SKIN_SEQ) AS TOTAL_CNT
		FROM (
			SELECT DISTINCT SKIN_SEQ  FROM (
				SELECT SKIN_SEQ FROM WMS_SKIN_REL WHERE REL_TYPE = #{relSeqType} AND REL_SEQ = #{relSeq}
				<if test='relType != "CT"'>
				UNION
				SELECT SKIN_SEQ FROM WMS_SKIN_REL WHERE REL_TYPE = 'CT' AND REL_SEQ in ( 
					SELECT DISTINCT CONTAINER_SEQ FROM WMS_CONTAINER_REL WHERE REL_TYPE = #{relSeqType} AND REL_SEQ = #{relSeq}
				)
				</if>
			) AS REL
		) X, WMS_SKIN AS SKIN
		WHERE X.SKIN_SEQ = SKIN.SKIN_SEQ
		<include refid="findAllWhere"/>
	</select>

</mapper>