<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.web.rcv.mapper.moka.JamXmlMapper">
  <select id="callUpaTotalMappingSel" parameterType="JamArticleTotalVo" statementType="CALLABLE">
    <![CDATA[
    {
      call UPA_TOTAL_MAPPING_SEL(
      #{curContCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curMasterCode, mode=OUT, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUpaIssueSeriesReporterSelByRepseq" parameterType="HashMap" resultType="HashMap"
    statementType="CALLABLE">
    <![CDATA[
    {
      call UPA_ISSUE_SERIES_REPORTER_SEL_BY_REPSEQ(
      #{tmpRepList, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{tmpKwdList, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUpaArticleSourceSelByJamLoad" parameterType="String" resultType="Integer"
    statementType="CALLABLE">
    <![CDATA[
    {
      call UPA_ARTICLE_SOURCE_SEL_BY_JAMLOAD(
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <insert id="callUpaJamRcvArtHistIns" parameterType="JamArticleTotalVo" statementType="CALLABLE">
    <![CDATA[
    {
      call UPA_JAM_RCV_ART_HIST_INS(
      #{mainData.iud, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{artHistoryStep, mode=IN, jdbcType=INTEGER, javaType=int},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{mainData.id.value, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{xmlFileNM, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{artHistoryId, mode=OUT, jdbcType=INTEGER, javaType=int}
      )
      }
    ]]>
  </insert>

  <insert id="callUpaJamRcvArtHistUpd" parameterType="JamArticleTotalVo" statementType="CALLABLE">
    <![CDATA[
    {
      call UPA_JAM_RCV_ART_HIST_UPD(
      #{mainData.iud, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{artHistoryStep, mode=IN, jdbcType=INTEGER, javaType=int},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{artHistoryId, mode=IN, jdbcType=INTEGER, javaType=int},
      #{mainData.id.value, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{xmlFileNM, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{errorMessage, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </insert>
</mapper>
