.card {
  margin-bottom: 0;
  box-shadow: $card-shadow;
  &.body-bg {
    background-color:#F5F9FC;
    box-shadow: none;
  }
}

.card-header {
  border-bottom-width: 1px;
  padding: $card-spacer-y $card-spacer-x;
  
  button {
    width: 24px;
    height: 24px;

    svg { 
      font-size: 17px;
    }
  }
  &.transparent {
    background-color: transparent;
  }
}

.card-body {
  padding: 0 $card-spacer-x;
  margin-bottom: $spacer-card + -1 * $input-escape-focus-width;
  margin-top: $card-spacer-y + -1 * $input-escape-focus-width;
}

.card-header + .card-body {
  margin-top: -1 * $input-escape-focus-width;
}

.card-footer {
  padding: $spacer-card 0 $spacer-card 0;
  margin: 0px $card-spacer-x;
  border-top: 1px solid $gray-400;
}

.card-actions {
  a {
    color: $body-color;
    text-decoration: none;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  .dropdown {
    line-height: 1.4;
  }
}

.card-title {
  margin-bottom: 0px;
}

.card-subtitle {
  font-weight: $font-weight-normal;
}

.card-table {
  margin-bottom: 0;
}

.card-table tr td:first-child,
.card-table tr th:first-child {
  padding-left: $card-spacer-x;
}

.card-table tr td:last-child,
.card-table tr th:last-child {
  padding-right: $card-spacer-x;
}

.card-img,
.card-img-top,
.card-img-bottom {
  @include img-fluid;

  @media all and (-ms-high-contrast:none) {
    height: 100%;
  }
}