.custom-radio {
    min-height: $input-height;
    display: flex;
    align-items: center;

    .custom-control-label::before {
        top: 0;
    }

    .custom-control-label::after {
        top: 0;
    }
}