.custom-radio {
    // min-height: $input-height;
    display: flex;
    align-items: center;

    .custom-control-label {
        &::before, &::after {
            top: 0.1rem;
        }
    }
}

.custom-control-label {
    @include font-size(12px);
}

.custom-checkbox {
    .custom-control-label {
        &::before, &::after {
            top: 0.13625rem;
        }
    }
}

.custom-switch {
    .custom-control-label {
        margin-top: 1px;

        &::before, &::after {
            margin-top: -1px;
        }
    }
}