.form-control-no-border {
  border: 0;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.form-row {
  min-height: 31px;
  margin-right: 0px;
  margin-left: 0px;
  flex-wrap: nowrap;
}

.form-group {
  margin-bottom: 0px;
  &.row {
    min-height: 31px;
    margin-right: 0px;
    margin-left: 0px;
    flex-wrap: nowrap;
  }
}

.form-control-plaintext {
  outline: none;
}

.form-control {
  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus($ignore-warning: true);
  
  // Disabled and read-only inputs
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
  }
}

/**
 * input-group의 invalid 처리
 * bootstrap/scss/mixins/_forms.scss 참고하여서 추가함
 */
@each $state, $data in $input-group-validation-states {
  .input-group {
    @include form-validation-state-selector($state) {
      .input-group-text, .form-control {
        border-color: map-get($data, color);
        &:focus {
          border-color: map-get($data, color);
          // box-shadow: 0 0 0 $input-focus-width rgba(map-get($data, color), .25);
        }
      }
    }
  }
  .is-file-dropzone {
    @include form-validation-state-selector($state) {
      .dropzone-dragover-mask {
        border-color: map-get($data, color) !important;
      }
    }
  }
}