.form-control-no-border {
  border: 0;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.form-row {
  min-height: 31px;
  margin-right: 0px;
  margin-left: 0px;
  flex-wrap: nowrap;
}

.form-group {
  &.row {
    min-height: 31px;
    margin-right: 0px;
    margin-left: 0px;
    flex-wrap: nowrap;
  }
}

.form-control-plaintext {
  outline: none;
}