.form-control-no-border {
  border: 0;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.form-row {
  margin-right: 0px;
  margin-left: 0px;
}

.form-group {
  &.row {
      margin-right: 0px;
      margin-left: 0px;
  }
}