.wrapper > .main, .wrapper-fix > .main {
  display: flex;
  height: 100%;
  min-height: 100%;
  min-width: 0;
  transition: $sidebar-transition;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    overflow-y: hidden;
  }
}
