body, html, #root {
  height: 100%;
}

div, li, button {
  user-select: none;
}

body {
  overflow-y: scroll;
  opacity: 1 !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow-x: hidden;
  }
}

button:focus {
  outline: none;
}