// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

// Variables
@import '1-variables/app';

// Bootstrap (functions, variables, mixins)
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Theme mixins
@import '2-mixins/font_size';
@import '2-mixins/button';
@import '2-mixins/forms';
@import '2-mixins/modal';
@import '2-mixins/switch';
@import '2-mixins/tabs';
@import '2-mixins/custom_mixin';

// Bootstrap (bootstrap/scss/bootstrap 파일 분리)
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/code';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/input-group';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/jumbotron';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/media';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/print';

// Theme components
@import '3-components/accordion';
@import '3-components/alert';
@import '3-components/avatar';
@import '3-components/badge';
@import '3-components/breadcrumb';
@import '3-components/buttons';
@import '3-components/card';
@import '3-components/custom-forms';
@import '3-components/chart';
@import '3-components/chat';
@import '3-components/dropdown';
@import '3-components/feather';
@import '3-components/footer';
@import '3-components/forms';
@import '3-components/hamburger';
@import '3-components/landing';
@import '3-components/modal';
@import '3-components/navbar';
@import '3-components/reboot';
@import '3-components/progress';
@import '3-components/pagination';
@import '3-components/sidebar';
@import '3-components/sizing';
@import '3-components/tables';
@import '3-components/tabs';
@import '3-components/timeline';
@import '3-components/type';
@import '3-components/wrapper';
@import '3-components/content';
@import '3-components/main';
@import '3-components/settings';
@import '3-components/ie';

// Theme utilities
@import '4-utilities/borders';
@import '4-utilities/cursors';
@import '4-utilities/font';
@import '4-utilities/overflow';
@import '4-utilities/position';
@import '4-utilities/flex';
@import '4-utilities/colors';
@import '4-utilities/close';

// 3rd party plugin styles
@import '5-vendor/perfect-scrollbar';
@import '5-vendor/react-datetime';
@import '5-vendor/react-select';
@import '5-vendor/toastr';
@import '5-vendor/ag-grid';
@import '5-vendor/react-dropzone';
@import '5-vendor/rc-tree';
@import '5-vendor/summernote/summernote-bs4';
@import '5-vendor/fullcalendar';
@import '5-vendor/fontawesome-pro/scss/solid';
@import '5-vendor/fontawesome-pro/scss/regular';
@import '5-vendor/react-resizable';

// ssc
@import 'custom';
@import 'non_responsive';

// 이미지에디터
@import '@moka/tui-image-editor/dist/@moka/tui-image-editor';