/* -----------------------
* body
* ---------------------- */
body {
    height: 100vh;
    overflow: hidden;
    overflow-x: auto;
    letter-spacing: -0.5px;
    color: $gray-600;
    font-size: 13px;

    .signin-main{
        color:$white;
            
        h1{
            color:$white;
        }
        .card{ 
            width: 500px !important;
            background-color: transparent;
            box-shadow: 0 0 0;
            border: 2px solid #fff;
            padding: 30px;
        }
        .form-group{
            border-bottom: 1px solid $white;
            &:first-child{
                margin-bottom: 45px !important;
            }
            label{
                font-size: 1.5em;
            }
            input{
                border:0;
                color: $white;
                background-color: transparent;
                display: inline-block;
                width: calc(100% - 1.5em);
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $white;
                    opacity: 1; /* Firefox */
                    }
            }
        }
        .signin-btn{
            margin-top: 60px;
            margin-bottom: 40px;
            button{
                padding: 13px !important;
                font-size: 15px;
            }
        }
        .etc-btn{
            font-size: 15px;
            label{
                cursor: pointer;
                span{
                    color: #FFB495;
                }
            }
        }
        input[type=checkbox]:after {
            width: 15px;
            height: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            content: '';
            display: inline-block;
            visibility: visible;
            background-color: #fff;
            border: 1px solid #FF3907;
            box-shadow: none !important;
            line-height: 15px;
            text-align: center;
        }
            
        input[type=checkbox]:checked:after {
            width: 15px;
            height: 15px;
            top: -3px;
            left: -1px;
            position: relative;
            background-color: #FF3907;
            content: '\2714';
            display: inline-block;
            visibility: visible;
            border: 1px solid #FF3907;
            box-shadow: none !important;
            color: #fff !important;
            line-height: 15px;
        }
    }
    
}

.gap {
    margin-right: 10px;
}

.custom-scroll {
    @include custom-scroll;
}

.portrait {
    height: 100%;
    width: auto;
}

.landscape {
    height: auto;
    width: 100%;
}

.pointer-events-none {
    pointer-events: none;
}

.resize-none {
    resize: none;
}

.opacity-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    opacity: 0.5;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    &.black {
        opacity: 1;
        background-color: rgba($black, 0.2);
    }
}

.ft-12 {
    font-size: 12px;
}

/* -----------------------
* card
* ---------------------- */
.card {
    &.fold {
        .card-header {
            padding-left: 0px;
            padding-right: 0px;
            justify-content: center !important;
        }
    }

    .card-title.disabled {
        color: $gray-550;
    }
}
.thumb-card-selected {
    transition: none 0s ease 0s;
    box-shadow: 0 0 0 1px $primary !important;
    border-color: $primary !important;
}

.template-group-label {
    right: 2px;
    width: 51px;
    bottom: 0;
    height: 22px;
    margin-bottom: 2px;
    display: flex;
    position: absolute;
    background: rgba($black, 0.8);
    color: $white;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}

/* -----------------------
* card-tab (SSC 추가)
* ---------------------- */
.card-tab {
    display: flex;
    flex-direction: column;
    box-shadow: $card-shadow;
    background-color: $white;
    border-radius: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);

    .nav-tabs {
        width: 100%;
        border-bottom: 1px solid $gray-300;
    }

    .card-header-tabs {
        margin-right: 0;
        margin-bottom: 1px;
        margin-left: 0;
    }

    .nav-item {
        width: 80px;
        text-align: center;

        .nav-link {
            padding: map-get($spacers, 3) 0;
            border-radius: 0;
            margin-bottom: 0;
            letter-spacing: -1.4px;
    
            &.active {
                color: $positive;
                box-shadow: inset 0 -2px $positive;
            }
    
            &:hover:not(.active) {
                color: $secondary;
            }
        }
    }

    > .d-flex:nth-child(2) {
        height: calc(100% - 46px);
    }
    
    .tab-content {
        background: inherit;
        box-shadow: unset;
        border-radius: unset;
        width: 100%;
    }
}

/* -----------------------
* icon-toggle-tab
* ---------------------- */
.icon-toggle-tab {
    .tab-pane > .card {
        box-shadow: unset;
    }
    
    > .nav-tabs {
        .nav-item {
            height: 44px;
        }
    }
}

/* -----------------------
* divider
* ---------------------- */
.divider {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: $gray-160;
}

.vertical-divider {
    width: 1px;
    height: 100%;
    border: none;
    border-left: 1px solid $gray-160;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: $spacer;
    margin-right: $spacer;
}

/* -----------------------
* modal (react-draggable-container, 기존 modal override)
* ---------------------- */
.react-draggable-container {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;

    .modal-dialog {
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        border-radius: 7px;
        margin: 0;
        min-width: 300px;
    
        &.react-draggable {
            .modal-header[data-drag-on="true"] {
                cursor: move;
                user-select: none;
                position: relative;

                [data-drag-handle="true"] {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 35px;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding: 10px;
    }
}

.modal-header {
    position: relative;
    align-items: center;
    justify-content: center;
    border-bottom: 0;

    .modal-title {
        margin-right: 1.5rem;
        font-size: 16px;
        letter-spacing: -1px;
    }
    
    .close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        outline: none;
        text-overflow: clip;
    }
}

.modal-dialog {
    .toast-footer {
        @include toast-footer;
    }
}

/* -----------------------
* tree
* ---------------------- */
.treeview {
    .tree-list {
        .tree-category, .tree-item {
            position: relative;
        }

        .tree-item {
            &[data-usedyn='N'] {
                color: rgba($black, 0.5)
            }
        }

        .tree-label {
            padding: 7px 7px;
            display: flex;
            align-items: center;
            position: relative;
            user-select: none;
            cursor: pointer;

            & button {
                width: 18px;
                height: 18px;
                padding: 0;
            }

            &:hover {
                background-color: $gray-500;
            }

            &:hover {
                span { 
                    color: $white;
                }
                > .tree-buttons {
                    visibility: visible;

                    button {
                        width: 25px;
                    }
                }
            }

            &[data-match='Y'] {
                color: rgba($gray-500, 0.5)
            }
        }

        .tree-buttons {
            visibility: hidden;
            position: absolute;
            right: 10px;
        }

        .selected {
            background: $gray-400;
            color: $black;
        }

        /*2뎁스 padding*/
        > .tree-category > div ul li .tree-label {
            padding-left: 28px;
        }
        > .tree-category > div ul li div ul li .tree-label {
            padding-left: 56px;
        }

        /*3뎁스 padding*/
        > .tree-category > div ul li div ul .tree-category div ul li .tree-label {
            padding-left: 84px;
        }
        > .tree-category > div ul li div ul li .tree-category div ul li div ul li .tree-label {
            padding-left: 112px;
        }

        /*4뎁스 padding*/
        > .tree-category > div ul li div ul div ul .tree-category div ul li .tree-label {
            padding-left: 112px;
        }

        /*5뎁스 padding*/
        > .tree-category > div ul li div ul div ul li div ul .tree-category div ul li .tree-label {
            padding-left: 140px;
        }
    }
}

/* -----------------------
* input
* ---------------------- */
.input-border {
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
}

.required-text {
    position: absolute;
    top: -4px;
    color: $red;
    margin-left: -8px;
}

.prepend-link-text {
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    height: 100%;
}

/* -----------------------
* table tooltip, button
* ---------------------- */
.moka-tooltip {
    position: absolute;
    width: 150px;
    height: 70px;
    border: 1px solid $gray-310;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
    z-index: 2;

    &.ag-tooltip-hiding {
        opacity: 0;
    }

    p {
        margin: 5px;
        white-space: nowrap;

        &:first-of-type {
            font-weight: bold;
        }
    }
}

.moka-table-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -----------------------
* 컴포넌트관리
* ---------------------- */
.component-padding-box {
    margin: 0px -1 * $card-spacer-x;
    padding: 0px $card-spacer-x;
    padding-top: 3px;
}

/* -----------------------
* Monaco Editor (glyph hover message)
* ---------------------- */
.errorContextGlyphMargin {
    background-image: url('../images/icon/error_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    cursor: pointer;
    height: 16px !important;
    width: 16px !important;
    margin-top: 1px;
    margin-left: 9px;
}

.errorContextDecoration {
    background-color: rgba($red, 0.09);
}

.monaco-hover .hover-row {
    font-family: 'Noto Sans KR';
    padding: 0px 4px;
    font-size: 13px;
}

/* -----------------------
* 기사관리
* ---------------------- */
.article-group-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 12px;

    @each $number, $color in $group-colors {
        &[data-group-number="#{$number}"] {
            background-color: $color;
            @if $number == "6" {
                border: 1px solid #d9d9d9;
            } @else if $number == '7' {
                color: $white;
            } @else if $number == '8' {
                color: $white;
            }
        }
    }
}

.article-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: rgba($black, 0.54);

    &.ovp {
        color: $ovp;
    }

    &.youtube {
        color: $orange;
    }
}

.title-line1 {
    border-right: 1px solid $warning;
}

.title-line2 {
    border-right: 1px solid $info;
}

.mob-title-line {
    border-right: 1px solid $warning;
}

/* -----------------------
* 페이지편집
* ---------------------- */
.component-work {
    position: relative;

    &.work {
        .component-title {
            color: $positive;
        }
    }

    &.publish {
        .component-title {
            color: $info;
        }
    }

    &.disabled {
        .component-title {
            @include disabled-font;
        }
    }
    
    .is-over {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px dashed $secondary;
        border-radius: 5px;
        transition: border-color 0.24s ease-in-out;
        z-index: 1;
        pointer-events: none;
    }

    &.hover::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 33px;
        left: 0px;
        right: 0px;
        border-top: 2px solid $positive;
    }
}

.deskthumb-gif-list {
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 2;
    transition: top 0.25s ease-out;
    background-color: darken($gray-100, 1.5);
    min-height:502px;

    .deskthumb-main {
        background-color: $gray-300;
    }

    &.collapse {
        transition: top 0.25s ease-out;
        top: 502px;
        min-height: 196px;
    }
}