/* -----------------------
* body
* ---------------------- */
body {
    min-width: $min-width;
    max-width: $max-width;
    height: 100vh;
    overflow: hidden;
    overflow-x: auto;
}

.gap {
    margin-right: 10px;
}

.custom-scroll {
    @include custom-scroll;
}

.portrait {
    height: 100%;
    width: auto;
}

.landscape {
    height: auto;
    width: 100%;
}

.pointer-events-none {
    pointer-events: none;
}

.resize-none {
    resize: none;
}

.opacity-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    opacity: 0.5;
    z-index: 2;
}

/* -----------------------
* sidebar
* ---------------------- */
.sidebar-sticky .sidebar-content {
    position: absolute;
}

/* -----------------------
* card
* ---------------------- */
.card {
    &.fold {
        .card-header {
            padding-left: 0px;
            padding-right: 0px;
            justify-content: center !important;
        }
    }
}

/* -----------------------
* card-tab
* ---------------------- */
.card-tab {
    box-shadow: $card-shadow;
    background-color: $white;
    border-radius: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);

    .nav-tabs {
        padding: 0 $card-spacer-x;
        width: 100%;
    }

    .nav-item .nav-link {
        border-bottom: 2px solid $gray-300;

        &.active {
            border-color: $orange;
        }
    }

    > .d-flex:nth-child(2) {
        height: calc(100% - 46px);
    }
    
    .tab-content {
        background: inherit;
        box-shadow: unset;
        border-radius: unset;
        width: 100%;
    }
}
  
/* -----------------------
* card-toggle-tab
* ---------------------- */
.card-toggle-tab {
    margin-bottom: 0px;

    .tab-content {
        .card {
        width: 100%;
        height: 100%;
        }
    }

    >.card {
        margin-bottom: 0px;
        width: 48px;
    }
}

/* -----------------------
* icon-toggle-tab
* ---------------------- */
.icon-toggle-tab {
    .tab-pane > .card {
        box-shadow: unset;
    }
    
    .nav-tabs {
        .nav-item {
            height: 44px;
        }
    }
}

/* -----------------------
* divider
* ---------------------- */
.divider {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: $gray-160;
}

.vertical-divider {
    width: 1px;
    height: 100%;
    border: none;
    border-left: 1px solid $gray-160;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: $spacer;
    margin-right: $spacer;
}

/* -----------------------
* modal
* ---------------------- */
.react-draggable-container {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;

    .modal-dialog {
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        border-radius: 7px;
        margin: 0;
        min-width: 600px;
    
        &.react-draggable {
            .modal-header[data-drag-on="true"] {
                cursor: move;
                user-select: none;
                position: relative;

                #draggable-handle {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 35px;
                }
            }
        }
    }
}

/* -----------------------
* tree
* ---------------------- */
.treeview {
    .tree-list {
        .tree-category, .tree-item {
            position: relative;
        }

        .tree-item {
            &[data-useyn='N'] {
                color: rgba($black, 0.5)
            }
        }

        .tree-label {
            padding: 7px 7px;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;

            & button {
                width: 18px;
                height: 18px;
                padding: 0;
            }
            
            & button, & span {
                z-index: 99;
            }

            &:hover::after {
                content: "";
                z-index: 50;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $primary;
            }

            &:hover {
                span { 
                    color: $white;
                }
                > .tree-buttons {
                    visibility: visible;

                    button {
                        width: 25px;
                    }
                }
            }
        }

        .tree-buttons {
            visibility: hidden;
            position: absolute;
            right: 10px;
        }

        .selected {
            background: rgba($black, 0.2);
            color: $white;
        }

        /*2뎁스 padding*/
        > .tree-category > div ul li .tree-label {
            padding-left: 28px;
        }
        > .tree-category > div ul li div ul li .tree-label {
            padding-left: 56px;
        }

        /*3뎁스 padding*/
        > .tree-category > div ul li div ul .tree-category div ul li .tree-label {
            padding-left: 84px;
        }
        > .tree-category > div ul li div ul li .tree-category div ul li div ul li .tree-label {
            padding-left: 112px;
        }

        /*4뎁스 padding*/
        > .tree-category > div ul li div ul div ul .tree-category div ul li .tree-label {
            padding-left: 112px;
        }

        /*5뎁스 padding*/
        > .tree-category > div ul li div ul div ul li div ul .tree-category div ul li .tree-label {
            padding-left: 140px;
        }
    }
}

/* -----------------------
* input
* ---------------------- */
.required-text {
    position: absolute;
    top: -4px;
    color: $red;
    margin-left: -8px;
}

/* -----------------------
* table tooltip, button
* ---------------------- */
.moka-tooltip {
    position: absolute;
    width: 150px;
    height: 70px;
    border: 1px solid $gray-310;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
    z-index: 2;

    &.ag-tooltip-hiding {
        opacity: 0;
    }

    p {
        margin: 5px;
        white-space: nowrap;

        &:first-of-type {
            font-weight: bold;
        }
    }
}

.moka-table-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}