/* -----------------------
* body
* ---------------------- */
body {
    height: 100vh;
    overflow: hidden;
    overflow-x: auto;
    letter-spacing: -0.5px;
    color: $gray-600;
    font-size: 13px;

    .signin-main{
        color:$white;
            
        h1{
            color:$white;
        }
        .card{ 
            width: 500px !important;
            /*background-color: transparent;*/
            background: rgba($black, 0.5);
            box-shadow: 10px 10px 5px rgba($black, 0.3);
            /*border: 2px solid $white;*/
            padding: 30px;
        }
        .form-group{
            border-bottom: 1px solid $white;
            &:first-child{
                margin-bottom: 45px !important;
            }
            label{
                font-size: 1.5em;
            }
            input{
                border:0;
                color: $white;
                background-color: transparent;
                display: inline-block;
                width: calc(100% - 1.5em);
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $white;
                    opacity: 1; /* Firefox */
                }
            }
        }
        .user-info{
            > *{
                display: inline-block;
            }
            .password-error{
                float: right;
                span{
                    color: $primary
                }
            }
        }
        .signin-btn{
            margin-top: 60px;
            margin-bottom: 40px;
            button{
                padding: 13px !important;
                font-size: 15px;
            }
        }
        .etc-btn{
            font-size: 15px;
            label{
                cursor: pointer;
                span{
                    color: #FFB495;
                }
            }
        }
        input[type=checkbox]:after {
            width: 15px;
            height: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            content: '';
            display: inline-block;
            visibility: visible;
            background-color:  $white;
            border: 1px solid $primary;
            box-shadow: none !important;
            line-height: 15px;
            text-align: center;
        }
            
        input[type=checkbox]:checked:after {
            width: 15px;
            height: 15px;
            top: -3px;
            left: -1px;
            position: relative;
            background-color: $primary;
            content: '\2714';
            display: inline-block;
            visibility: visible;
            border: 1px solid $primary;
            box-shadow: none !important;
            color:  $white !important;
            line-height: 15px;
        }
    }
    
}

.gap {
    margin-right: 10px;
}

.custom-scroll {
    @include custom-scroll;
}

.portrait {
    height: 100%;
    width: auto;
}

.landscape {
    height: auto;
    width: 100%;
}

.pointer-events-none {
    pointer-events: none;
}

.resize-none {
    resize: none;
}

.opacity-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    opacity: 0.5;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    &.black {
        opacity: 1;
        background-color: rgba($black, 0.2);
    }
}

.overlay-shadow {
    box-shadow: 0 0 .875rem 0 rgba($dark, 0.7);
}

/* -----------------------
* card
* ---------------------- */
.card {
    &.fold {
        .card-header {
            padding-left: 0px;
            padding-right: 0px;
            justify-content: center !important;
        }

        .card-body, .card-footer {
            display: none;
            opacity: 0;
            visibility: hidden;
        }
    }

    .card-title.disabled {
        color: $gray-550;
    }
}
.thumb-card-selected {
    transition: none 0s ease 0s;
    box-shadow: 0 0 0 1px $primary !important;
    border-color: $primary !important;
}

.template-group-label {
    right: 2px;
    width: 51px;
    bottom: 0;
    height: 22px;
    margin-bottom: 2px;
    display: flex;
    position: absolute;
    background: rgba($black, 0.8);
    color: $white;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}

/* -----------------------
* card-tab (SSC 추가)
* ---------------------- */
.card-tab {
    display: flex;
    flex-direction: column;
    box-shadow: $card-shadow;
    background-color: $white;
    border-radius: $card-border-width solid $card-border-color;
    @include border-radius($card-border-radius);

    .nav-tabs {
        width: 100%;
        border-bottom: 1px solid $gray-300;
    }

    .card-header-tabs {
        margin-right: 0;
        margin-bottom: 1px;
        margin-left: 0;
    }

    .nav-item {
        width: 80px;
        text-align: center;

        .nav-link {
            padding: map-get($spacers, 3) 0;
            border-radius: 0;
            margin-bottom: 0;
            letter-spacing: -1.4px;
    
            &.active {
                color: $positive;
                box-shadow: inset 0 -2px $positive;
            }
    
            &:hover:not(.active) {
                color: $secondary;
            }
        }
    }

    > .d-flex:nth-child(2) {
        height: calc(100% - 46px);
    }
    
    .tab-content {
        background: inherit;
        box-shadow: unset;
        border-radius: unset;
        width: 100%;
    }
}

/* -----------------------
* icon-toggle-tab
* ---------------------- */
.icon-toggle-tab {
    .tab-pane > .card {
        box-shadow: unset;
    }
    
    > .nav-tabs {
        .nav-item {
            height: 44px;
        }
    }
}

/* -----------------------
* divider
* ---------------------- */
.divider {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: $gray-300;
}

.vertical-divider {
    width: 1px;
    height: 100%;
    border: none;
    border-left: 1px solid $gray-300;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: $spacer;
    margin-right: $spacer;
}

/* -----------------------
* modal (react-draggable-container)
* ---------------------- */
.react-draggable-container {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    overflow: auto;
    .modal-dialog {
        &.fixed-modal {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
        }
        &.react-draggable {
            .modal-header[data-drag-on="true"] {
                cursor: move;
                user-select: none;
                position: relative;

                [data-drag-handle="true"] {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 35px;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding: 10px;
    }
}

/* -----------------------
* modal (code-modal)
* ---------------------- */
.code-modal {
    .service {
        .section {
            > div:nth-last-child(1) {
                border-bottom: 0 !important;
                flex: 1 1 auto;
            }
        }
        &:nth-last-child(1) {
            border-bottom: 0 !important;
        }

        &.lg, &.md {
            &:nth-child(3n+1):nth-last-child(1), &:nth-child(3n+1):nth-last-child(2), &:nth-child(3n+1):nth-last-child(3){
                border-bottom: 0 !important;
            }
            &:nth-child(3n+2):nth-last-child(1), &:nth-child(3n+1):nth-last-child(2){
                border-bottom: 0 !important;
            }
            &:nth-child(3n):nth-last-child(1){
                border-bottom: 0 !important;
            }
        }
        &.sm {
            &:nth-child(2n+1):nth-last-child(1), &:nth-child(2n+1):nth-last-child(2){
                border-bottom: 0 !important;
            }
            &:nth-child(2n):nth-last-child(1){
                border-bottom: 0 !important;
            }
        }
    }
}

/* -----------------------
* tree
* ---------------------- */
.treeview {
    .tree-list {
        .tree-category, .tree-item {
            position: relative;
        }

        .tree-item {
            &[data-usedyn='N'] {
                color: rgba($black, 0.5)
            }
        }

        .tree-label {
            padding: 7px 7px;
            display: flex;
            align-items: center;
            position: relative;
            user-select: none;
            cursor: pointer;

            & button {
                width: 18px;
                height: 18px;
                padding: 0;
            }

            &:hover {
                background-color: $gray-500;
            }

            &:hover {
                span { 
                    color: $white;
                }
                > .tree-buttons {
                    visibility: visible;

                    button {
                        width: 25px;
                    }
                }
            }

            &[data-match='Y'] {
                color: rgba($gray-500, 0.5)
            }
        }

        .tree-buttons {
            visibility: hidden;
            position: absolute;
            right: 10px;
        }

        .selected {
            background: $gray-400;
            color: $black;
        }

        /*2뎁스 padding*/
        > .tree-category > div ul li .tree-label {
            padding-left: 28px;
        }
        > .tree-category > div ul li div ul li .tree-label {
            padding-left: 56px;
        }

        /*3뎁스 padding*/
        > .tree-category > div ul li div ul .tree-category div ul li .tree-label {
            padding-left: 84px;
        }
        > .tree-category > div ul li div ul li .tree-category div ul li div ul li .tree-label {
            padding-left: 112px;
        }

        /*4뎁스 padding*/
        > .tree-category > div ul li div ul div ul .tree-category div ul li .tree-label {
            padding-left: 112px;
        }

        /*5뎁스 padding*/
        > .tree-category > div ul li div ul div ul li div ul .tree-category div ul li .tree-label {
            padding-left: 140px;
        }
    }
}

/* -----------------------
* input
* ---------------------- */
.required-text {
    position: absolute;
    top: -4px;
    color: $red;
    margin-left: -8px;
}

.prepend-link-text {
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    height: 100%;
}

/* -----------------------
* MokaTable 안에 사용하는 컴포넌트 스타일
* ---------------------- */
.moka-table-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -----------------------
* 컴포넌트관리
* ---------------------- */
.component-padding-box {
    margin: 0px -1 * $card-spacer-x;
    padding: 0px $card-spacer-x;
    padding-top: 3px;
}

/* -----------------------
* Monaco Editor (glyph hover message)
* ---------------------- */
.errorContextGlyphMargin {
    background-image: url('../images/icon/error_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    cursor: pointer;
    height: 16px !important;
    width: 16px !important;
    margin-top: 1px;
    margin-left: 9px;
}

.errorContextDecoration {
    background-color: rgba($red, 0.09);
}

.monaco-hover .hover-row {
    font-family: 'Noto Sans KR';
    padding: 0px 4px;
    font-size: 13px;
}

/* -----------------------
* 기사관리
* ---------------------- */
.article-group-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 12px;

    @each $number, $color in $group-colors {
        &[data-group-number="#{$number}"] {
            background-color: $color;
            @if $number == "6" {
                border: 1px solid #d9d9d9;
            } @else if $number == '7' {
                color: $white;
            } @else if $number == '8' {
                color: $white;
            }
        }
    }
}

.article-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: rgba($black, 0.54);

    &.ovp {
        color: $ovp;
    }

    &.youtube {
        color: $orange;
    }
}

.title-line1 {
    border-right: 1px solid $warning;
}

.title-line2 {
    border-right: 1px solid $info;
}

.mob-title-line {
    border-right: 1px solid $warning;
}

/* -----------------------
* 페이지편집
* ---------------------- */
.component-work {
    position: relative;

    &.work {
        .component-title {
            color: $positive;
        }
    }

    &.publish {
        .component-title {
            color: $info;
        }
    }

    &.disabled {
        .component-title {
            @include disabled-font;
        }
    }
    
    .is-over {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px dashed $secondary;
        border-radius: 5px;
        transition: border-color 0.24s ease-in-out;
        z-index: 1;
        pointer-events: none;
    }

    &.hover::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 33px;
        left: 0px;
        right: 0px;
        border-top: 2px solid $positive;
    }

    /* 벌크 핫클릭 예외처리 */
    &.component-hot-click {
        &.hover::before {
            top: 0px;
        }
    }
}

.deskthumb-gif-list {
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 2;
    transition: top 0.25s ease-out;
    background-color: darken($gray-100, 1.5);
    min-height: 481px;

    .deskthumb-main {
        background-color: $gray-300;
    }

    &.collapse {
        transition: top 0.25s ease-out;
        top: 481px;
        min-height: 196px;
    }
}