.senddate-header-cell .ag-header-cell-text {
    margin: 0 0 0 30%;
}

.image-header-cell .ag-header-cell-text {
    padding: 0 0 0 25%;
}

.title-header-cell .ag-header-group-text {
    padding: 0 0 0 50%;
}

.title-header-sub-cell .ag-header-cell-text {
    margin: 0 0 0 50%;
}

.header-fb-title-cell .ag-header-group-text {
    padding: 0 0 0 30%;
}