<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.article.mapper.ArticleMapper">

  <!-- 서비스 기사 목록 조회 (페이지편집용)-->
  <select id="findAllByService" parameterType="ArticleSearchDTO" resultType="ArticleBasicVO"
    statementType="CALLABLE">
    { call UPA_ARTICLE_BASIC_LIST_SEL_SERVICE(
    <choose>
      <when test="sourceList != null and sourceList != ''">
        #{sourceList},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    #{startServiceDay, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{endServiceDay, mode=IN, jdbcType=VARCHAR, javaType=string},

    <choose>
      <when test="contentType != 'all' and contentType != null and contentType != ''">
        #{contentType},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'all' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'totalId' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'title' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'reporterName' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="masterCode != 'all' and masterCode != null and masterCode != ''">
        #{masterCode},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="pressMyun != 'all' and pressMyun != null and pressMyun != ''">
        #{pressMyun},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="pressPan != 'all' and pressPan != null and pressPan != ''">
        #{pressPan},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <resultMap type="ArticleDetailVO" id="ArticleDetailMap">
    <id property="totalId" column="TOTAL_ID"/>
    <result property="artType" column="ART_TYPE"/>
    <result property="trendRank" column="TREND_RANK"/>
    <result property="aid" column="AID"/>
    <result property="artTitle" column="ART_Title"/>
    <result property="mobTitle" column="MOB_TITLE"/>
    <result property="jiTitle" column="JI_TITLE"/>
    <result property="artSubTitle" column="ART_SUB_TITLE"/>
    <result property="artSummary" column="ART_Summary"/>
    <result property="artThumb" column="ART_THUMB"/>
    <result property="artRegDt" column="ART_REG_DT"/>
    <result property="artModDt" column="ART_MOD_DT"/>
    <result property="sourceCode" column="Source_Code"/>
    <result property="sourceBaseUrl" column="Source_BaseUrl"/>
    <result property="sourceEtc" column="Source_Etc"/>
    <result property="sourceName" column="Source_Name"/>
    <result property="shrFcnt" column="SHR_FCNT"/>
    <result property="shrTcnt" column="SHR_TCNT"/>
    <result property="shrIcnt" column="SHR_ICNT"/>
    <result property="shrGcnt" column="SHR_GCNT"/>
    <result property="shrKscnt" column="SHR_KSCNT"/>
    <result property="shrKcnt" column="SHR_KCNT"/>
    <result property="shrPcnt" column="SHR_PCNT"/>
    <result property="emailCnt" column="EMAIL_CNT"/>
    <result property="likeCnt" column="LIKE_CNT"/>
    <result property="hateCnt" column="HATE_CNT"/>
    <result property="clickCnt" column="CLICK_CNT"/>
    <result property="replyCnt" column="REPLY_CNT"/>
    <result property="pressPan" column="PRESS_MYUN"/>
    <result property="pressMyun" column="PRESS_PAN"/>
    <result property="pressCategory" column="PRESS_CATEGORY"/>
    <result property="pressNumber" column="PRESS_NUMBER"/>
    <result property="pressDate" column="PRESS_DATE"/>
    <result property="artContent" column="ART_Content"/>
    <result property="orgId" column="ORG_ID"/>
    <result property="joongangUse" column="Joongang_USE"/>
    <result property="keywords" column="Keywords"/>
    <result property="adultFlag" column="Adult_Flag"/>
    <result property="loginFlag" column="Login_Flag"/>
    <result property="multiLink" column="MULTI_LINK"/>
    <result property="varcharKey" column="VARCHAR_KEY"/>
    <result property="multiLinkMobile" column="MULTI_LINK_MOBILE"/>
    <result property="fbMetaTitle" column="FB_META_TITLE"/>
    <result property="fbMetaImage" column="FB_META_IMAGE"/>
    <result property="fbMetaSummary" column="FB_META_SUMMARY"/>
    <result property="fbMetaUsedYn" column="FB_META_USED_YN"/>
    <result property="fbMetaReserveDt" column="FB_META_RESERVE_DT"/>
    <result property="fbMetaPostMsg" column="FB_META_POST_MSG"/>
    <result property="twMetaTitle" column="TW_META_TITLE"/>
    <result property="twMetaImage" column="TW_META_IMAGE"/>
    <result property="twMetaSummary" column="TW_META_SUMMARY"/>
    <result property="twMetaUsedYn" column="TW_META_USED_YN"/>
    <result property="twMetaReserveDt" column="TW_META_RESERVE_DT"/>
    <result property="twMetaPostMsg" column="TW_META_POST_MSG"/>
    <result property="jaMetaTitle" column="JA_META_TITLE"/>
    <result property="jaMetaSummary" column="JA_META_SUMMARY"/>
    <result property="jaMetaKeyword" column="JA_META_KEYWORD"/>
    <result property="headerKey" column="HEADER_KEY"/>

  </resultMap>

  <resultMap id="ArticleCodeMap" type="ArticleCodeVO">
    <id property="serviceCode" column="SERVICE_CODE"/>
    <result property="totalId" column="TOTAL_ID"/>
    <result property="masterCode" column="MASTER_CODE"/>
    <result property="contentKorName" column="Content_KorName"/>
  </resultMap>
  <resultMap id="ArticleReporterMap" type="ReporterVO">
    <id property="repSeq" column="REP_SEQ"/>
    <result property="repName" column="REP_NAME"/>
    <result property="jplusRepDiv" column="JPLUS_REP_DIV"/>
    <result property="repPhoto" column="REP_PHOTO"/>
    <result property="repName" column="CMP_NM"/>
    <result property="jplusJobInfo" column="JPLUS_JOB_INFO"/>
    <result property="repEmail1" column="REP_EMAIL1"/>
    <result property="repTalk" column="REP_TALK"/>
  </resultMap>
  <resultMap id="ArticleComponentRelMap"
    type="ArticleComponentRelVO">
    <id property="compOrd" column="COMP_ORD"/>
    <result property="totalId" column="TOTAL_ID"/>
    <result property="compType" column="COMP_TYPE"/>
    <result property="compFileTitle" column="COMP_FILE_TITLE"/>
    <result property="compFileDesc" column="COMP_FILE_DESC"/>
    <result property="artTitle" column="ART_TITLE"/>
    <result property="artSummary" column="ART_SUMMARY"/>
    <result property="artThumb" column="ART_THUMB"/>
    <result property="artRegDt" column="ART_REG_DT"/>
    <result property="artModDt" column="ART_MOD_DT"/>
  </resultMap>

  <select id="findByIdForMapList" parameterType="Long"
    resultMap="ArticleDetailMap,ArticleCodeMap,ArticleReporterMap,ArticleComponentRelMap"
    statementType="CALLABLE">
		 {call UPU_15RE_ARTICLE_SEL(
			#{value, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
		) }
  	</select>

  <!-- 기사 부가정보 조회(분류코드,기자,키워드,벌크,로그인여부,본문) -->
  <resultMap id="CodeMap" type="string"/>
  <resultMap id="ArtReporterMap" type="ArticleReporterVO"/>
  <resultMap id="ArtKeywordMap" type="string"/>
  <resultMap id="ArticleServiceMap" type="ArticleServiceVO"/>
  <resultMap id="contentMap" type="ArticleContentVO"/>
  <select id="findInfo" parameterType="hashMap"
    resultMap="CodeMap,ArtReporterMap,ArtKeywordMap,ArticleServiceMap,contentMap"
    statementType="CALLABLE">
  { call UPA_ARTICLE_BASIC_SEL_BY_INFO(
    #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <!-- 네이버채널 기사 목록 조회(bulk_flag=Y) -->
  <select id="findAllByBulkY" parameterType="ArticleSearchDTO" resultType="ArticleBasicVO"
    statementType="CALLABLE">
    { call UPA_ARTICLE_BASIC_LIST_SEL_BULKY(
    <choose>
      <when test="sourceList != null and sourceList != ''">
        #{sourceList},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    #{startServiceDay, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{endServiceDay, mode=IN, jdbcType=VARCHAR, javaType=string},

    <choose>
      <when test="contentType != 'all' and contentType != null and contentType != ''">
        #{contentType},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'all' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'totalId' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'title' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'reporterName' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="masterCode != 'all' and masterCode != null and masterCode != ''">
        #{masterCode},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="pressMyun != 'all' and pressMyun != null and pressMyun != ''">
        #{pressMyun},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="pressPan != 'all' and pressPan != null and pressPan != ''">
        #{pressPan},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <!-- 기사의 이미지 목록 조회 -->
  <select id="findAllImageComponent" parameterType="java.lang.Long"
    resultType="ArticleComponentVO"
    statementType="CALLABLE">
  { call UPA_15RE_COMPONENT_LIST_SEL_IN_ARTICLE(
    #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <!-- 기사 목록 조회-->
  <select id="findAll" parameterType="ArticleSearchDTO" resultType="ArticleBasicVO"
    statementType="CALLABLE">
    { call UPA_ARTICLE_BASIC_LIST_SEL(
    <choose>
      <when test="sourceList != null and sourceList != ''">
        #{sourceList},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    #{startServiceDay, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{endServiceDay, mode=IN, jdbcType=VARCHAR, javaType=string},

    <choose>
      <when test='contentType != null and contentType == "P"'>
        'Y',
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test='contentType != null and contentType == "N"'>
        'Y',
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="pressCategory != 'all' and pressCategory != null and pressCategory != ''">
        #{pressCategory},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="bulkYn != 'all' and bulkYn != null and bulkYn != ''">
        #{bulkYn},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'all' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'totalId' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'title' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="searchType == 'reporterName' and keyword != null and keyword != ''">
        #{keyword},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="masterCode != 'all' and masterCode != null and masterCode != ''">
        #{masterCode},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="pressMyun != 'all' and pressMyun != null and pressMyun != ''">
        #{pressMyun},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    <choose>
      <when test="pressPan != 'all' and pressPan != null and pressPan != ''">
        #{pressPan},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>

    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <!-- 기사를 중지 또는 삭제-->
  <select id="insertArticleIud" parameterType="hashMap" statementType="CALLABLE">
  {#{returnValue, mode=OUT, jdbcType=INTEGER, javaType=int} = call UPA_ARTICLE_IUD_INS(
  #{rid, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
  #{iud, mode=IN, jdbcType=VARCHAR, javaType=string}
  ) }
  </select>

  <!--분류삭제-->
  <delete id="callUpaArticleCodelistDel" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_ARTICLE_CODELIST_DEL(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
      )}
  </delete>

  <!--마스터코드로 분류등록-->
  <insert id="callUpaArticleCodelistInsByMasterCode" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_ARTICLE_CODELIST_INS_BY_MASTERCODE(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{code, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{ordNo, mode=IN, jdbcType=INTEGER, javaType=int},
      'Y', /*SERVICE_FLAG */
      #{contentType, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{serviceDaytime, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
      #{pressNumber, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{artTitle, mode=IN, jdbcType=VARCHAR, javaType=string}
      )}
  </insert>

  <!--태그삭제-->
  <delete id="callUpaArticleKeywordDel" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_ARTICLE_KEYWORD_DEL(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
      )}
  </delete>

  <!--태그등록-->
  <insert id="callUpaArticleKeywordIns" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_ARTICLE_KEYWORD_INS(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{serialNo, mode=IN, jdbcType=INTEGER, javaType=int},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{serviceDay, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{keyword, mode=IN, jdbcType=NVARCHAR, javaType=string}
      )}
  </insert>

  <!--기자삭제-->
  <delete id="callUpa15ReArticleReporterDel" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_15RE_ARTICLE_REPORTER_DEL(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string}
      )}
  </delete>

  <!--기자등록-->
  <insert id="callUpa15ReArticleReporterIns" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_15RE_ARTICLE_REPORTER_INS(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{ordNo, mode=IN, jdbcType=INTEGER, javaType=int},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{serviceDay, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{repName, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{repEmail, mode=IN, jdbcType=VARCHAR, javaType=string}
      )}
  </insert>

  <!--제목삭제-->
  <delete id="callUpaArticleTitleDelByDiv" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_ARTICLE_TITLE_DEL_BY_DIV(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{titleDiv, mode=IN, jdbcType=VARCHAR, javaType=string}
      )}
  </delete>

  <!--제목등록-->
  <insert id="callUpaArticleTitleInsByDiv" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_ARTICLE_TITLE_INS_BY_DIV(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{title, mode=IN, jdbcType=NVARCHAR, javaType=string},
      #{titleDiv, mode=IN, jdbcType=VARCHAR, javaType=string}
      )}
  </insert>

  <!--본문삭제-->
  <delete id="callUpaArticleContentDel" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_ARTICLE_CONTENT_DEL(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
      )}
  </delete>

  <!--본문등록-->
  <insert id="callUpaArticleContentInsByTotalId" parameterType="hashMap"
    statementType="CALLABLE">
    { call UPA_ARTICLE_CONTENT_INS_BY_TOTALID(
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{artContent, mode=IN, jdbcType=NVARCHAR, javaType=string}
      )}
  </insert>

  <!--제목,기자 수정-->
  <update id="callUpaArticleBasicUpdByTotalId" parameterType="hashMap"
    statementType="CALLABLE">
   { call UPA_ARTICLE_BASIC_UPD_BY_TOTALID(
    #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{artReporter, mode=IN, jdbcType=NVARCHAR, javaType=string},
    #{artTitle, mode=IN, jdbcType=NVARCHAR, javaType=string},
    #{artSubTitle, mode=IN, jdbcType=NVARCHAR, javaType=string}
    )}
  </update>

  <select id="upaArticleHistoryListSel" parameterType="java.lang.Long"
    resultType="ArticleHistoryVO" statementType="CALLABLE">
    { call UPA_ARTICLE_HISTORY_LIST_SEL(
    #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </select>

</mapper>
