<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.bulklog.mapper.BulkLogMapper">

  <!-- 벌크 전체 현황 -->
  <select id="findAllTotal" parameterType="BulkLogSearchDTO" resultType="BulkTotalLogVO"
    statementType="CALLABLE">
    {call UPA_BULK_LOG_TOTAL_STAT_SEL(
    #{startDt, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{endDt, mode=IN, jdbcType=VARCHAR, javaType=string}

    ) }
  </select>

  <!-- 벌크 전송 목록 조회 -->
  <select id="findAllList" parameterType="BulkLogSearchDTO" resultType="BulkLogVO"
          statementType="CALLABLE">
    {call UPA_BULK_LOG_LIST_STAT_SEL(
            #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
            #{startDt, mode=IN, jdbcType=VARCHAR, javaType=string},
            #{endDt, mode=IN, jdbcType=VARCHAR, javaType=string},

      <choose>
          <when test="searchType == 'all' and keyword != null and keyword != ''">
              #{keyword},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      <choose>
          <when test="searchType == 'totalId' and keyword != null and keyword != ''">
              #{keyword},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      <choose>
          <when test="searchType == 'title' and keyword != null and keyword != ''">
              #{keyword},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      <choose>
          <when test="searchType == 'reporterName' and keyword != null and keyword != ''">
              #{keyword},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      #{status, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
      #{size, mode=IN, jdbcType=INTEGER, javaType=integer}
      ) }
  </select>

</mapper>
