<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.bulklog.mapper.BulkLogMapper">

  <!-- 벌크 전체 현황 -->
  <select id="findAllTotal" parameterType="BulkLogSearchDTO" resultType="BulkTotalLogVO"
    statementType="CALLABLE">
    {call UPA_BULK_LOG_TOTAL_STAT_SEL(
    #{startDt, mode=IN, jdbcType=VARCHAR, javaType=java.util.Date},
    #{endDt, mode=IN, jdbcType=VARCHAR, javaType=java.util.Date}
    ) }
  </select>


</mapper>
