<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2020. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.bulklog.mapper.BulkLogMapper">

  <!-- 벌크 전체 현황 -->
  <select id="findAllTotal" parameterType="BulkLogSearchDTO" resultType="BulkTotalLogVO"
    statementType="CALLABLE">
    {call UPA_BULK_LOG_TOTAL_STAT_SEL(
    #{startDt, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{endDt, mode=IN, jdbcType=VARCHAR, javaType=string}

    ) }
  </select>

  <!-- 벌크 전송 목록 조회 -->
  <select id="findAllList" parameterType="BulkLogSearchDTO" resultType="BulkLogVO"
          statementType="CALLABLE">
    {call UPA_BULK_LOG_LIST_STAT_SEL(

      <choose>
          <when test="orgSourceCode != null and orgSourceCode != ''">
              #{orgSourceCode},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>
            #{startDt, mode=IN, jdbcType=VARCHAR, javaType=string},
            #{endDt, mode=IN, jdbcType=VARCHAR, javaType=string},

      <choose>
          <when test="searchType == 'all' and keyword != null and keyword != ''">
              #{keyword},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      <choose>
          <when test="searchType == 'contentId' and keyword != null and keyword != ''">
              #{keyword},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      <choose>
          <when test="searchType == 'title' and keyword != null and keyword != ''">
              #{keyword},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      <choose>
          <when test="searchType == 'reporterName' and keyword != null and keyword != ''">
              #{keyword},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      <choose>
          <when test="portalDiv != 'all' and portalDiv != null and portalDiv != ''">
              #{portalDiv},
          </when>
          <otherwise>
              NULL,
          </otherwise>
      </choose>

      <choose>
          <when test="status != 'all' and status != null and status != ''">
              #{status},
          </when>
          <otherwise>
              NULL,
          </otherwise>
        </choose>
      #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
      #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
      #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
      ) }
  </select>

    <!-- 벌크 전송 상세정보/메세지 조회 -->
    <select id="findAllListInfo" parameterType="BulkLogTotalIdDTO" resultType="BulkLogVO"
            statementType="CALLABLE">
        {call UPA_BULK_LOG_LIST_STAT_SEL_BY_INFO(
        <choose>
            <when test="contentId != 'all' and contentId != null and contentId != ''">
                #{contentId},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="portalDiv != 'all' and portalDiv != null and portalDiv != ''">
                #{portalDiv},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
        #{size, mode=IN, jdbcType=INTEGER, javaType=integer}
        ) }
    </select>
    <!-- 벌크 전송 목록/메세지 조회 -->
    <select id="findAllListInfoMsg" parameterType="BulkLogTotalIdDTO" resultType="BulkLogVO"
            statementType="CALLABLE">
        {call UPA_BULK_LOG_LIST_STAT_SEL_BY_MSG(
        <choose>
            <when test="contentId != 'all' and contentId != null and contentId != ''">
                #{contentId},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
                #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
                #{size, mode=IN, jdbcType=INTEGER, javaType=integer}
            ) }
    </select>
</mapper>
