<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.comment.mapper.CommentMapper">

  <resultMap type="CommentVO" id="CommentMap">
    <id property="urlSeq" column="URL_SEQ"/>
    <result property="contentId" column="CONTENT_ID"/>
    <result property="cmtSeq" column="CMT_SEQ"/>
    <result property="cmtParentSeq" column="CMT_PARENT_SEQ"/>
    <result property="cont" column="CMT_CONTENT"/>
    <result property="likeCnt" column="CMT_LIKE_CNT"/>
    <result property="hateCnt" column="CMT_HATE_CNT"/>
    <result property="memId" column="MEM_ID"/>
    <result property="memNm" column="MEM_NM"/>
    <result property="memImage" column="MEM_IMAGE"/>
    <result property="regDt" column="REG_DT"/>
    <result property="status" column="CMT_STATUS"/>
    <result property="memIp" column="MEM_IP"/>
    <result property="memSite" column="MEM_SITE"/>
    <result property="declareCnt" column="CMT_DECLARE_CNT"/>
    <result property="urlGrp" column="CMT_URL_GRP"/>
    <result property="reCnt" column="re_count"/>
    <result property="artTitle" column="ARTICLE_TITLE"/>
  </resultMap>

  <select id="findAll" parameterType="CommentSearchDTO" resultMap="CommentMap"
    statementType="CALLABLE">
    {call UPA_COMMENT_LIST_SEL(
    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{contentId, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{domain, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{orderType, mode=IN, jdbcType=VARCHAR, javaType=jmnet.moka.common.data.mybatis.support.EnumCode},
    #{keyword, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{status, mode=IN, jdbcType=VARCHAR, javaType=jmnet.moka.common.data.mybatis.support.EnumCode},
    #{startDt, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{endDt, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{memType, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{searchType, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{groupId, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </select>

  <!--<select id="deleteBySeq" parameterType="hashMap" resultType="java.lang.Long"
    statementType="CALLABLE">
		{#{returnValue, mode=OUT, jdbcType=INTEGER, javaType=int} = call UPA_15RE_COMMENT_DEL(
			#{cmtSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
		) }
  </select>-->

</mapper>
