<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.schedule.server.mapper.JobStatisticMapper">

    <!-- 배포서버 별 작업 실행상태 통계 리스트 -->
    <select id="findAll" parameterType="JobContentSearchDTO" resultType="JobStatisticVO" statementType="CALLABLE">
        {call UPA_GEN_TARGET_STAT_SEL(
                #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
                #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
                #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
                #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
        ) }
    </select>
</mapper>