<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 Joongang Ilbo, Inc. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.mic.mapper.MicMapper">

  <!-- 아젠다 목록 조회 -->
  <select id="findAllMicAgenda" parameterType="MicAgendaSearchDTO"
    resultType="MicAgendaVO"
    statementType="CALLABLE">
    { call UPA_MIC_AGENDA_LIST_SEL(
    #{startDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
    #{endDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
    #{keyword, mode=IN, jdbcType=VARCHAR, javaType=string},
    <choose>
      <when test="agndTop != 'all' and agndTop != null and agndTop != ''">
        #{agndTop},
      </when>
      <otherwise>
        NULL,
      </otherwise>
    </choose>
    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <!--아젠다 레포트-->
  <select id="findMicReport" parameterType="hashMap"
    statementType="CALLABLE">
   { call UPA_MIC_REPORT(
   #{agndTotal, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long},
   #{answTotal, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
   )}
  </select>

  <!--아젠다 상세조회-->
  <select id="findMicAgendaById" parameterType="java.lang.Long" resultType="MicAgendaVO"
    statementType="CALLABLE">
   { call UPA_MIC_AGENDA_DETAIL_SEL(
    #{agndSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </select>

  <!--아젠다의 카테고리 조회-->
  <select id="findMicAgendaCategoryById" parameterType="java.lang.Long"
    resultType="MicAgendaCategoryVO"
    statementType="CALLABLE">
   { call UPA_MIC_AGENDA_DETAIL_CATEGORY_SEL(
    #{agndSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </select>

  <!--아젠다의 관련기사 목록 조회-->
  <select id="findMicAgendaRelArticleById" parameterType="java.lang.Long"
    resultType="MicRelArticleVO"
    statementType="CALLABLE">
   { call UPA_MIC_REL_ARTICLE_LIST_SEL(
    #{agndSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </select>

  <!--아젠다 등록-->
  <insert id="insertMicAgenda" parameterType="MicAgendaVO"
    statementType="CALLABLE">
   { call UPA_MIC_AGENDA_INS(
    #{usedYn, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndTitle, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndKwd, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndMemo, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndType, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndImg, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndImgMob, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndThumb, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{regId, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{regDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
    #{agndComment, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndServiceDt, mode=IN, jdbcType=TIMESTAMP, javaType=Date},
    #{pollSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{agndLead, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndMov, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{artProgress, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{artLink, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{agndSeq, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </insert>

  <!--아젠다의 관련기사 모두삭제-->
  <delete id="deleteAllMicAgendaRelArticle" parameterType="java.lang.Long"
    statementType="CALLABLE">
   { call UPA_MIC_REL_ARTICLE_DEL(
    #{agndSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </delete>

  <!--아젠다의 관련기사 등록-->
  <insert id="insertMicAgendaRelArticle" parameterType="MicRelArticleVO"
    statementType="CALLABLE">
   { call UPA_MIC_REL_ARTICLE_INS(
    #{agndSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{totalId, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{artTitle, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{artThumb, mode=IN, jdbcType=VARCHAR, javaType=string}
    )}
  </insert>

  <!--아젠다의 카테고리 등록(삭제포함됨)-->
  <update id="updateMicAgendaCategory" parameterType="hashMap" statementType="CALLABLE">
    { call UPA_MIC_AGENDA_DETAIL_CATEGORY_EDT(
    #{agndSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{xml, mode=IN, jdbcType=VARCHAR, javaType=string}
    )}
  </update>

  <!--배너 목록 조회-->
  <select id="findAllMicBanner" parameterType="MicBannerSearchDTO" resultType="MicBannerVO"
    statementType="CALLABLE">
   { call UPA_MIC_AGENDA_BANNER_LIST(
    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
   )}
  </select>

  <!--배너 상세 조회-->
  <select id="findMicBannerById" parameterType="java.lang.Long" resultType="MicBannerVO"
    statementType="CALLABLE">
   { call UPA_MIC_AGENDA_BANNER_DETAIL(
    #{bnnrSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
   )}
  </select>

  <!--배너 등록/수정 (사용여부 수정은 안함)-->
  <update id="saveMicBanner" parameterType="MicBannerVO" statementType="CALLABLE">
    { call UPA_MIC_AGENDA_BANNER_UPD(
    #{bnnrSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{linkUrl, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{imgLink, mode=IN, jdbcType=VARCHAR, javaType=string}
   )}
  </update>

  <!--배너 사용여부 수정-->
  <update id="updateMicBannerToggle" parameterType="java.lang.Long" statementType="CALLABLE">
    { call UPA_MIC_AGENDA_BANNER_TOGGLE_UPD(
    #{bnnrSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
   )}
  </update>

  <!--카테고리 목록 조회-->
  <select id="findAllUsedAgendaCategory" parameterType="MicAgendaCateSearchDTO"
    resultType="MicAgendaCategoryVO"
    statementType="CALLABLE">
   { call UPA_MIC_AGENDA_CATEGORY_LIST(
   #{keyword, mode=IN, jdbcType=VARCHAR, javaType=string},
   #{includeDel, mode=IN, jdbcType=VARCHAR, javaType=string}
   )}
  </select>

  <!--카테고리 등록-->
  <insert id="insertMicAgendaCategory" parameterType="hashMap" statementType="CALLABLE">
    { call UPA_MIC_AGENDA_CATEGORY_INS(
    #{catNm, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{retCode, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
   )}
  </insert>

  <!--카테고리 일괄수정-->
  <update id="updateAllMicAgendaCategory" parameterType="string" statementType="CALLABLE">
    { call UPA_MIC_AGENDA_CATEGORY_EDT(
    #{xml, mode=IN, jdbcType=VARCHAR, javaType=string}
   )}
  </update>

  <!--아젠다의 순서 수정-->
  <update id="updateMicAgendaOrder" parameterType="MicAgendaSimpleVO"
    statementType="CALLABLE">
   { call UPA_MIC_AGENDA_ORDER_NUM_UPD(
    #{agndSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{ordNo, mode=IN, jdbcType=INTEGER, javaType=integer}
    )}
  </update>

  <!-- 답변 목록 조회 -->
  <select id="findAllMicAnswer" parameterType="MicAnswerSearchDTO"
    resultType="MicAnswerVO"
    statementType="CALLABLE">
    { call UPA_MIC_ANSWER_LIST_SEL(
    #{agndSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{usedYn, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{loginSns, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <!-- 답변 상세조회 -->
  <resultMap id="AnswerMap" type="MicAnswerVO"/>
  <resultMap id="AnswerRelMap" type="MicAnswerRelVO"/>
  <select id="findMicAnswerById" parameterType="java.lang.Long" resultMap="AnswerMap, AnswerRelMap"
    statementType="CALLABLE">
    { call UPA_MIC_ANSWER_DETAILS_SEL(
    #{answSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <!-- 답변 부가정보 삭제-->
  <delete id="deleteAllMicAnswerRel" parameterType="java.lang.Long" statementType="CALLABLE">
    { call UPA_MIC_ANSWER_REL_DEL(
    #{answSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </delete>

  <!--답변 부가정보 등록-->
  <insert id="insertMicAnswerRel" parameterType="MicAnswerRelVO"
    statementType="CALLABLE">
   { call UPA_MIC_ANSWER_REL_INS(
    #{answSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{relDiv, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{relUrl, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{artTitle, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{artSummary, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{artThumbnail, mode=IN, jdbcType=VARCHAR, javaType=string}
    )}
  </insert>

  <!--답변 사용여부 수정(답변삭제시 사용)-->
  <update id="updateMicAnswerUsed" parameterType="hashMap" statementType="CALLABLE">
    { call UPA_MIC_ANSWER_USED_UPD(
    #{answSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{usedYn, mode=IN, jdbcType=VARCHAR, javaType=string}
    )}
  </update>

  <!--답변 상태 수정-->
  <update id="updateMicAnswerDiv" parameterType="hashMap" statementType="CALLABLE">
    { call UPA_MIC_ANSWER_DIV_UPD(
    #{answDiv, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{answSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
    )}
  </update>

  <!--사용자 알림 등록-->
  <insert id="insertMicNotify" parameterType="MicNotifyVO" statementType="CALLABLE">
    { call UPA_MIC_ANSWER_DIV_UPD(
    #{msgDiv, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{answSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{notiMemo, mode=IN, jdbcType=VARCHAR, javaType=string}
    )}
  </insert>

</mapper>
