<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 Joongang Ilbo, Inc. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.my.mapper.MyMapper">

  <!--이메일수정-->
  <select id="updateEmail" parameterType="MyEmailDTO" resultType="java.lang.Long"
    statementType="CALLABLE">
    {#{returnValue, mode=OUT, jdbcType=INTEGER, javaType=int} = call UPA_NEWSLETTER_SUBSCRIBE_UPD_BY_ACCOUNT(
      #{memSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
      #{loginType, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{fromEmail, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{toEmail, mode=IN, jdbcType=VARCHAR, javaType=string}
      ) }
  </select>

</mapper>
