<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.page.mapper.PageRelMapper">

  <resultMap type="PageVO" id="PageMap">
    <id property="pageSeq" column="PAGE_SEQ"/>
    <result property="pageName" column="PAGE_NAME"/>
    <result property="pageUrl" column="PAGE_URL"/>
    <association property="domain" javaType="jmnet.moka.core.tps.mvc.domain.dto.DomainSimpleDTO">
      <result property="domainId" column="DOMAIN_ID"/>
      <result property="domainName" column="DOMAIN_NAME"/>
      <result property="domainUrl" column="DOMAIN_URL"/>
      <result property="servicePlatform" column="SERVICE_PLATFORM"/>
    </association>
  </resultMap>

  <select id="findAll" parameterType="RelationSearchDTO" resultMap="PageMap"
    statementType="CALLABLE">
    {call UPA_WMS_PAGE_REL_LIST_SEL(
    #{relSeqType, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{relSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long},
    #{domainId, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{fileYn, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{page, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{size, mode=IN, jdbcType=INTEGER, javaType=integer},
    #{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
    #{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
    ) }
  </select>

  <select id="deleteByPageSeq" parameterType="hashMap" resultType="java.lang.Long"
    statementType="CALLABLE">
		{#{returnValue, mode=OUT, jdbcType=INTEGER, javaType=int} = call UPA_WMS_PAGE_REL_DEL(
			#{pageSeq, mode=IN, jdbcType=INTEGER, javaType=java.lang.Long}
		) }
  </select>


</mapper>
