<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.template.mapper.TemplateMapper">

	<!-- 페이지의 관련템플릿 목록 조회 -->
	<select id="findPageChildRels" parameterType="TemplateSearchDTO" resultType="TemplateVO" statementType="CALLABLE">
		{ call UPA_TB_WMS_PAGE_REL_TEMPLATE_LIST_SEL(
			${TEMPLATE_IMAGE_PREFIEX},
			#{domainId, mode=IN, jdbcType=VARCHAR, javaType=string},
			#{keyword, mode=IN, jdbcType=INTEGER, javaType=string},
			<choose>
				<when test="searchType == 'templateSeq' and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="searchType == 'templateName' and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="searchType == 'templateBody' and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="tpZone != null and tpZone != ''">
					#{tpZone},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>
			#{widthMin, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{widthMax, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{page, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{size, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
			#{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
		) }
	</select>
	
	<!-- 콘텐츠스킨의 관련템플릿 목록 조회 -->
	<select id="findSkinChildRels" parameterType="TemplateSearchDTO" resultType="TemplateVO" statementType="CALLABLE">
		{ call UPA_TB_WMS_PAGE_REL_TEMPLATE_LIST_SEL(
		${TEMPLATE_IMAGE_PREFIEX},
		#{domainId, mode=IN, jdbcType=VARCHAR, javaType=string},
		#{keyword, mode=IN, jdbcType=INTEGER, javaType=string},
		<choose>
			<when test="searchType == 'templateSeq' and keyword != null and keyword != ''">
				#{keyword},
			</when>
			<otherwise>
				NULL,
			</otherwise>
		</choose>

		<choose>
			<when test="searchType == 'templateName' and keyword != null and keyword != ''">
				#{keyword},
			</when>
			<otherwise>
				NULL,
			</otherwise>
		</choose>

		<choose>
			<when test="searchType == 'templateBody' and keyword != null and keyword != ''">
				#{keyword},
			</when>
			<otherwise>
				NULL,
			</otherwise>
		</choose>

		<choose>
			<when test="tpZone != null and tpZone != ''">
				#{tpZone},
			</when>
			<otherwise>
				NULL,
			</otherwise>
		</choose>
		#{widthMin, mode=IN, jdbcType=INTEGER, javaType=integer},
		#{widthMax, mode=IN, jdbcType=INTEGER, javaType=integer},
		#{page, mode=IN, jdbcType=INTEGER, javaType=integer},
		#{size, mode=IN, jdbcType=INTEGER, javaType=integer},
		#{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
		#{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
		) }
	</select>
	
	<!-- 컨테이너의 관련템플릿 목록 조회 -->
	<select id="findContainerChildRels" parameterType="TemplateSearchDTO" resultType="TemplateVO" statementType="CALLABLE">
		{ call UPA_TB_WMS_CONTAINER_REL_TEMPLATE_LIST_SEL(
		${TEMPLATE_IMAGE_PREFIEX},
		#{domainId, mode=IN, jdbcType=VARCHAR, javaType=string},
		#{keyword, mode=IN, jdbcType=INTEGER, javaType=string},
		<choose>
			<when test="searchType == 'templateSeq' and keyword != null and keyword != ''">
				#{keyword},
			</when>
			<otherwise>
				NULL,
			</otherwise>
		</choose>

		<choose>
			<when test="searchType == 'templateName' and keyword != null and keyword != ''">
				#{keyword},
			</when>
			<otherwise>
				NULL,
			</otherwise>
		</choose>

		<choose>
			<when test="searchType == 'templateBody' and keyword != null and keyword != ''">
				#{keyword},
			</when>
			<otherwise>
				NULL,
			</otherwise>
		</choose>

		<choose>
			<when test="tpZone != null and tpZone != ''">
				#{tpZone},
			</when>
			<otherwise>
				NULL,
			</otherwise>
		</choose>
		#{widthMin, mode=IN, jdbcType=INTEGER, javaType=integer},
		#{widthMax, mode=IN, jdbcType=INTEGER, javaType=integer},
		#{page, mode=IN, jdbcType=INTEGER, javaType=integer},
		#{size, mode=IN, jdbcType=INTEGER, javaType=integer},
		#{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
		#{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
		) }
	</select>

	<!--
	<select id="findDomainIdListByTemplateSeq" parameterType="java.lang.Long" resultType="String" statementType="CALLABLE">
		{ call UPA_TB_WMS_DOMAIN_USE_TEMPLATE_LIST_SEL(
			#{templateSeq, mode=IN, jdbcType=INTEGER, javaType=integer}
		) }
	</select>
	-->

	<!-- resultSet이 여러개인 경우 -->
	<!--<resultMap id="TemplateMap" type="TemplateVO"/>
	<resultMap id="HistMaps" type="TemplateVO"/>
	<select id="findAllTest" parameterType="TemplateSearchDTO" resultMap="TemplateMap,HistMaps" statementType="CALLABLE">-->

	<!-- resultSet이 단일인 경우 -->
	<select id="findAll" parameterType="TemplateSearchDTO" resultType="TemplateVO" statementType="CALLABLE">
		{#{returnValue, mode=OUT, jdbcType=INTEGER, javaType=int} = call UPA_TB_WMS_TEMPLATE_LIST_SEL(
			${TEMPLATE_IMAGE_PREFIEX},
			#{domainId, mode=IN, jdbcType=VARCHAR, javaType=string},
			<choose>
				<when test="(searchType == 'templateSeq' or searchType == 'all') and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="(searchType == 'templateName' or searchType == 'all') and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="(searchType == 'templateBody' or searchType == 'all') and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="tpZone != null and tpZone != ''">
					#{tpZone},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>
			#{widthMin, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{widthMax, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{page, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{size, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
			#{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
		) }
	</select>
</mapper>
