<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.core.tps.mvc.template.mapper.TemplateMapper">

	<sql id="findAllWhere">
		WHERE
		<!-- 도메인 조건 -->
		<choose>
			<when test="domainId != null and domainId != 'all'">
				TEMPLATE.DOMAIN_ID = #{domainId}
			</when>
			<otherwise>
				TEMPLATE.DOMAIN_ID is NULL
			</otherwise>
		</choose>
		<!-- 검색 조건 -->
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'templateSeq'">
					AND TEMPLATE.TEMPLATE_SEQ = #{keyword}
				</when>
				<when test="searchType == 'templateName'">
					AND TEMPLATE.TEMPLATE_NAME like '%${keyword}%'
				</when>
				<when test="searchType == 'templateBody'">
					AND TEMPLATE.TEMPLATE_BODY like '%${keyword}%'
				</when>
				<when test="searchType == 'all'">
					AND (TEMPLATE.TEMPLATE_NAME like '%${keyword}%' OR TEMPLATE.TEMPLATE_BODY like '%${keyword}%')
				</when>
			</choose>
		</if>
		<!-- 템플릿 그룹 조건 -->
		<if test="tpZone != null and tpZone != '' and tpZone != 'all'">
			AND TEMPLATE.TEMPLATE_GROUP = #{tpZone}
		</if>
		<if test="widthMin != null and widthMin != ''">
			AND TEMPLATE.TEMPLATE_WIDTH <![CDATA[>=]]> ${widthMin}
		</if>
		<if test="widthMax != null and widthMax != ''">
			AND TEMPLATE.TEMPLATE_WIDTH <![CDATA[<=]]> ${widthMax}
		</if>
	</sql>
	
	<sql id="findAllOrder">
		<if test="sortByColumn != null">
			ORDER BY
			<foreach open="" close="" collection="sortByColumn" item="sortItem" separator=",">
				${sortItem}
			</foreach>
		</if>
	</sql>

	<!--
	<select id="findAll" parameterType="TemplateSearchDTO" resultType="TemplateVO">
		SELECT DISTINCT
			TEMPLATE.TEMPLATE_SEQ,TEMPLATE.TEMPLATE_NAME,TEMPLATE.TEMPLATE_WIDTH,TEMPLATE.DOMAIN_ID,
			CASE
				WHEN TEMPLATE.TEMPLATE_THUMB IS NULL OR TEMPLATE.TEMPLATE_THUMB = '' THEN NULL
				ELSE CONCAT(#{imageRoot},TEMPLATE.TEMPLATE_THUMB)
			END AS TEMPLATE_THUMB,
			(
				SELECT DOMAIN.SERVICE_PLATFORM
				FROM TB_WMS_DOMAIN AS DOMAIN
				WHERE DOMAIN.DOMAIN_ID = TEMPLATE.DOMAIN_ID
			) AS SERVICE_PLATFORM,
			(
				SELECT DOMAIN.DOMAIN_NAME
				FROM TB_WMS_DOMAIN AS DOMAIN
				WHERE DOMAIN.DOMAIN_ID = TEMPLATE.DOMAIN_ID
			) AS DOMAIN_NAME,
			(	
				SELECT CODE.CD_NM
				FROM TB_15RE_CODE_MGT AS CODE, TB_15RE_CODE_MGT_GRP CODEGRP
				WHERE CODE.GRP_CD = CODEGRP.GRP_CD
					AND TEMPLATE.TEMPLATE_GROUP = CODE.DTL_CD
					AND CODEGRP.GRP_CD='TP_ZONE'
			) AS TP_ZONE,
			(
				SELECT
				   CASE WHEN 
				      (COUNT(PR.REL_SEQ) + COUNT(SR.REL_SEQ) + COUNT(CR.REL_SEQ) + COUNT(CP.COMPONENT_SEQ)) > 0
				    THEN 'Y' ELSE 'N' END
				FROM TB_WMS_TEMPLATE TP
					LEFT OUTER JOIN TB_WMS_PAGE_REL PR ON TP.TEMPLATE_SEQ = PR.REL_SEQ AND PR.REL_TYPE='TP'
					LEFT OUTER JOIN TB_WMS_SKIN_REL SR ON TP.TEMPLATE_SEQ = SR.REL_SEQ AND SR.REL_TYPE='TP'
					LEFT OUTER JOIN TB_WMS_CONTAINER_REL CR ON TP.TEMPLATE_SEQ = CR.REL_SEQ AND CR.REL_TYPE='TP'
					LEFT OUTER JOIN TB_WMS_COMPONENT CP ON TP.TEMPLATE_SEQ = CP.TEMPLATE_SEQ
				WHERE TP.TEMPLATE_SEQ = TEMPLATE.TEMPLATE_SEQ	
			) AS USE_YN
		FROM TB_WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere" />
		<include refid="findAllOrder" />
	</select>
	
	<select id="count" parameterType="TemplateSearchDTO" resultType="java.lang.Long">
		SELECT 
			COUNT(TEMPLATE.TEMPLATE_SEQ) AS TOTAL_CNT
		FROM TB_WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere"/>
	</select>
	-->
	
	<!-- 관련템플릿 공통 컬럼  -->
	<sql id="childRelsColumns">
		TEMPLATE.TEMPLATE_SEQ,
		TEMPLATE.TEMPLATE_NAME,
		TEMPLATE.TEMPLATE_WIDTH,
		TEMPLATE.DOMAIN_ID,
		CASE
			WHEN TEMPLATE.TEMPLATE_THUMB IS NULL OR TEMPLATE.TEMPLATE_THUMB = '' THEN NULL
			ELSE CONCAT(#{imageRoot},TEMPLATE.TEMPLATE_THUMB)
		END AS TEMPLATE_THUMB,
		(
			SELECT DOMAIN.SERVICE_PLATFORM
			FROM TB_WMS_DOMAIN AS DOMAIN
			WHERE DOMAIN.DOMAIN_ID = TEMPLATE.DOMAIN_ID
		) AS SERVICE_PLATFORM,
		(
			SELECT DOMAIN.DOMAIN_NAME
			FROM TB_WMS_DOMAIN AS DOMAIN
			WHERE DOMAIN.DOMAIN_ID = TEMPLATE.DOMAIN_ID
		) AS DOMAIN_NAME,
		(	
			SELECT CODE.CD_NM
			FROM TB_15RE_CODE_MGT AS CODE, TB_15RE_CODE_MGT_GRP CODEGRP
			WHERE CODE.GRP_CD = CODEGRP.GRP_CD
				AND TEMPLATE.TEMPLATE_GROUP = CODE.DTL_CD
				AND CODEGRP.GRP_CD='TP_ZONE'
		) AS TP_ZONE
	</sql>
	
	<!-- 페이지의 관련템플릿 목록 조회 -->
	<select id="findPageChildRels" parameterType="TemplateSearchDTO" resultType="TemplateVO">
		SELECT * FROM (
			SELECT 			
				<include refid="childRelsColumns" />,
				OUT_ORDER,
				IN_ORDER,
				(@rownum := @rownum + 1) AS REL_ORDER
			FROM (
				SELECT 
					PREL.REL_SEQ, PREL.REL_ORDER AS OUT_ORDER, PREL.REL_ORDER AS IN_ORDER
				FROM TB_WMS_PAGE_REL PREL WHERE PREL.PAGE_SEQ = #{keyword} AND PREL.REL_TYPE ='TP'
				UNION
				SELECT 
					CTREL.REL_SEQ, PREL.REL_ORDER AS OUT_ORDER, CTREL.REL_ORDER AS IN_ORDER
				FROM TB_WMS_PAGE_REL PREL,  TB_WMS_CONTAINER_REL CTREL
				WHERE PREL.PAGE_SEQ = #{keyword} 
				AND PREL.REL_TYPE ='CT'
				AND PREL.REL_SEQ = CTREL.CONTAINER_SEQ 
				AND CTREL.REL_TYPE ='TP'
				AND CTREL.REL_SEQ NOT IN (SELECT REL_SEQ  FROM TB_WMS_PAGE_REL  WHERE PAGE_SEQ = #{keyword} AND REL_TYPE ='TP')
			) AS X, TB_WMS_TEMPLATE TEMPLATE, (SELECT @rownum:= 0) AS TMP
			<include refid="findAllWhere" />
				AND X.REL_SEQ = TEMPLATE.TEMPLATE_SEQ
			ORDER BY OUT_ORDER ASC, IN_ORDER ASC
		) AS M
		<include refid="findAllOrder" />
	</select>
	
	<select id="findPageChildRelsCount" parameterType="TemplateSearchDTO" resultType="java.lang.Long">
		SELECT 
			COUNT(TEMPLATE.TEMPLATE_SEQ) AS TOTAL_CNT
		FROM (
			SELECT PREL.REL_SEQ FROM TB_WMS_PAGE_REL PREL WHERE PREL.PAGE_SEQ = #{keyword} AND PREL.REL_TYPE ='TP'
			UNION
			SELECT CTREL.REL_SEQ FROM TB_WMS_PAGE_REL PREL,  TB_WMS_CONTAINER_REL CTREL
			WHERE PREL.PAGE_SEQ = #{keyword} 
			AND PREL.REL_TYPE ='CT'
			AND PREL.REL_SEQ = CTREL.CONTAINER_SEQ 
			AND CTREL.REL_TYPE ='TP'
		) AS X, TB_WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere" />
			AND X.REL_SEQ = TEMPLATE.TEMPLATE_SEQ
	</select>
	
	<!-- 콘텐츠스킨의 관련템플릿 목록 조회 -->
	<select id="findSkinChildRels" parameterType="TemplateSearchDTO" resultType="TemplateVO">
		SELECT * FROM (
			SELECT 			
				<include refid="childRelsColumns" />,
				OUT_ORDER,
				IN_ORDER,
				(@rownum := @rownum + 1) AS REL_ORDER
			FROM (
				SELECT 
					PREL.REL_SEQ, PREL.REL_ORDER AS OUT_ORDER, PREL.REL_ORDER AS IN_ORDER
				FROM TB_WMS_SKIN_REL PREL WHERE PREL.SKIN_SEQ = #{keyword} AND PREL.REL_TYPE ='TP'
				UNION
				SELECT
					CTREL.REL_SEQ, PREL.REL_ORDER AS OUT_ORDER, CTREL.REL_ORDER AS IN_ORDER 
				FROM TB_WMS_SKIN_REL PREL,  TB_WMS_CONTAINER_REL CTREL
				WHERE PREL.SKIN_SEQ = #{keyword} 
				AND PREL.REL_TYPE ='CT'
				AND PREL.REL_SEQ = CTREL.CONTAINER_SEQ 
				AND CTREL.REL_TYPE ='TP'
				AND CTREL.REL_SEQ NOT IN (SELECT REL_SEQ  FROM TB_WMS_SKIN_REL  WHERE SKIN_SEQ = #{keyword} AND REL_TYPE ='TP')
			) AS X, TB_WMS_TEMPLATE TEMPLATE, (SELECT @rownum:= 0) AS TMP
			<include refid="findAllWhere" />
				AND X.REL_SEQ = TEMPLATE.TEMPLATE_SEQ
			ORDER BY OUT_ORDER ASC, IN_ORDER ASC
		) AS M
		<include refid="findAllOrder" />
	</select>
	
	<select id="findSkinChildRelsCount" parameterType="TemplateSearchDTO" resultType="java.lang.Long">
		SELECT 
			COUNT(TEMPLATE.TEMPLATE_SEQ) AS TOTAL_CNT
		FROM (
			SELECT PREL.REL_SEQ FROM TB_WMS_SKIN_REL PREL WHERE PREL.SKIN_SEQ = #{keyword} AND PREL.REL_TYPE ='TP'
			UNION
			SELECT CTREL.REL_SEQ FROM TB_WMS_SKIN_REL PREL,  TB_WMS_CONTAINER_REL CTREL
			WHERE PREL.SKIN_SEQ = #{keyword} 
			AND PREL.REL_TYPE ='CT'
			AND PREL.REL_SEQ = CTREL.CONTAINER_SEQ 
			AND CTREL.REL_TYPE ='TP'
		) AS X, TB_WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere" />
			AND X.REL_SEQ = TEMPLATE.TEMPLATE_SEQ
	</select>
	
	<!-- 컨테이너의 관련템플릿 목록 조회 -->
	<select id="findContainerChildRels" parameterType="TemplateSearchDTO" resultType="TemplateVO">
		SELECT 
			DISTINCT
			<include refid="childRelsColumns" />,
			X.REL_ORDER
		FROM TB_WMS_CONTAINER_REL X, TB_WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere" />
			AND X.CONTAINER_SEQ = #{keyword}
			AND X.REL_TYPE ='TP'
			AND X.REL_SEQ = TEMPLATE.TEMPLATE_SEQ
		<include refid="findAllOrder" />
	</select>
	
	<select id="findContainerChildRelsCount" parameterType="TemplateSearchDTO" resultType="java.lang.Long">
		SELECT 
			COUNT(DISTINCT TEMPLATE.TEMPLATE_SEQ) AS TOTAL_CNT
		FROM TB_WMS_CONTAINER_REL X, TB_WMS_TEMPLATE TEMPLATE
		<include refid="findAllWhere" />
			AND X.CONTAINER_SEQ = #{keyword}
			AND X.REL_TYPE ='TP'
			AND X.REL_SEQ = TEMPLATE.TEMPLATE_SEQ
	</select>
	
	<select id="findDomainIdListByTemplateSeq" parameterType="java.lang.Long" resultType="String">
		SELECT DISTINCT DOMAIN_ID FROM (
			SELECT DOMAIN_ID FROM TB_WMS_PAGE_REL WHERE REL_TYPE = 'TP' AND REL_SEQ = ${value}
			UNION
			SELECT DOMAIN_ID FROM TB_WMS_SKIN_REL WHERE REL_TYPE = 'TP' AND REL_SEQ = ${value}
			UNION
			SELECT DOMAIN_ID FROM TB_WMS_CONTAINER_REL WHERE REL_TYPE = 'TP' AND REL_SEQ = ${value}
			UNION
			SELECT DOMAIN_ID FROM TB_WMS_COMPONENT WHERE TEMPLATE_SEQ = ${value}
		) AS X
	</select>

	<!-- resultSet이 여러개인 경우 -->
	<!--<resultMap id="TemplateMap" type="TemplateVO"/>
	<resultMap id="HistMaps" type="TemplateVO"/>
	<select id="findAllTest" parameterType="TemplateSearchDTO" resultMap="TemplateMap,HistMaps" statementType="CALLABLE">-->

	<!-- resultSet이 단일인 경우 -->
	<select id="findAll" parameterType="TemplateSearchDTO" resultType="TemplateVO" statementType="CALLABLE">
		{#{returnValue, mode=OUT, jdbcType=INTEGER, javaType=int} = call UPA_TB_WMS_TEMPLATE_LIST_SEL(
			#{imageRoot, mode=IN, jdbcType=VARCHAR, javaType=string},
			#{domainId, mode=IN, jdbcType=VARCHAR, javaType=string},
			<choose>
				<when test="searchType == 'templateSeq' and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="searchType == 'templateName' and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="searchType == 'templateBody' and keyword != null and keyword != ''">
					#{keyword},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>

			<choose>
				<when test="tpZone != null and tpZone != ''">
					#{tpZone},
				</when>
				<otherwise>
					NULL,
				</otherwise>
			</choose>
			#{widthMin, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{widthMax, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{page, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{size, mode=IN, jdbcType=INTEGER, javaType=integer},
			#{useTotal, mode=IN, jdbcType=VARCHAR, javaType=string},
			#{total, mode=OUT, jdbcType=INTEGER, javaType=java.lang.Long}
		) }
	</select>
</mapper>
