// 고정형 부트스트랩 스타일 오버라이드
.wrapper-fix {
    align-items: stretch;
    display: flex;
    min-width: 1695px;

    .sidebar {
        width: 260px;

        @media (min-width: 1px) and (max-width: #{map-get($grid-breakpoints, 'lg') - .02px}) {
            width: 260px;
            margin-left: unset;
            .sidebar-content {
                left: unset;
            }
        }
    }

    .main {
        display: block;
        > nav {
            width: 100%;
        }
        .content {
            width: 100%;
            max-width: 100%;
        }
    }

    .d-flex {
        display: block !important;
    }

    .container {
        max-width: unset;
    }

    .row {
        flex-wrap: nowrap;
    }
}
