// functions
@import 'bootstrap/scss/functions';

// mixin
@import 'bootstrap/scss/mixins';
// @import '2-mixins/non_responsive_breakpoints';

// Variables
// @import '1-variables/non_responsive';
@import '1-variables/app';
@import 'bootstrap/scss/variables';

// Bootstrap component
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/code';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/input-group';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/jumbotron';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/media';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/print';

@import '3-components/content';
@import '3-components/main';

// 고정형 부트스트랩 스타일 오버라이드
.wrapper-fix {
    align-items: stretch;
    display: flex;
    min-width: 1695px;

    .sidebar {
        width: 260px;

        @media (min-width: 1px) and (max-width: #{map-get($grid-breakpoints, 'lg') - .02px}) {
            width: 260px;
            margin-left: unset;
            .sidebar-content {
                left: unset;
            }
        }
    }

    .main {
        display: block;
        > nav {
            width: 100%;
        }
        .content {
            width: 100%;
            max-width: 100%;
        }
    }

    .container {
        max-width: unset;
    }

    .row {
        flex-wrap: nowrap;
    }
}
