@mixin button-color($color) {
  &,
  &:focus,
  &.focus,
  &.disabled,
  &:disabled,
  .show > &.dropdown-toggle {
    color: $color;
    box-shadow: none !important;
  }
}

@mixin button-hover($color, $background, $border-color: null, $font-weight: null) {
  &:hover:not(:disabled):not(.disabled),
  &.hover:not(:disabled):not(.disabled) {
    color: $color;
    background: $background;
    @if ($border-color) {
      border-color: $border-color;
    }
    @if($font-weight) {
      font-weight: $font-weight;
    }
  }
}

@mixin button-color-hover($color) {
  &:hover:not(:disabled):not(.disabled),
  &.hover:not(:disabled):not(.disabled) {
    color: $color;
  }
}

@mixin button-active($color, $background, $border-color: null, $font-weight: null) {
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $color;
    background: $background;
    border-color: $background;
    @if ($border-color) {
      border-color: $border-color;
    }
    @if($font-weight) {
      font-weight: $font-weight;
    }
  }
}

@mixin button-color-active($color) {
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $color;
  }
}

@mixin button-disabled($color, $background) {
  &.disabled, &:disabled {
    color: $color;
    background: $background;
    border-color: $background;
  }
}