/* -----------------------
* 서울시스템 추가 mixin
* ---------------------- */
@mixin custom-scroll {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: $gray-310;
        margin:0 0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray-650;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}

@mixin disabled-font {
    font-style: italic;
    color: $gray-500;
}

@mixin toast-footer($element: button) {
    display: flex;
    justify-content: space-between;
    padding: 0;

    #{$element} {
        @include button-variant($white, $white);
        font-size: $h3-font-size;
        box-shadow: none !important;
        margin: 0;
        flex: 1 1 auto !important;
        border: 0;
        padding: 24px 0;
        border-radius: 0;
        border-right: 1px solid $border-color;
        font-weight: $btn-font-weight;

        &:last-child {
            border-right: 0px;
        }

        @each $color, $value in $theme-colors {
            &[data-color="#{$color}"] {
                color: $value !important;
            }
        }
    }
}