<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.web.rcv.task.cpxml.mapper.CpXmlRcvMapper">
  <select id="callUspRcvArticleBasicIns" parameterType="JamArticleTotalVo" resultType="Integer"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_BASIC_INS(
      #{curArticle.iud, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curArticle.id, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curArticle.mediaCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curArticle.title, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curArticle.subTitle, mode=IN, jdbcType=VARCHAR, javaType=string},
      '', /* Depart */
      #{curArticle.pressDateTime, mode=IN, jdbcType=VARCHAR, javaType=string},
      '', /* Embargo */
      #{curArticle.myun, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curArticle.pan, mode=IN, jdbcType=VARCHAR, javaType=string},
      '', /* Urgency */
      '', /* Area */
      '', /* PressArtType */
      #{curArticle.content, mode=IN, jdbcType=VARCHAR, javaType=string},
      '', /* Section */
      #{curArticle.copyright, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curArticle.serviceUrl, mode=IN, jdbcType=VARCHAR, javaType=string},
      '', /* UsedYN */
      #{editYn, mode=IN, jdbcType=VARCHAR, javaType=string},
      '' /* PhotoYN */
      )
      }
    ]]>
  </select>
  <select id="callUspRcvArticleComponentIns" parameterType="JamArticleTotalVo" resultType="Integer"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_COMPONENT_INS(
      #{rid, mode=IN, jdbcType=INTEGER, javaType=int},
      #{curArticle.id, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curComponent.url, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curComponent.width, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curComponent.height, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curComponent.desc, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curComponent.etc, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curComponent.etc, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curComponent.type, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>
  <select id="callUspRcvArticleComponentDel" parameterType="JamArticleTotalVo" resultType="Integer"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_COMPONENT_DEL(
      #{rid, mode=IN, jdbcType=INTEGER, javaType=int},
      #{curArticle.id, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>
  <select id="callUspRcvArticleReporterIns" parameterType="JamArticleTotalVo" resultType="Integer"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_REPORTER_INS(
      #{rid, mode=IN, jdbcType=INTEGER, javaType=int},
      #{curArticle.id, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curReporter.name, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curReporter.email, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curReporter.blog, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curReporter.etc, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>
  <select id="callUspRcvArticleReporterDel" parameterType="JamArticleTotalVo" resultType="Integer"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_REPORTER_DEL(
      #{rid, mode=IN, jdbcType=INTEGER, javaType=int},
      #{curArticle.id, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>
  <select id="callUspRcvArticleCodeIns" parameterType="JamArticleTotalVo" resultType="Integer"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_CODE_INS(
      #{rid, mode=IN, jdbcType=INTEGER, javaType=int},
      #{curArticle.id, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curCategory.type, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curCategory.code, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curCategory.name, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{curIndex, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>
  <select id="callUspRcvArticleCodeDel" parameterType="JamArticleTotalVo" resultType="Integer"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_CODE_DEL(
      #{rid, mode=IN, jdbcType=INTEGER, javaType=int},
      #{curArticle.id, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>
</mapper>
