<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmnet.moka.web.rcv.task.rcvartreg.mapper.RcvArtRegMapper">
  <select id="callUspRcvArticleIudSel" resultType="HashMap"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_IUD_SEL(
      )
      }
    ]]>
  </select>

  <delete id="callUspRcvArticleIudComplete" parameterType="JamArticleTotalVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_IUD_COMPLETE(
      #{mainData.iud, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{rid, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{totalId, mode=IN, jdbcType=INTEGER, javaType=int}
      )
      }
    ]]>
  </delete>

  <select id="callUspRcvCodeConvSelByRid" parameterType="JamArticleTotalVo" statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_CODE_CONV_SEL_BY_RID(
      #{rid, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{sourceCode, mode=IN, jdbcType=VARCHAR, javaType=string},
      #{mainData.categoies[0].code, mode=OUT, jdbcType=VARCHAR, javaType=string},
      #{sectCode, mode=OUT, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </select>

  <select id="callUspRcvArticleReporterSelByRid" parameterType="JamArticleTotalVo" resultType="HashMap"
    statementType="CALLABLE">
    <![CDATA[
    {
      call USP_RCV_ARTICLE_REPORTER_SEL_BY_RID(
          #{rid, mode=IN, jdbcType=VARCHAR, javaType=string}
          )
          }
    ]]>
  </select>

  <select id="selectRcvArticleComponent" parameterType="HashMap" resultType="HashMap"
    statementType="CALLABLE">
    SELECT COMP_URL, COMP_DESC, COMP_WIDTH, COMP_HEIGHT, COMP_PLAY_TIME, COMP_TYPE, COMP_OBJ_ID
        FROM TB_RCV_ARTICLE_COMPONENT
    WHERE RID=#{rid, mode=IN, jdbcType=VARCHAR, javaType=string}
      AND COMP_TYPE IN
      <foreach collection="compType" item="arr" open="(" close=")" separator=",">
          #{arr}
      </foreach>
  </select>

  <select id="selectRcvArticleKeyword" parameterType="JamArticleTotalVo" resultType="HashMap"
    statementType="CALLABLE">
    <![CDATA[
    SELECT KEYWORD
    FROM TB_RCV_ARTICLE_KEYWORD WHERE RID=#{rid, mode=IN, jdbcType=VARCHAR, javaType=string}
    ]]>
  </select>

  <insert id="callUpaCpRcvArtHistUpd" parameterType="HashMap" statementType="CALLABLE">
    <![CDATA[
    {
      call UPA_CP_RCV_ART_HIST_UPD(
      #{IUD, mode=IN, jdbcType=VARCHAR, javaType=string},
      3,
      #{SOURCE_CODE, mode=IN, jdbcType=VARCHAR, javaType=string},
      0,
      #{RECEIVE_AID, mode=IN, jdbcType=VARCHAR, javaType=string},
      0,
      '',
      #{errorMessage, mode=IN, jdbcType=VARCHAR, javaType=string}
      )
      }
    ]]>
  </insert>
</mapper>


