<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>중앙일보</title>
</head>
<body>
<div class="wrapper">
  <div style="margin: 40px; position: relative; box-sizing: border-box; outline: none; ">
    <div style="margin :0; width: 400px; height:100%; border: 4px solid #ffc000; border-radius: 20px; padding: 20px; font-size:14px; color:#000000; line-height: 24px;">
      <p style="margin :0 0 20px 0; text-align: center;">잠김 해제 신청</p>
      <p style="margin :0;">사용자 : <span th:text="${memberNm+'('+memberId+')'}"></span>님</p>
      <p style="margin :0;">해제 이유 : <span th:text="${requestReason}"></span></p>
  </div>
</div>
</body>
</html>