<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<meta http-equiv="Content-Type" content="text/html;charset=euc-kr">
<title>중앙일보 안내레터</title>
<style type="text/css">body {
  margin: 0;
  padding: 0;
}</style><!-- Header -->
<table border="0" cellspacing="0" cellpadding="0" bgcolor="white" style="width:652px;">
  <tbody>
  <tr>
    <td width="20" height="66" rowspan="2">&nbsp;</td>
    <td height="25" colspan="2">&nbsp;</td>
    <td width="20" height="66" rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" width="116" height="47" style="padding-top:2px;"><a
        href="http://joongang.joins.com/" target="_blank" title="(새창) 중앙일보 이동"><img
        src="http://images.joins.com/ui_portal/portal2016/letter/t_letter_joongang.jpg" alt="중앙일보"
        border="0" style="vertical-align:top;"></a></td>
    <td valign="top" height="47"><img
        src="http://images.joins.com/ui_portal/portal2010/letter/t_info_v2.gif" alt="안내레터"
        border="0"></td>
  </tr>
  <tr>
    <td height="3" colspan="4" bgcolor="#231f20"></td>
  </tr>
  </tbody>
</table><!-- // Header --><!-- 레터 이미지  내용 -->
<table border="0" cellspacing="0" cellpadding="0" bgcolor="white"
       style="width:650px;font:normal 15px 'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif,sans-serif-light;letter-spacing:-0.05em;color:#231f20;border:1px solid #eee;">
  <tbody>
  <tr>
    <td colspan="3"><img border="0"
                         src="http://images.joins.com/ui_joongang/news/pc/visit/v_visit_letter_title2.jpg"
                         style="vertical-align:top;"></td>
  </tr>
  <tr>
    <td width="40">&nbsp;</td>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" bgcolor="white"
             style="width:570px;font:normal 13px/22px 'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif,sans-serif-light;letter-spacing:-0.05em;color:#222;border-bottom:1px solid #000;">
        <tbody>
        <tr>
          <td height="9" colspan="3"></td>
        </tr>
        <tr>
          <td height="30" width="19">&nbsp;</td>
          <td height="30" width="90" style="vertical-align:middle;font-weight:bold">신청 상태</td>
          <td height="30" width="460" style="vertical-align:middle">
            <span style="color:#ff2222" th:text="${tourStatusName}"></span>
          </td>
        </tr>
        <tr>
          <td height=" 30" width="19">&nbsp;
          </td>
          <td height="30" width="90" style="vertical-align:middle;font-weight:bold">
            <span th:text="${tourStatusName}">사유</span>
          </td>
          <td height="30" width="460" style="vertical-align:middle"><span
              style="color:#ff2222" th:text="${returnReason}"></span></td>
        </tr>
        <tr>
          <td height="30" width="19">&nbsp;</td>
          <td height="30" width="90" style="vertical-align:middle;font-weight:bold">일시</td>
          <td height="30" width="460" style="vertical-align:middle"><span
              th:text="${#dates.format(tourDate, 'yyyy-MM-dd')}"></span> <span
              th:text=" ${tourTime}"></span>시
          </td>
        </tr>
        <tr>
          <td height="30" width="19">&nbsp;</td>
          <td height="30" width="90" style="vertical-align:middle;font-weight:bold">단체명</td>
          <td height="30" width="460" style="vertical-align:middle"><span
              th:text="${tourGroupNm}"></span></td>
        </tr>
        <tr>
          <td height="30" width="19">&nbsp;</td>
          <td height="30" width="90" style="vertical-align:middle;font-weight:bold">인원수</td>
          <td height="30" width="460" style="vertical-align:middle"><span
              th:text="${tourPersons}"></span>명
          </td>
        </tr>
        <tr>
          <td height="30" width="19">&nbsp;</td>
          <td height="30" width="90" style="vertical-align:middle;font-weight:bold">신청자</td>
          <td height="30" width="460" style="vertical-align:middle">
            <span th:text="${writerNm}"></span>
            (<span th:text="${writerPhone}"></span>)
          </td>
        </tr>
        <tr>
          <td height="9" colspan="3"></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td width="40">&nbsp;</td>
  </tr>
  <tr>
    <td height="50" colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td height="50" colspan="3" align="center"><a href="http://news.joins.com/jtour#write_wrap"
                                                  target="_blank"><img border="0"
                                                                       src="http://images.joins.com/ui_joongang/news/pc/visit/b_visit_letter.gif"
                                                                       style="vertical-align:top;"></a>
    </td>
  </tr>
  <tr>
    <td height="50" colspan="3">&nbsp;</td>
  </tr>
  </tbody>
</table><!-- // 레터 이미지  내용 -->
<table width="652" height="79" border="0" cellpadding="0" cellspacing="0" bgcolor="#eeeeee">
  <tbody>
  <tr>
    <td width="20" rowspan="2" valign="top"><img
        src="http://images.joins.com/ui_portal/portal2010/letter/space.gif" width="20" height="10">
    </td>
    <td width="115" valign="top" rowspan="2"><a href="http://joongang.joins.com/"
                                                target="_blank"><img border="0" alt="중앙일보"
                                                                     src="http://images.joins.com/ui_portal/portal2010/letter/footer_joongang_logo.gif"></a>
    </td>
    <td rowspan="2" valign="top"><img
        src="http://images.joins.com/ui_portal/portal2010/letter/footer_joongang.gif" border="0"
        usemap="#Map_footer"></td>
    <td height="15" valign="top"><img
        src="http://images.joins.com/ui_portal/portal2010/letter/space.gif" height="15"></td>
    <td width="20" rowspan="2" valign="top"><img
        src="http://images.joins.com/ui_portal/portal2010/letter/space.gif" width="20" height="10">
    </td>
  </tr>
  <tr>
    <td height="64" valign="top"><a href="http://my.joins.com" target="_blank"><img
        src="http://images.joins.com/ui_portal/portal2010/letter/btn_customer.gif" alt="고객센터"
        border="0"></a></td>
  </tr>
  </tbody>
</table><!-- Footer --><!-- // Footer -->
<map name="Map_footer">
  <area shape="rect" coords="59,45,144,60" href="http://joongang.joins.com/" target="_blank"
        alt="JoongAngIlbo.">
</map>
</body>
</html>
