.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-sm {
  font-size: $font-size-lg;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

$font-sizes: 9, 10, 11, 12, 13, 14, 15, 16;
@each $size in $font-sizes {
    .ft-#{$size} {
        font-size: #{$size}px;
    }
}

.pre {
  white-space: pre !important;
}

.pre-wrap {
  white-space: pre-wrap !important;
}