.font-size-lg {
  @include font-size($font-size-lg);
}

.font-size-sm {
  @include font-size($font-size-lg);
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

$font-sizes: 9, 10, 11, 12, 13, 14, 15, 16;
@each $size in $font-sizes {
  .ft-#{$size} {
    @include font-size($size);
  }
}

.pre {
  white-space: pre !important;
}

.pre-wrap {
  white-space: pre-wrap !important;
}