/* -----------------------
* 부트스트랩과 관련없지만, 자주 쓰이는 클래스 모음
* ---------------------- */
.gap {
    margin-right: 10px;
}

.custom-scroll {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: $gray-310;
        margin:0 0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray-650;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}