.overflow-scroll {
    overflow: scroll;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-visible {
    overflow: visible;
}

.overflow-y-auto {
    overflow: hidden;
    overflow-y: auto !important;
}

.overflow-y-scroll {
    overflow: hidden;
    overflow-y: scroll !important;
}