.absolute-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
} 

.absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}