.absolute-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.relative {
    position: relative;
}

.mr-10px {
    margin-right: 10px !important;
}

.mr-30px {
    margin-right: 30px !important;
}