@charset "utf-8";

/* 
display,visible,float,clear,overflow,position,z-index,top,right,bottom,left,
width,*-width,height,*-height,padding,margin,border-*,background-*
font-*,color,text-align,vertical-align, ...
*/
/* Small devices (portrait phones, landscape phones, less than 767px) */
/* No media query this is the default */

/* article */
.article {padding:40px 0 60px;}
.article_header {width:100%;max-width:580px;margin:0 auto;}
.article_header .reader_area {display:flex;font-size:14px;}
.article_header .reader_area strong {margin-right:5px;}
.article_header .headline {margin-top:15px;font-size:24px;line-height:34px;font-weight:700;}
.article_header .info_area {display:flex;}
.article_header .source_date {display:flex;position:relative;margin-top:26px;padding-bottom:15px;border-bottom:1px solid #d8d8d8;}
.article_header .source_date .source {position:relative; margin-right: 10px; padding-right: 11px; font-size:13px;line-height:20px;color:#999;}
.article_header .source_date .source::before { content:'';position:absolute;right:0;top:50%;width:1px;height:12px;background-color:#979797;transform: translateY(-50%);}
.article_header .source_date .date_bx { position: relative;  }
.article_header .source_date .date .ico
.article_header .source_date .epaper {position:absolute;right:0;top:0;font-size:13px;line-height:22px;color:#999;}
.article_header .byline {display:flex;align-items:center;height:52px;margin:0 -5px;}
.article_header .byline > a {padding:0 5px;}

.article_body {width:100%;margin:0 auto;padding:30px 0 40px;border-top:4px solid #ff4620;border-bottom:1px solid #e2e2e2;}




/* 공감 */
.empathy_wrap { height: 46px; }
.empathy_wrap,
.empathy_area { display: flex; align-items: center; }
.empathy_wrap > button,
.empathy_area > button { display: flex; justify-content: center; align-items: center;}
.empathy_wrap > button { position: relative; width: 50%; height: 100%; }
.empathy_wrap > button:first-child::before { content: ""; position: absolute; right: 0; top: 0; width: 1px; height: 100%; background-color: #d8d8d8; }
.empathy_wrap > button .count { position: relative; margin-left: 8px; color: #999; font-size: 16px; }
.empathy_area > button.active > .ico_face_like { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h22v22H0z'/%3E%3Cpath fill='%23FF3C14' d='M11 2.2a8.8 8.8 0 110 17.6 8.8 8.8 0 010-17.6zm0 1.1c-4.253 0-7.7 3.447-7.7 7.7s3.447 7.7 7.7 7.7 7.7-3.447 7.7-7.7-3.447-7.7-7.7-7.7z'/%3E%3Cpath fill='%23FF3C14' d='M11 16.5a5.5 5.5 0 01-5.473-4.95h1.015a4.493 4.493 0 008.916 0h1.015A5.5 5.5 0 0111 16.5z'/%3E%3Ccircle cx='8.25' cy='8.25' r='1.1' fill='%23FF3C14'/%3E%3Ccircle cx='13.75' cy='8.25' r='1.1' fill='%23FF3C14'/%3E%3Cpath fill='%23FF3C14' d='M11 3.3h6.875l.825-.825V2.2H11z'/%3E%3C/g%3E%3C/svg%3E"); }
.empathy_wrap > button.active > .count,
.empathy_area > button.active > .count { color: #ff3c14; }
.empathy_wrap [class^="ico_face_"] { width: 30px; height: 30px; }
.empathy_area [class^="ico_face_"] { width: 22px; height: 22px; }
.empathy_area > button:nth-child(2) { margin-left: 15px; }
.empathy_area > button .count { margin-left: 5px; color: #999; font-size: 14px; }

[class^="ico_face_"] { display: inline-block; background-repeat: no-repeat; background-position: center; background-size: 100%; }


/* 댓글 */
.comment { padding: 16px 0; }
.comment_header { display: flex; position: relative; }
.comment_header .comment_userid { color: #000; font-size: 15px; line-height: 22px; font-weight: 700; }
.comment_header .comment_date { margin-left: 12px; color: #999; font-size: 14px; line-height: 22px; }
.comment_header .more_option_area { position: absolute; right: 0; top: -2px; text-align: right; }
.comment_header .more_option_area .btn_more { position: relative; right: -8px; width: 20px; height: 20px;  }
.comment_header .more_option_area .btn_outline_gray { display: none; position: absolute; right: 0; top: 30px; width: 58px; height: 30px; }
.comment_header .more_option_area.open { display: block; }
.comment_content { margin-top: 10px; color: #111; font-size: 14px; line-height: 20px; }
.comment_footer { margin-top: 12px; }
.comment_footer::after { display: block; content: ''; clear: both; }
.comment_footer .btn_reply { float: left; color: #999; font-size: 14px; line-height: 22px; }
.comment_footer .empathy_area { float: right; }

.comment_list { border-top: 2px solid #ff4620; }
.comment_list li:nth-child(n+2) { border-top: 1px solid #e2e2e2; }
.comment_list .ico_more_option { width: 3px; height: 17px;  }




.fs1 {font-size:14px;line-height:1.93;letter-spacing:normal;}
.fs2 {font-size:16px;line-height:1.81;letter-spacing:normal;}
.fs3 {font-size:18px;line-height:1.72;letter-spacing:-0.5px;}
.fs4 {font-size:20px;line-height:1.8;letter-spacing:-0.5px;}
.fs5 {font-size:22px;line-height:1.73;letter-spacing:-0.52px;}

/****************************************************************************************************/
/***                                            image                                             ***/
/****************************************************************************************************/

.ab_photo {padding:40px 0;}
.ab_photo.photo_left {float:left;margin:0 40px 0 0;} /* margin:20px 20px 20px 0;*/
.ab_photo.photo_right {float:right;margin:0 0 0 40px;}
.ab_photo .image {position:relative;display:inline-block;width:auto;}
.ab_photo img{max-width:100%;}

.pp_letter_wrap {width:100%;margin:40px 0;background:#f3f3f3;}

/* Mobile devices (mobile, 767px and down) */
@media (max-width:767px) {

    .ab_photo.photo_center {max-width:100vw !important;margin-left:-20px;}
    .ab_photo.photo_center .image {max-width:100vw;}
    .ab_photo.photo_center .caption {max-width:100vw;}
    .ab_photo.photo_center .image img {max-width:100%;}

}


/* Medium devices (tablet + pc, 768px and up) */
@media (min-width:768px) {

    .article_body {max-width:580px;}
    .ab_photo.photo_center {position:relative;max-width:720px !important;left:50%;transform:translateX(-50%);}
    .ab_photo.photo_center .image {max-width:720px;}
    .ab_photo.photo_center .image img {max-width:100%;}
}


/* Medium devices (only tablet, 768px and 1023px) */
@media (min-width:768px) and (max-width:1023px) {
    
}


/* Large devices (desktops, 1024px and up) */
@media (min-width:1024px) {

}


/* Unique devices (large desktops, 1280px and up) */
@media (min-width:1280px) {

}
