@charset "utf-8";

/* 
display,visible,float,clear,overflow,position,z-index,top,right,bottom,left,
width,*-width,height,*-height,padding,margin,border-*,background-*
font-*,color,text-align,vertical-align, ...
*/
/* Small devices (portrait phones, landscape phones, less than 767px) */
/* No media query this is the default */


/****************************************************************************************************/
/***                                           layout                                             ***/
/****************************************************************************************************/
.article {position: relative; padding:40px 0 60px;margin:0 auto;background: #fff;zoom: 1;}

#cover_450h + .article{margin-top: 300px;padding:40px 30px 60px;}

.article_header, 
.article_body,
.article_footer {width:100%;margin:0 auto;}
.article_header {border-bottom:4px solid #ff4620;}
.article_header .reader_area {display:flex;font-size:14px;}
.article_header .reader_area .badge {margin-right:5px;padding:0;font-size:14px;color:#f6330a;}
.article_header .headline {margin-top:15px;font-size:24px;line-height:34px;font-weight:700;}
.article_header .info_area {display:flex;}
.article_header .datetime {display:flex;position:relative;margin-top:26px;padding-bottom:15px;border-bottom:1px solid #d8d8d8;}
.article_header .datetime .source {position:relative; margin-right: 10px; padding-right: 11px; font-size:13px;line-height:20px;color:#999;}
.article_header .datetime .source::before { content:'';position:absolute;right:0;top:50%;width:1px;height:12px;background-color:#979797;transform: translateY(-50%);}
.article_header .datetime .date { font-size: 13px; line-height: 20px; }
.article_header .datetime .time_bx { display: flex; align-items: center; position: relative; }
.article_header .datetime .time_bx > .date:nth-of-type(1):nth-last-of-type(2) { margin-right: 10px; }
.article_header .datetime .date .ico_arrow_down { width: 8px; height: 7px; }
.article_header .datetime .epaper {position:absolute;right:0;top:0;font-size:13px;line-height:22px;color:#999;}
.article_header > .byline {display:flex; flex-wrap: wrap; align-items:center; position: relative; min-height: 52px;margin:0 -5px; padding: 4px 0; }
.article_header > .byline > a {padding:0 5px; font-size: 14px; font-weight: 700; }
.article_header > .byline .btn_byline_more { margin-left: 5px; font-size: 13px; }
.article_header + .subscription_wrap {margin-top:30px;}

.article_body {padding:30px 0 40px;}
.article_footer {padding-top:30px;border-top:1px solid #e2e2e2;}
.article_footer .subscription_wrap, 
.article_footer .empathy_wrap { margin-top: 30px; }
.article_footer .comment_wrap { margin-top: 40px; border-top: 4px solid #ff4620; }


/* sticky_menu */
.sticky_menu { z-index: 200; position: fixed; top: 344px;  left:calc(100vw / 2 + 485px * -1); /*left: 50%; transform: translateX(-50%);*/ width: 80px; /* margin-left: -500px;*/ padding: 30px 0; border: 1px solid #e2e2e2; border-radius: 40px; background-color: #fff;  }
.sticky_menu > button { display: block; overflow:visible; position: relative; width: 100%; font-size: 0; text-align: center; }
.sticky_menu > button:nth-child(n+2) { margin-top: 16px;}
.sticky_menu span.sm_hidden { display: block; font-size: 13px; line-height: 22px; color: #999; letter-spacing: -0.5px; }
.sticky_menu .ico_bookmark { width: 26px; height: 26px; }
.sticky_menu .comment_cnt { position: absolute; top: -4px; right: 20px; min-width: 20px; height: 14px; padding: 0 4px 1px; border-radius: 7px; background: #f6330a; font-size: 9px; line-height: 14px; color: #fff; }
.sticky_menu .ico_comment { width: 26px; height: 26px; }
.sticky_menu .ico_share { width: 26px; height: 26px; }
.sticky_menu .btn_fontsize { padding-top: 17px; }
.sticky_menu .btn_fontsize:before { content: ''; position: absolute; top: 0; left: 50%; width: 33px; height: 1px; transform: translateX(-50%); background: #e2e2e2;}
.sticky_menu .ico_fontsize { top: 17px; width: 18px; height: 24px; background: #ddd; }
.sticky_menu .ico_print { width: 23px; height: 24px; background: #ddd; }
.sticky_menu .reader_area { position: relative; margin-top: 16px; padding-top: 16px; text-align: center; }
.sticky_menu .reader_area:before { content: ''; position: absolute; top: 0; left: 50%; width: 33px; height: 1px; transform: translateX(-50%); background: #e2e2e2;}
.sticky_menu .reader_area .cnt { display: block; margin-bottom: 2px; font-family: "Noto Sans KR"; font-size: 16px; line-height: 24px; letter-spacing: -0.4px; color: #111; }

.sticky_menu .layer_share { left: 90px; top: 158px; width: 288px; height: 207px; padding: 14px 20px 20px; }
.sticky_menu .layer_share ul { margin: 1px 5px 0; }
.sticky_menu .layer_share li { display: inline-block; position: relative; width: 40px; height: 64px; margin: 13px 0 0 20px;}
.sticky_menu .layer_share li:nth-child(1),
.sticky_menu .layer_share li:nth-child(4n+1) {margin-left: 0;}
.sticky_menu .layer_share li button { width: 40px;}
.sticky_menu .layer_share li button [class^='ico'] { position: relative; width: 40px; height: 40px; border: 1px solid #e2e2e2; border-radius: 50%;  vertical-align: top;}
.sticky_menu .layer_share li button span { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); font-size: 13px; line-height: 22px; letter-spacing: -0.5px; white-space: nowrap; color: #999; }
.sticky_menu .layer_share .btn_close { top: 15px; right: 18px; }

.sticky_menu .layer_fontsize { left: 90px; top: 240px; width: 230px; height: 158px; padding: 14px 20px 20px; }
.sticky_menu .layer_fontsize .layer_body > p { margin-top: 10px; font-size: 13px; line-height: 22px; letter-spacing: -0.5px; color: #999; }
.sticky_menu .layer_fontsize .btn_close { top: 15px; right: 18px; }
.sticky_menu .layer_fontsize ul { display: flex; justify-content: space-between; margin-top: 20px; }
.sticky_menu .layer_fontsize li a { display: block; width: 30px; height: 30px; border: 1px solid #e2e2e2; border-radius: 50%; font-size: 0; }
.sticky_menu .layer_fontsize li a:hover { text-decoration: none; }
.sticky_menu .layer_fontsize li a:focus { background: #e2e2e2;}
.sticky_menu .layer_fontsize li a:before { display: inline-block; content: '가'; width: 100%; font-size: 12px; line-height: 30px; color: #111; text-align: center; }
.sticky_menu .layer_fontsize li:nth-child(2) a:before { font-size: 14px;}
.sticky_menu .layer_fontsize li:nth-child(3) a:before { font-size: 15px;}
.sticky_menu .layer_fontsize li:nth-child(4) a:before { font-size: 16px;}
.sticky_menu .layer_fontsize li:nth-child(5) a:before { font-size: 17px;}

/* 스크롤 인디케이터 */
#scroll_indicator { position: fixed; left: 0; top: 60px; width: 100%; height: 4px; transform: translateX(-100%); background-color: #f6330a;  }
#scroll_indicator::before { content: ''; position: fixed; left: 0; top: 0; width: 100%; height: 4px; transform: translateX(100%); background-color: #e2e2e2; }

/* 속보 티커 */
.layer_ticker { display: none; z-index: 100; position: fixed; left: 0; width: 100%; background-color: #fff6e2; }
.layer_ticker.active { display: block; }
.layer_ticker .ticker_content { display: flex; position: relative; max-width: 580px; width: 100%; height: 100%; margin: 0 auto; }
.layer_ticker .badge { height: 24px; }
.layer_ticker .headline { margin-left: 10px; }
.layer_ticker .date { margin-left: 10px; }
.layer_ticker .btn_close { position: absolute; }

.fs1 {font-size:14px;line-height:1.93;letter-spacing:normal;}
.fs2 {font-size:16px;line-height:1.81;letter-spacing:normal;}
.fs3 {font-size:18px;line-height:1.72;letter-spacing:-0.5px;}
.fs4 {font-size:20px;line-height:1.8;letter-spacing:-0.5px;}
.fs5 {font-size:22px;line-height:1.73;letter-spacing:-0.52px;}


/****************************************************************************************************/
/***                                           content                                            ***/
/****************************************************************************************************/

/* 공감 */
.empathy_wrap { position: relative; height: 46px; }
.empathy_wrap::before { content: ""; position: absolute; right: 50%; top: 0; width: 1px; height: 100%; background-color: #d8d8d8; }
.empathy_wrap .comment_recomm { height: 100%; }
.empathy_wrap .comment_recomm > button { position: relative; width: 50%; height: 100%; }
.empathy_wrap .comment_recomm > button .count { position: relative; margin-left: 8px; color: #999; font-size: 16px; }
.empathy_wrap .comment_recomm [class^="ico_face_"] { width: 30px; height: 30px; background-size: 100%; }
.comment_recomm { display: flex; align-items: center; }
.comment_recomm > button { display: flex; justify-content: center; align-items: center;}
.comment_recomm > button.active > .ico_face_like { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h30v30H0z'/%3E%3Cpath fill='%231D1D1D' d='M15 3c6.627 0 12 5.373 12 12s-5.373 12-12 12S3 21.627 3 15 8.373 3 15 3zm0 1.5C9.201 4.5 4.5 9.201 4.5 15S9.201 25.5 15 25.5 25.5 20.799 25.5 15 20.799 4.5 15 4.5z'/%3E%3Cpath fill='%231D1D1D' d='M15 22.5a7.5 7.5 0 01-7.463-6.75H8.92a6.127 6.127 0 0012.16 0h1.383A7.5 7.5 0 0115 22.5z'/%3E%3Ccircle cx='11.25' cy='11.25' r='1.5' fill='%231D1D1D'/%3E%3Ccircle cx='18.75' cy='11.25' r='1.5' fill='%231D1D1D'/%3E%3Cpath fill='%231D1D1D' d='M15 4.5h9.375L25.5 3.375V3H15z'/%3E%3C/g%3E%3C/svg%3E"); }
.comment_recomm > button.active > .ico_face_hate { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h22v22H0z'/%3E%3Cpath fill='%23FF3C14' d='M11 2.2a8.8 8.8 0 110 17.6 8.8 8.8 0 010-17.6zm0 1.1c-4.253 0-7.7 3.447-7.7 7.7s3.447 7.7 7.7 7.7 7.7-3.447 7.7-7.7-3.447-7.7-7.7-7.7z'/%3E%3Cpath fill='%23FF3C14' d='M11 16.5a5.5 5.5 0 01-5.473-4.95h1.015a4.493 4.493 0 008.916 0h1.015A5.5 5.5 0 0111 16.5z'/%3E%3Ccircle cx='8.25' cy='8.25' r='1.1' fill='%23FF3C14'/%3E%3Ccircle cx='13.75' cy='8.25' r='1.1' fill='%23FF3C14'/%3E%3Cpath fill='%23FF3C14' d='M11 3.3h6.875l.825-.825V2.2H11z'/%3E%3C/g%3E%3C/svg%3E"); }
.comment_recomm > button.active > .count { font-weight: 500; font-family: "Noto Sans KR"; color: #111; }
.comment_recomm [class^="ico_face_"] { width: 22px; height: 22px; background-size: 100%; }
.comment_recomm > button .count { margin-left: 5px; color: #999; font-size: 14px; }

/* 댓글 */
.comment { position: relative; z-index: 1; padding: 16px 0; }
.new_comment::before { content:''; z-index: -1; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(255, 246, 226, 0.5); }
.report_comment::before { content:''; z-index: -1; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #e3e3e3;  } 
.comment_header { position: relative; }
.comment_header .comment_userid { color: #000; font-size: 15px; line-height: 22px; font-weight: 700; }
.my_comment .comment_header .comment_userid { color: #f6330a; }
.comment_header .comment_date { margin-left: 12px; font-size: 13px; line-height: 22px; color: #999; }
.comment_header .btn_report { position: relative; margin-left: 21px; font-size: 13px; line-height: 22px; color: #999; }
.comment_header .btn_report::before { content: ''; position: absolute; left: -11px; top: 50%; transform: translateY(-50%); width: 1px; height: 11px; background-color: #999; }
.comment .more_option_area { position: absolute; right: 0; top: 16px;}
.comment .more_option_area .btn_toggle { position: relative; right: -8px; width: 20px; height: 20px;  }
.comment .more_option_area .btn_outline_gray { display: none; position: absolute; right: 0; top: 30px; }
.comment .more_option_area.open .btn_outline_gray { display: block; }
.comment_content { margin-top: 10px; font-size: 14px; line-height: 20px; }
.comment_content .comment_text { color: #111; }
.comment_content .report_text { display: flex; align-items: center; color: #666; }
.comment_content .report_text .ico_bang { margin-right: 5px; width: 18px; height: 18px;  }
.comment_footer { margin-top: 12px; }
.comment_footer::after { display: block; content: ''; clear: both; }
.comment_footer .btn_reply_cnt,
.comment_footer .btn_reply { float: left; color: #999; font-size: 14px; line-height: 22px; }
.btn_reply + .btn_reply_cnt { margin-left: 15px; }
.comment_footer .comment_recomm { float: right; }
.comment_footer .comment_recomm > button:nth-child(2) { margin-left: 15px; }

.comment_list li:nth-child(n+2) { border-top: 1px solid #e2e2e2; }
.comment .ico_more_option { width: 3px; height: 17px;  }
.comment_area { position: relative; padding-bottom: 12px;  border-bottom: 4px solid #f6330a; }
.comment_area .dropdown_toggle { height: 22px; }
.btn_new_reply { width: 100%; height: 52px; margin: 20px 0 18px; background-color: #fff6e2; font-size: 14px; color: #f6330a; }
.btn_mycomment { display: flex; align-items: center; position: absolute; right: 0; top: 0; font-size: 13px; line-height: 22px; letter-spacing: -0.5px; color: #f6330a; }
.btn_mycomment .ico_arrow_primary_right { margin-left: 4px; }

/* 답글쓰기 */
.comment_form { display: none; padding: 12px 20px; border: 1px solid #111; }
.comment_form.active { display: block; }
.comment_form .comment_userid { font-size: 14px; line-height: 20px; font-weight: bold; color: #111; }
.comment_form .comment_body { margin-top: 10px; }
.comment_form .comment_textarea { width: 100%; max-height: 58px; border: 0; font-size: 14px; line-height: 20px; color: #999; }
.comment_form .comment_byte { float: left; font-size: 13px; line-height: 30px; letter-spacing: -0.5px; color: #999;  }
.comment_form .btn_gray2 { float: right; }
/*답글*/
.reply_area { display: none; padding: 0 20px; border-top: 1px solid #e2e2e2; }
.reply_area.active { display: block; }
.reply_area .new_comment::before { left: -20px; width: calc(100% + 40px);}


/* layer_comment 답글 */
.layer_comment { overflow-y: auto; z-index:101; position: fixed; top: 0; height: 100%; background-color: #fff; }
.layer_comment.active { right: 0; transition: all 0.5s; }
.layer_comment .comment_state { display: flex; align-items: center; }
.layer_comment .comment_count { font-size: 20px; line-height: 30px; letter-spacing: -0.4px; font-weight: 700; color: #111;  }
.layer_comment .comment_header .comment_form { display: block; }
.comment_header .comment_form,
.layer_comment .txt_outline { margin-top: 20px; }
.layer_comment .btn_reset { width: 22px; height: 22px; margin-left: 6px; }
.layer_comment .ico_reset { width: 22px; height: 22px; }
.layer_comment .comment_wrap { margin-top: 40px; }
.txt_outline { padding: 20px; border: 1px solid #e2e2e2; font-size: 14px; line-height: 20px; letter-spacing: -0.4px; color: #666;  }
.sm_main_text_area .headline { font-size: 24px; }
.sm_main_text_area .btn_full { margin-top: 20px; }
.btn_close .ico_close { width: 22px; height: 22px; }

/* 댓글목록 없을때 */
.not_comment { display: flex; flex-flow: column; align-items: center; font-size: 14px; text-align: center; color: #999; }
.not_comment .ico_comment { width: 30px; height: 30px; margin-bottom: 6px; }


/****************************************************************************************************/
/***                                            image                                             ***/
/****************************************************************************************************/
.ab_photo {padding-top:40px;}
.ab_photo.photo_left {float:left;margin:0 40px 0 0;} /* margin:20px 20px 20px 0;*/
.ab_photo.photo_right {float:right;margin:0 0 0 40px;}
.ab_photo .image {position:relative;display:inline-block;width:auto;}
.ab_photo img{max-width:100%;}

/* 확대보기 버튼 */
.ab_photo .button {display:block;position:absolute;bottom:0;right:0;width:59px;height:59px;background:url('https://images.joins.com/ui_joongang/news/pc/article/b_photo_enlarge2.png') 0 0 no-repeat;}
.ab_photo .btn_enlarge {overflow:hidden;width:45px;height:45px;padding:6px 8px 8px 6px !important;}
.ab_photo .btn_enlarge .icon {display:block;position:absolute;top:16px;left:16px;width:25px;height:25px;background:url('https://images.joins.com/ui_joongang/news/pc/article/u_photo_enlarge2.png') 0 0 no-repeat;text-indent:-9999px;overflow:hidden;cursor:pointer;}
.ab_photo.photo_cover .btn_enlarge {right:-380px;}

/* cover */
#cover{position:absolute;top:0;left:0;right:0;width:100%;min-width:1060px;height:600px;background-color:#000;text-align:center;background-position:50% 0;background-repeat:no-repeat;background-attachment:fixed;will-change:transform;}
#cover_450h{position:absolute;top:0;left:0;right:0;width:100%;min-width:1060px;height:450px;background-color:#000;text-align:center;background-position:50% 0;background-repeat:no-repeat;background-attachment:fixed;background-size:auto 450px;will-change:transform;}


/****************************************************************************************************/
/***                                             tag                                              ***/
/****************************************************************************************************/
.tag_wrap {display:flex;align-items:center;}
.tag_wrap .tag {display: inline-flex;flex: 0 0 auto;width:auto;padding: 3px 12px 4px;margin-bottom:7px;background:#fff4f1;border:1px solid #f6330a;color:#f6330a;font-size: 13px;font-weight: bold;line-height:normal;}


/****************************************************************************************************/
/***                                            구독                                              ***/
/****************************************************************************************************/
.subscription_wrap {padding:0 20px;background-color: #fff6e2;}
/* .subscription_wrap .title_wrap{padding:0;margin-bottom:17px;height:28px;} */
.subscription_wrap .title {font-size: 16px;font-weight: 700;line-height: 1.5;letter-spacing: -0.4px;color:#f6330a;}
.subscription_info {padding:7px 0 30px;color:#f6330a;font-size: 14px;line-height: 1.5;letter-spacing: normal;word-break: break-all;text-align: justify;}

/*** 팩플레터 ***/
.subscription_wrap.letter_wrap {display:flex;padding:20px 16px 24px;margin:40px auto;background-color: #f3f3f3;}
.letter_wrap .thum {flex:0 0 auto;display:inline-block;width:62px;margin-top:7px;margin-right:16px;}
.letter_wrap .pp_letter {width:calc(100% - 78px);}
.letter_wrap .title_wrap {padding:0;height:28px;}
.letter_wrap .title {color:#111}
.letter_wrap .subscription_info {padding-bottom:0;color:#111;}






/****************************************************************************************************/
/***                                           관련기사                                            ***/
/****************************************************************************************************/
.row.gutter0 {margin-left: 0;margin-right: 0;}
.row.gutter0 > * {padding-left: 0;padding-right: 0;}


/* 텍스트형 */
/* 2016-06-22 모듈 추가(박스기사, 관련기사, 소제목) */
.ab_box_article {clear:both;position:relative;padding-top:17px;padding-bottom:16px;*zoom:1;}
.article_body > div.ab_box_article:first-child{padding-top:17px !important;padding-bottom:16px !important;}
.ab_box_article .ab_photo {max-width:538px;padding-top:8px;padding-bottom:12px;}
.ab_box_article .ab_photo.photo_left {margin-right:20px;}
.ab_box_inner {padding:42px 20px 24px;border:1px solid #dddddd;overflow:hidden;}
.ab_box_title {margin-bottom:17px;color:#5d81c3;font-size:20px;line-height:1.5;}
.ab_box_bullet {display:block;position:absolute;top:12px;left:20px;width:18px;height:28px;background:#5d81c3;overflow:hidden;}
.ab_box_titleline {font-weight:bold;}
.ab_box_content {color:#3c3e40;font-size:16px;line-height:30px;}
.ab_sub_heading {clear:both;position:relative;margin-top:17px;margin-bottom:16px;padding-top:12px;padding-bottom:16px;border-top:1px solid #444446;border-bottom:1px solid #ebebeb;color:#3e3e40;font-size:20px;line-height:1.5;}
.article_body > div.ab_sub_heading:first-child{padding-top:12px !important;padding-bottom:16px !important;}
.ab_sub_headingline {color:#3c3e40;font-weight:bold;}
.ab_sub_headingline * {color:#3c3e40 !important;}
.ab_related_article {clear:both;position:relative;padding:24px 0 16px;}
.article_body > div.ab_related_article:first-child{padding:24px 0 16px !important;}
.ab_related_article .hd {position:absolute;top:9px;left:0;padding-right:10px;background:#fff;color:#ff3c14;font-weight:700;font-size:16px;line-height:1.8;}
.ab_related_article .bd {border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}
.ab_related_article .text_type {padding:10px 0 22px;}

.ab_related_article .image_type {padding:10px 0 24px;overflow:hidden;}
.ab_related_article .image_type li {float:left;width:50%;overflow:hidden;}
.ab_related_article .headline {display:block;max-height:75px;margin-top:7px;color:#3c3e40;font-weight:bold;font-size:17px;line-height:25px;overflow:hidden;}
.ab_related_article .headline a {color:#3c3e40;}
.ab_related_article .thumb {display:block;float:left;position:relative;width:70px;height:70px;margin-top:14px;margin-right:15px;overflow:hidden;}
.ab_related_article .thumb img {width:70px;height:70px;}
.ab_related_article .text_type .headline {padding-left:16px;background:url('https://images.joins.com/ui_joongang/news/pc/article/bu_related_article.png') 0 11px no-repeat;}
.ab_related_article .image_type .headline {margin-right:15px;}








/*************************************************************************************************************************/
/*************************************************************************************************************************/
/*************************************************************************************************************************/





/* Medium devices (mobile ~ tablet, 1023px and down) */
@media (max-width:1023px) {

/****************************************************************************************************/
/***                                           layout                                             ***/
/****************************************************************************************************/
    #scroll_indicator { top: 58px; }

    .article_header .datetime .time_bx > .date:nth-last-of-type(2) { display: none; }
    .article_header .datetime .time_bx .btn_datetime::before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
    .article_header .datetime .time_bx .btn_datetime .ico_arrow_down { width: 16px; height: 16px; }

    /* sticky_menu */
    .sticky_menu { position: fixed; top: 0; left: 0; transform: none; width: 100%; height: 58px; padding: 19px 0 0; margin: 0; border: none; border-radius: 0; opacity: 0; transition: opacity 0.3s;}
    .sticky_menu.fixed { opacity: 1; transition: opacity 0.3s;}
    .sticky_menu > button { position: absolute; top: 19px; width: auto; vertical-align: top; }
    .sticky_menu > button:nth-child(n+2) { margin-top: 0;}
    .sticky_menu > button [class*="ico_"] { height: 26px; }
    .sticky_menu span.sm_hidden { display: none; }
    .sticky_menu .btn_comment { left: 20px; }
    .sticky_menu .comment_cnt { right: 0; transform: translateX(50%); }
    .sticky_menu .btn_share { left: 58px; }
    .sticky_menu .btn_bookmark { left: 96px; }
    .sticky_menu .btn_fontsize { right: 20px; padding: 0;}
    .sticky_menu .btn_fontsize:before { display: none; }
    .sticky_menu .btn_print { display: none; }
    .sticky_menu .reader_area { display: none; }
    .sticky_menu .layer_share { top: 73px; left: 52px;}
    .sticky_menu .layer_fontsize { top: 73px; right: 20px; left: auto; }
    /* Medium devices (only tablet, 768px and 1023px) */

    /* 속보 티커 */
    .layer_ticker { top: 62px; }
    .layer_ticker .date { display: none; }
    .layer_ticker .ticker_content { max-width: 100%; padding: 10px 52px 10px 20px; }
    .layer_ticker .btn_close { right: 20px; }

    /* not_comment */
    .not_comment { padding: 20px 0; }

    /****************************************************************************************************/
    /***                                           content                                            ***/
    /****************************************************************************************************/
    .ab_photo.photo_center {width:100vw !important;max-width:100vw !important;margin-left: 50%;transform: translateX(-50%);}
    .ab_photo.photo_center .image {width:100%;max-width:100vw;}

    /* 댓글레이어 */
    .layer_comment { display: none; width: 100%; padding: 54px 20px; }
    .layer_comment::before { content: ''; z-index: 101; position: fixed; right: 0; top: 0; width: 100%; height: 54px; background-color: #fff; }
    .layer_comment.active { display: block; }
    .layer_comment .btn_close { z-index: 101; position: fixed; right: 20px; top: 20px; }
    .sm_main_text_area + .comment_state { margin-top: 20px; padding-top: 30px; border-top: 1px solid #d8d8d8; }


}


/* Large devices (desktops, 1024px and up) */
@media (min-width:1024px) {
    /****************************************************************************************************/
    /***                                           layout                                             ***/
    /****************************************************************************************************/

    /* .ab_photo.photo_center .image {max-width:100vw;} */
    .ab_photo.photo_center .image img {max-width:100%;}
    .datetime > .date:nth-of-type(n+2) { margin-left: 10px; }

    /****************************************************************************************************/
    /***                                             tag                                              ***/
    /****************************************************************************************************/
    .tag_wrap .tag {padding: 2px 12px 4px;font-size: 12px;}

    /****************************************************************************************************/
    /***                                            구독                                              ***/
    /****************************************************************************************************/
    .subscription_info {line-height:normal;}


    /****************************************************************************************************/
    /***                                           content                                            ***/
    /****************************************************************************************************/

    /*** 팩플레터 ***/
    .subscription_wrap.letter_wrap {padding:18px 16px;}
    .letter_wrap .thum {width:70px;margin-top:0;}
    .letter_wrap .pp_letter {width:calc(100% - 86px);}
    .letter_wrap .subscription_info {padding-bottom:0;color:#111;}

    /* 댓글레이어 */
    .layer_comment { right: -100%; transition: all 0.8s; width: 560px; padding: 30px 40px; box-shadow: -5px 2px 7px rgba(0, 0, 0, 0.08); }
    .layer_comment .btn_close { position: absolute; right: 40px; top: 30px; }
    .sm_main_text_area { display: none; }
    /* 속보티커 */
    .layer_ticker {  top: 64px; height: 52px; }
    .layer_ticker .ticker_content { align-items: center; }

    /* not_comment */
    .not_comment { padding: 40px 0; }

    #scroll_indicator { top: 60px; }
    .article {max-width: 580px;padding:40px 0 60px;margin:0 auto;background: #fff;zoom: 1;}
    .article_header,
    .article_body,
    .article_footer {max-width:580px;}
    .ab_photo.photo_center {position:relative;max-width:99vw !important;left:50%;transform:translateX(-50%);}

    .layer_ticker .btn_close { position: absolute; right: 20px; top: 12.5px; }

    .related_link .card_image {margin-right:15px;}

}

@media (min-width:1200px) {
    .layer_ticker .btn_close { left: 50%; top: 50%; transform: translate(-50%,-50%); margin-left: 590px; }

}

/* Unique devices (large desktops, 1280px and up) */
@media (min-width:1280px) {

}
