@charset "utf-8";/* CSS Document */



/* layout */

.body_board{position:relative;width:100%;max-width:1200px;margin:36px auto;}
/* .body_board .board_left{} */


/* .body_board .board_right{} */




/* tab */
.tab_box{font-size:0;padding:10px 0 6px;}
.tab_box a{display:inline-block;padding:0 28px;border-left:1px solid #e2e2e2;font-size:1rem;}
.tab_box a:first-child{border:none;}
.tab_box a:hover,
.tab_box a.active{font-weight:900;}

.tab_board{position:relative;}
.tab_board .tab_nav{}
.tab_board .tab_nav .nav_item{display:inline-block;padding:0 28px;border-left:1px solid #e2e2e2;}
.tab_board .tab_nav .nav_item:first-child{border:none;}
.tab_board .tab_nav .nav_item .nav_link{font-size:1rem;}
.tab_board .tab_nav .nav_item .nav_link.active{font-weight:900;}

.tab_board .input_group.board_search{position:absolute;right:0;top:0;}


.input_group.board_search{height:32px;;border:1px solid #d5d5d5;}
.input_group.board_search .form_control{position:relative;flex:1 1 auto;width:1%;min-width:0;}
.input_group.board_search .btn{position:relative;width:32px;height:100%;z-index:2;border:none;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='9.3' cy='9.3' r='6.5' fill='%23FFF' stroke='%23000' stroke-width='2'/%3E%3Cpath fill='%23D8D8D8' stroke='%23000' stroke-width='2' d='M13.846 13.846L19 19'/%3E%3Cpath d='M0 0h21v21H0z'/%3E%3C/g%3E%3C/svg%3E");font-size:0;}












 



/* 게시판 */
.table_board {table-layout:fixed;border-collapse:collapse;border-spacing:0;color:#555;line-height:16px;text-align:left;}
.table_board td{padding:3px 10px 7px;}


/* table */
.board_table{border-top:4px solid #fb502f;}
.board_table .board_list{width:100%;border-bottom:1px solid #e2e2e2;}
.board_table .board_list.active{background:#f3f3f3;}

.board_table .board_list .board_title{position:relative;display:inline-block;width:100%;}
.board_table .board_list .board_title .notice_title a{width:100%;}
.board_table .board_list .board_title .notice_icon span{display:inline-block;color:#666;}
.board_table .board_list .board_title .date{color:#999;text-align:center;}

.board_table .board_list.notice .board_title .notice_icon span{background:#fb502f;color:#fff;text-align:center;}
.board_table .board_list.notice .board_title .notice_title a{color:#fb502f;}

.board_table .board_content{display:none;}
.board_table .board_list.view_on .board_content{display:block;}

/* Medium devices (tablet + pc, 768px and up) */
@media (min-width:768px) {
    .row.body_board .col_md3{padding-right:50px;}
    .row.body_board .col_md9{padding-left:9px;}
    .input_group.board_search{max-width:182px;}

    .body_board .tab_board{margin-top:54px;}


    /* table */
    .board_table{margin-top:22px;}

    /* .board_list{width:100%;border-bottom:1px solid #e2e2e2;} */
    .board_table .board_list{padding:16px 0 18px;}
    .board_table .board_list.active{background:#f3f3f3} 
    .board_table .board_list .board_title{display:table;width:100%;}
    .board_table .board_list .board_title li{display:table-cell;}
    .board_table .board_list .board_title .notice_icon{width:98px;text-align:center;}
    .board_table .board_list.notice .board_title .notice_icon span{width:46px;line-height:1.69;}
    .board_table .board_list .board_title .notice_icon span{display:inline-block;width:46px;color:#666;line-height:1.57;letter-spacing:-0.4px;}

    .board_table .board_list .board_title .notice_title a{width:98px;text-align:center;}
    .board_table .board_list .board_title .date{width:122px;line-height:1.57;letter-spacing:-0.4px;color:#999;text-align:center;}


    .board_table .board_list .board_content{display:none;padding:20px 97px 50px;}
    .board_table .board_list.view_on .board_content{display:block;}

}
/* Mobile devices (mobile, 767px and down) */
@media (max-width:767px) {
    .row.body_board .col_md3,
    .row.body_board .col_md9{padding:20px;}

    .tab_box{padding:5px 0;}
    .tab_box a{padding:0 16px;line-height:1.38;}
    .tab_box a:first-child{padding-left:0;}
    .tab_box a:hover,
    .tab_box a.active{font-weight:900;}


    .input_group{width:fit-content;}
    /* .input_group:active{width:100%;} */
    .input_group .form_control{display:none;}
    .input_group .btn{}





    /* table */
    .board_table{margin-top:22px;}

    .board_table .board_list{width:100%;padding:16px 0 18px;border-bottom:1px solid #e2e2e2;}
    .board_table .board_list.active{width:100vw;margin-left:-20px;padding:16px 20px 0;background:#f3f3f3;border-bottom:none;}
    .board_table .board_list .board_title{position:relative;display:inline-block;width:100%;}
    .board_table .board_list .board_title .notice_title{display:block;width:100%;padding:0 0 7px;}
    .board_table .board_list .board_title .notice_title a{width:100%;font-size:1rem;font-weight:500;line-height:1.5;letter-spacing:-0.46px;color:#111;word-break:break-all;}

    .board_table .board_list .board_title .notice_icon,
    .board_table .board_list .board_title .date{float:left;position: relative;}
    .board_table .board_list .board_title .notice_icon{display:inline-block;}
    .board_table .board_list .board_title .notice_icon span{display:inline-block;padding-right:8px;color:#666;font-size:0.875rem;line-height:1.57;letter-spacing:-0.4px;}
    .board_table .board_list .board_title .date{padding-left:8px;font-size:0.875rem;line-height:1.57;letter-spacing:-0.4px;color:#999;text-align:center;}
    .board_table .board_list .board_title .date:before{content:"";display:inline-block;position:absolute;left:0;top:50%;width:1px;height:14px;background:#e2e2e2;transform: translateY(-50%);}

    .board_table .board_list.notice .board_title .notice_icon span{padding:0 8px;background:#fb502f;color:#fff;text-align:center;font-size:0.75rem;font-weight:700;line-height:1.69;}
    .board_table .board_list.notice .board_title .notice_title a{color:#fb502f;}

    .board_table .board_content{display:none;padding:20px 0px 40px;}
    .board_table .board_list.view_on .board_content{display:block;border-bottom:1px solid #e2e2e2;}



}