@charset "utf-8";/* CSS Document */




button[class^=btn]{display:inline-block;padding:5px 10px;border:1px solid #eaeaea;border-radius:4px;color:#333;font-size:0.75rem;}


button[class^=btn__primary]{background-color:lightcoral;border-color:lightcoral;color:#fff;}

button[class*=--big]{padding:7px 20px;border-radius:6px;font-size:1rem;}
button[class*=--small]{padding:1px 3px;border-radius:2px;font-size:0.5rem;}