@charset "utf-8";

/** font face **/
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:100;src:url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Thin.woff2) format('woff2'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Thin.woff) format('woff'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Thin.otf) format('opentype');} 
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:300;src:url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Light.woff2) format('woff2'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Light.woff) format('woff'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Light.otf) format('opentype');} 
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:400;src:url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Regular.woff2) format('woff2'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Regular.woff) format('woff'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Regular.otf) format('opentype');} 
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:500;src:url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Medium.woff2) format('woff2'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Medium.woff) format('woff'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Medium.otf) format('opentype');} 
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:700;src:url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Bold.woff2) format('woff2'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Bold.woff) format('woff'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Bold.otf) format('opentype');} 
@font-face {font-family:'Noto Sans KR';font-style:normal;font-weight:900;src:url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Black.woff2) format('woff2'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Black.woff) format('woff'),url(//stg-static.joongang.co.kr/css/font/NotoSansKR-Black.otf) format('opentype');} 

/** reset **/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button,figure{margin:0;padding:0;}
fieldset,img{border:0 none;}
dl,ul,ol,menu,li{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
input,select,textarea,button{border-radius:0;vertical-align:middle;}
input::-ms-clear{display:none;}
hr{display:none;}
button{border:0 none;background-color:transparent;cursor:pointer;}
button,input{border-radius:0;border:0;-webkit-border-radius:0;}
table{border-collapse:collapse;border-spacing:0;}
body{direction:ltr;word-break:keep-all;word-wrap:break-word;-webkit-text-size-adjust:none;}
body,th,td,input,select,textarea,button{font-size:100%;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo",Arial,"Noto Sans KR","Malgun Gothic","맑은 고딕",Dotum,'돋움',sans-serif;line-height:1;color:#111;}
a{color:inherit;font-size:inherit;text-decoration:none;-webkit-touch-callout:none;box-sizing:border-box;}
a:hover,a:focus,a:active{color:inherit;text-decoration:none;}
a:after,a:before{box-sizing:border-box;}
a{color:#111;text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{background-color:transparent;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}

html{width:100%;height:100%;font-size:16px;}
html,body{-webkit-overflow-scrolling:touch;}
body{height:100%;background:#fff;color:#111;font-family:'Noto Sans KR', sans-serif;font-size:16px;font-weight:normal;letter-spacing:-0.4px;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-webkit-overflow-scrolling:touch;}
body *{box-sizing:border-box;}
html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,form,fieldset,caption,input,textarea,select,table,th,td,map{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;line-height:100%;}
dl,dt,dd,ul,ol,li{list-style:none;}
div{content:"";}
area{cursor:pointer;}
table,th,td{border-spacing:0;}
caption,figcaption{overflow:hidden !important;width:0;height:0;font-size:0;line-height:0;}
figure{margin:0}
img{border:0;}
label{cursor:pointer;vertical-align:middle;display:inline-block;}
button{cursor:pointer;vertical-align:middle;overflow:visible;margin:0;padding:0;border:0;background:0;}
textarea,input,select{vertical-align:middle;font-size:inherit;} 
textarea{width:100%;min-height:150px;}
fieldset{border:0;padding:0;}
legend{position:absolute;left:-9999em;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
font,b{font-size:inherit;}
em, i{font-style:normal;}

/** common **/
.hide{display:none !important;}
.show{display:block !important;}
.visually_hidden{position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important;}
.sr_only {position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0,0,0,0);}
span {display: inline-block;}

/** layout **/
#wrapper{width:100%;}

/** header **/
header{display:block;width:100%;height:64px;}
header:after{content:"";width:100%;height:1px;background:#e2e2e2;}
.header_wrap{position:relative;z-index:2;width:100%;height:inherit;margin:0 auto;background:#fff;}
.header_wrap h2{display:inline-block;height:inherit;font-size:24px;line-height:64px;vertical-align:middle;}

/** footer **/
footer{display:block;width:100%;min-height:100px;}
footer::before{content:"";width:100%;height:1px;background:#e2e2e2;}
.footer_wrap{width:100%;height:inherit;margin:0 auto;}

/** content **/
section{width:100%;}
.contents{position: relative; width:100%; margin:0 auto; padding-left:20px; padding-right: 20px;}

/** nav **/
/* header nav */
.header_nav {width:100%;}
.header_nav .nav {width:100%;}
.header_nav .nav .nav_item .nav_link:hover {text-decoration: underline;}

/* side nav */
.side_nav {width:100%; margin-top:16px;}
.side_nav .nav {width:100%;}
.side_nav .nav .nav_item {display:inline-block;width:100%;border-bottom:1px solid #e2e2e2;}
.side_nav .nav .nav_item .nav_link {display:inline-block;width:100%;padding:18px 0 22px;font-size:18px;line-height:1.22;letter-spacing:-0.4px;color:#666;}
.side_nav .nav .nav_item .nav_link:hover,
.side_nav .nav .nav_item .nav_link.active {color:#111;font-weight:900;}

/* tab - a link */
.tab_box{font-size:0;padding:10px 0 6px;}
.tab_box a{display:inline-block;padding:0 28px;border-left:1px solid #e2e2e2;}
.tab_box a:first-child{border:none;}
.tab_box a:hover,
.tab_box a.active{font-weight:900;}

/* tab - li*/
.tab_nav{display:flex;flex-wrap:wrap;clear:both;float:none;width:max-content;padding-left:0;margin-bottom:0;list-style:none;}
.tab_nav .nav_item{display:inline-block;padding:0 5px;}
.tab_nav .nav_item:first-child{border:none;}
.tab_nav .nav_item .nav_link{font-size:16px;}
.tab_nav .nav_item .nav_link:hover,
.tab_nav .nav_item .nav_link.active{font-weight:900;}
.tab_content{width:100%;}
.tab_content .tab_pane{display:none;width:100%;}
.tab_content .tab_pane.active{display:block;}

/** component 영역 **/
/* component */
.component {position: relative; width: 100%;}
/* template */
.template {width: 100%;}

/** background color **/
.bg_orange{background-color:#fb502f;}
.bg_gray{background-color: #999;}
.bg_gray1{background-color:#999;}
.bg_gray2{background-color:#999;}
.bg_gray3{background-color:#292a2e;}
.bg_black{background-color:#000;}
.bg_lightblue{background-color:#f7faff;}

/** font color **/
.font_default {color: #111;}
.font_black {color: #000;}
.font_gray {color: #333;}
.font_gray2 {color: #444;}
.font_gray3 {color: #555;}
.font_gray4 {color: #666;}
.font_gray5 {color: #777;}
.font_gray6 {color: #888;}
.font_gray7 {color: #999;}
.font_gray8 {color: #aaa;}
.font_orange {color:#fb502f;}
.font_orange2 {color:#ff3c14;}
.js-text_search {color:#fb502f;}

/** font weight **/
.fw_l {font-weight: 400;}
.fw_m {font-weight: 500;}
.fw_b {font-weight: 700;}
.fw_bb {font-weight: 900;}

/** grid **/
.row {display:flex; flex-wrap:wrap;}
.row > * {width:100%; max-width:100%;}

/** width,height **/
.w100p {width: 100%;}
.h100p {height: 100%;}

/** align **/
.ta_l {text-align: left;}
.ta_r {text-align: right;}

/** position **/
.position_re {position: relative;}
.position_ab {position: absolute;}
.position_top_def {top: 0;}
.position_bottom_def {bottom: 0;}
.position_left_def {left: 0;}
.position_right_def {right: 0;}
.position_ab_l {position: absolute; left: 0;}
.position_ab_r {position: absolute; right: 0;}

/** flex **/
.flex {display: flex;}
.flex_col {display: flex; flex-direction: column;}
.flex_align_center {align-items: center;}
.flex_align_start {align-items: flex-start;}
.flex_align_end {align-items: flex-end;}
.flex_justify_center {justify-content: center;}
.flex_justify_start {justify-content: flex-start;}
.flex_justify_end {justify-content: flex-end;}
.flex_justify_between {justify-content: space-between;}
.flex_justify_around {justify-content: space-around;}
.flex_wrap {flex-wrap: wrap;}
.flex_nowrap {flex-wrap: nowrap;}
.flex_row_reverse {display: flex; flex-direction: row-reverse;}
.flex_col_reverse {display: flex; flex-direction: column-reverse;}

/** float **/
.flt_l {float: left;}
.flt_l::after {content: ''; display: table; clear: both;}
.flt_r {float: right;}
.flt_r::after {content: ''; display: table; clear: both;}
.clearfix::before,
.clearfix::after {content: " "; display: table;}
.clearfix::after {clear: both;}

/** margin **/
.mt_6 {margin-top: 6px;}
.mt_10 {margin-top: 10px;}
.mt_20 {margin-top: 20px;}
.mt_30 {margin-top: 30px;}
.mb_10 {margin-bottom: 10px;}
.mb_20 {margin-bottom: 20px;}
.mb_30 {margin-bottom: 30px;}
.mr_8 {margin-right: 8px;}
.mr_10 {margin-right: 10px;}
.mr_20 {margin-right: 20px;}
.mr_30 {margin-right: 30px;}
.ml_10 {margin-left: 10px;}
.ml_20 {margin-left: 20px;}
.ml_30 {margin-left: 30px;}

/** padding **/
.pt_10 {padding-top: 10px;}
.pt_20 {padding-top: 20px;}
.pt_30 {padding-top: 30px;}
.pt_40 {padding-top: 40px;}
.pt_50 {padding-top: 50px;}
.pb_10 {padding-bottom: 10px;}
.pb_20 {padding-bottom: 20px;}
.pb_30 {padding-bottom: 30px;}
.pb_40 {padding-bottom: 40px;}
.pb_50 {padding-bottom: 50px;}

/** input **/
/* input default */
input[type=text]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
a:focus,
label:focus,
input[type="checkbox"]:focus+label,
input[type="radio"]:focus+label{outline:auto;}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder {color:#666; font-size:14px;}

input[disabled]::placeholder,
input[disabled]::-webkit-input-placeholder,
input[disabled]::-moz-placeholder,
input[disabled]::-ms-input-placeholder,
input[type=button]::placeholder {color:#666; font-size:14px;}

textarea {resize: none;}

/* input custom */
.form_select{display:block; width:100%; padding:6px 36px 6px 12px; line-height:1.5; color:#212529; background-color:#fff; background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e"); background-repeat:no-repeat; background-position:right 12px center; background-size:16px 12px; border:1px solid #ced4da; border-radius:4px; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

.form {width: 100%;}

.input_group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%;}
.input_group .form_control{position:relative;flex:1 1 auto;width:1%;min-width:0;height:100%;padding:0 5px;}
.input_group .btn{position:relative;z-index:2;background-repeat:no-repeat;background-position:50% 50%;}

.input_type_1 .form_input {height: 40px; padding: 8px 16px; border: 1px solid #d5d5d5; font-size: 14px;}
.tarea_type_1 .form_input { padding: 16px; border: 1px solid #d5d5d5; font-size: 14px;}
.file_type_1 .file_name {height: 40px; border: 1px solid #d5d5d5;}
.file_type_1 .file_label {position: relative; width: 100%; height: 40px; line-height: 18px; padding: 9px 0; border-radius: 20px; border: 1px solid #333; font-size: 14px; font-weight: 500; text-align: center; vertical-align: middle; cursor: pointer;  overflow: hidden;}
.file_type_1 .file_upload {position: absolute; top: 0; left: 0; width: 0; height: 0;}
.file_focus {outline: auto;}
.input_count {margin-top: 4px; padding-right: 3px; line-height: 22px; text-align: right; font-size: 13px; font-weight: 500;}
.input_comment {margin-top: 2px; line-height: 22px; color: #999; font-size: 13px; font-weight: 500;}

/** 라디오, 체크박스 custom **/
input[type="radio"],
input[type="file"] { position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); white-space: nowrap; }
.check_type_1 input[type="checkbox"] + label {color: #666; font-size: 14px; font-weight: 500;}
/* .check_type_1 input[type="checkbox"] + label span {width: 18px; height: 18px; border: 1px solid #999; vertical-align: middle; margin-right: 8px;}
.check_type_1 input[type="checkbox"]:checked + label span {position: relative; width: 18px; height: 18px;} */
.radio_type_1 input[type="radio"] + label {font-size: 14px; font-weight: 500;}
.radio_type_1 input[type="radio"] + label span {width: 18px; height: 18px; border: 1px solid #999; border-radius: 50%; vertical-align: text-bottom; margin-right: 8px;}
.radio_type_1 input[type="radio"]:checked + label span {position: relative; width: 18px; height: 18px; border: 1px solid #fb502f;}
.radio_type_1 input[type="radio"]:checked + label span::after {content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 12px; height: 12px; border-radius: 50%; background-color: #fb502f; background-size: 100%;}

/** badge **/
.badge {display: inline-flex; align-items: center; justify-content: center; text-align:cent}
.badge_type1 {min-width: 40px; height: 20px; color: #fff; font-size: 13px; }
.badge_type2 {min-width: 46px; height: 23px; margin-right: 20px; color: #fff; font-size: 13px;}

/** button **/
.btn {display: flex; align-items: center; justify-content: space-between; text-align:center;}
/* type */
.btn_type1 {height: 34px; padding: 0 20px; font-size: 13px; font-weight: 700; color: #111;}
.btn_type2 {height: 38px; padding: 0 20px; font-size: 14px; font-weight: 700; color: #000;}
.btn_type3 {height: 38px; padding: 7px 16px 9px; color: #111; font-size: 14px; font-weight: 700;}
.btn_type4 {height: 40px; padding: 10px 28px; color: #fff; background-color: #111; font-size: 14px; font-weight: 500;}
.btn_type5 {height: 40px; padding: 10px 28px; color: #111; background-color: #fff; font-size: 14px; font-weight: 500;}
.btn_type6 { height: 36px; padding: 0 14px; }
/* outline */
.btn_outline_default {border: 1px solid #333;}
.btn_outline_gray {border: 1px solid #d5d5d5;}
.btn_outline_orange { border: 1px solid #ff3c14; }
/* radius */
.btn_radius1 {border-radius: 17px;}
.btn_radius2 {border-radius: 19px;}
.btn_radius3 {border-radius: 20px;}

.btn_search {position:relative; width:32px; height:32px; font-size: 0; z-index:2; border:none; background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='9.3' cy='9.3' r='6.5' fill='%23FFF' stroke='%23000' stroke-width='2'/%3E%3Cpath fill='%23D8D8D8' stroke='%23000' stroke-width='2' d='M13.846 13.846L19 19'/%3E%3Cpath d='M0 0h21v21H0z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center center;}

/** 아이콘 **/
.fa {display: inline-block;}
.fa_arrow_right {width:14px; height:14px; vertical-align: bottom; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h14v14H0z'/%3E%3Cpath stroke='%23999' d='M5 1l6 6-6 6'/%3E%3C/g%3E%3C/svg%3E") no-repeat;}
.fa_arrow_right_b {width: 8px; height: 8px; border-top: 1px solid #333; border-right: 1px solid #333; transform: rotate(45deg);}
.fa_arrow_right_bl {width: 8px; height: 8px; border-top: 2px solid #111; border-right: 2px solid #111; transform: rotate(45deg);}
.fa_arrow_right_g {width: 8px; height: 8px; border-top: 1px solid #999; border-right: 1px solid #999; transform: rotate(45deg); }
.fa_plus {width: 13px; height: 13px; margin-right: 6px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cg fill='%23333' fill-rule='evenodd'%3E%3Cpath d='M0 6h13v1H0z'/%3E%3Cpath d='M6 0h1v13H6z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;}
.fa_plus_orange { position: relative; width: 10px; height: 10px; margin-right: 5px; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Layer_1' x='0' y='0' viewBox='0 0 10 10' xml:space='preserve'%3E%3Cstyle%3E.st0%7Bfill:%23e84326%7D%3C/style%3E%3Cpath class='st0' d='M4 0h2v10H4z'/%3E%3Cpath transform='rotate(-90 5 5)' class='st0' d='M4 0h2v10H4z'/%3E%3C/svg%3E"); }
.ico{display:inline-block;background-repeat:no-repeat;background-position:50% 50%;background-size:100% auto;}
.ico_bul{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='9.3' cy='9.3' r='6.5' fill='%23FFF' stroke='%23000' stroke-width='2'/%3E%3Cpath fill='%23D8D8D8' stroke='%23000' stroke-width='2' d='M13.846 13.846L19 19'/%3E%3Cpath d='M0 0h21v21H0z'/%3E%3C/g%3E%3C/svg%3E");}
.fa_facebook {width: 26px; height: 26px; border-radius: 50%; background: #1a77f2; color: #fff; text-align: center; line-height: 26px;} /*임시-추후 이미지형태 아이콘으로 수정 예정*/

/** 리스트 **/
.list_dot li {position: relative; margin-left: 5px; text-indent: -5px;}
.list_dot li::before {content: ''; display: inline-block; width: 3px; height: 3px; margin-right: 8px; vertical-align: middle; background-color: #333; border-radius: 50%;}

/** pagenation **/
.pagination{display:flex;padding-left:0;width:min-content;margin:34px auto 0;}
.page_link {position:relative;display:block;text-decoration:none;padding:6px 12px;color:#3c3e40;}
.pagination .fa{display:inline-block;background:50% 50% no-repeat;}
.pagination .fa_arrow_left{width:16px; height:16px; vertical-align:bottom; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none'%3E%3Cpath d='M16 16H0V0h16v16z'/%3E%3Cpath d='M10 2L4 8l6 6' stroke='%23333' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");}
.pagination .fa_arrow_right{width:16px; height:16px; vertical-align:bottom; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3Cpath stroke='%23333' stroke-linecap='round' stroke-width='2' d='M6 14l6-6-6-6'/%3E%3C/g%3E%3C/svg%3E");}
.page_item.active .page_link{color:#fb502f;font-weight:700;text-decoration:underline;}

/* image 비율 */
.thum_wrap {position:relative; width:auto; height:fit-content; background:blue;}
.thum_wrap .img_thumbnail {position:relative;padding-bottom:calc(100% * 9 / 16);background:#eee;}
.thum_wrap .img_thumbnail  img{position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;}
.img_thumbnail.ratio_1_1{padding-bottom:calc(100% * 1 / 1);}
.img_thumbnail.ratio_4_3{padding-bottom:calc(100% * 3 / 4);}
.img_thumbnail.ratio_9_6{padding-bottom:calc(100% * 6 / 9);}
.img_thumbnail.ratio_9_5{padding-bottom:calc(100% * 5 / 9);}

/** caption **/
.caption{margin-top:10px;color:#b3b3b3;font-size:12px;text-align:left;line-height:16px;word-break:break-all;font-weight:normal;}
.caption b, .caption a{font-size:inherit;}

/** card **/
.card {position: relative;}
.card_body .title {width:100%; padding-bottom:8px;}
.card_body .headline {width:100%; font-weight: 700; word-break: break-all;}
.card_body .headline + .description {padding-top:8px;}
.card_body .description {color: #777; font-size: 15px; line-height: 23px; word-break: break-all;}
.card_body .byline {padding-top:8px; color:#aaa; font-size: 13px; line-height: 21px;}
.card_image {margin-bottom: 12px;}
.card_image img {width: 100%;}
.card.img_right .card_image {float: right; margin-left: 20px; margin-bottom: 0 !important;}
.card .view_lank {position: absolute; margin-top: 4px; color: #000; font-size: 46px;}
.card .view_lank + .card_body {padding-left: 40px;}
.card.border{border:1px solid #b3b3b3}
.card.border .card_body{padding:16px 16px;}

/* swiper */
:root {--swiper-theme-color: #000;}
.swiper-scrollbar{background:transparent;}


/* Mobile devices (mobile, 375px and down) */
@media (max-width:375px) {
    
}

/* Mobile devices (mobile, 767px and down) */
@media (max-width:767px) {
    img{width:100%;}

    .pc{display:none;}

    .contents {width:100%;margin:0 auto;padding:20px 20px 120px;}

    .side_nav_mobile{width:100%;}
    .side_nav_mobile .form_select{padding-left:0;border:none;font-size:24px;font-weight:900;}

    .tab_box{padding:5px 0;}
    .tab_box a{padding:0 16px;line-height:1.38;}
    .tab_box a:first-child{padding-left:0;}

    /* font size */
    .fs_sm32{font-size:32px;}
    .fs_sm30{font-size:30px;}
    .fs_sm28{font-size:28px;}
    .fs_sm26{font-size:26px;}
    .fs_sm24{font-size:24px;}
    .fs_sm22{font-size:22px;}
    .fs_sm20{font-size:20px;}
    .fs_sm18{font-size:18px;}
    .fs_sm17{font-size:17px;}
    .fs_sm16{font-size:16px;}
    .fs_sm15{font-size:15px;}
    .fs_sm14{font-size:14px;}
    .fs_sm13{font-size:13px;}
    .fs_sm34{font-size:34px;}
    .fs_sm36{font-size:36px;}
    .fs_sm38{font-size:38px;}
    .fs_sm40{font-size:40px;}
    .fs_sm42{font-size:42px;}
    .fs_sm44{font-size:44px;}
    .fs_sm46{font-size:46px;}

    /* line-height */
    .lh_sm36 {line-height: 36px;}
    .lh_sm34 {line-height: 34px;}
    .lh_sm32 {line-height: 32px;}
    .lh_sm30 {line-height: 30px;}
    .lh_sm29 {line-height: 29px;}
    .lh_sm28 {line-height: 28px;}
    .lh_sm26 {line-height: 26px;}
    .lh_sm24 {line-height: 24px;}
    .lh_sm22 {line-height: 22px;}
    .lh_sm20 {line-height: 20px;}
    .lh_sm19 {line-height: 19px;}
    .lh_sm18 {line-height: 18px;}
    .lh_sm16 {line-height: 16px;}
    .lh_sm14 {line-height: 14px;}

    /* grid */
    .col_sm1{flex:0 0 auto;width:8.33333%;}
    .col_sm2{flex:0 0 auto;width:16.66666%;}
    .col_sm3{flex:0 0 auto;width:25%;}
    .col_sm4{flex:0 0 auto;width:33.33333%;}
    .col_sm5{flex:0 0 auto;width:41.66667%;}
    .col_sm6{flex:0 0 auto;width:50%;}
    .col_sm7{flex:0 0 auto;width:66.66667%;}
    .col_sm8{flex:0 0 auto;width:66.66667%;}
    .col_sm9{flex:0 0 auto;width:75%;}
    .col_sm10{flex:0 0 auto;width:83.33333%;}
    .col_sm11{flex:0 0 auto;width:91.66667%;}
    .col_sm12{flex:0 0 auto;width:100%;}

    .pagination{display:none;}
}

/* Medium devices (tablet + pc, 768px and up) */
@media (min-width:768px) {
    .mo{display:none;}

    .contents{padding-left:34px;padding-right:34px;}

    .side_nav_mobile{display:none;}

    /* font size */
    .fs_md32{font-size:32px;}
    .fs_md30{font-size:30px;}
    .fs_md28{font-size:28px;}
    .fs_md26{font-size:26px;}
    .fs_md24{font-size:24px;}
    .fs_md22{font-size:22px;}
    .fs_md20{font-size:20px;}
    .fs_md18{font-size:18px;}
    .fs_md17{font-size:17px;}
    .fs_md16{font-size:16px;}
    .fs_md15{font-size:15px;}
    .fs_md14{font-size:14px;}
    .fs_md13{font-size:13px;}
    .fs_md34{font-size:34px;}
    .fs_md36{font-size:36px;}
    .fs_md38{font-size:38px;}
    .fs_md40{font-size:40px;}
    .fs_md42{font-size:42px;}
    .fs_md44{font-size:44px;}
    .fs_md46{font-size:46px;}

    /* line-height */
    .lh_md36 {line-height: 36px;}
    .lh_md34 {line-height: 34px;}
    .lh_md32 {line-height: 32px;}
    .lh_md30 {line-height: 30px;}
    .lh_md29 {line-height: 29px;}
    .lh_md28 {line-height: 28px;}
    .lh_md26 {line-height: 26px;}
    .lh_md24 {line-height: 24px;}
    .lh_md22 {line-height: 22px;}
    .lh_md20 {line-height: 20px;}
    .lh_md19 {line-height: 19px;}
    .lh_md18 {line-height: 18px;}
    .lh_md16 {line-height: 16px;}
    .lh_md14 {line-height: 14px;}

    /* grid */
    .row.no_grid {display: flex; flex-wrap: nowrap; justify-content: space-between;}
    .row.no_grid > * {width:auto;}
    .col_md1{flex:0 0 auto;width:8.33333%;}
    .col_md2{flex:0 0 auto;width:16.66666%;}
    .col_md3{flex:0 0 auto;width:25%;}
    .col_md4{flex:0 0 auto;width:33.33333%;}
    .col_md5{flex:0 0 auto;width:41.66667%;}
    .col_md6{flex:0 0 auto;width:50%;}
    .col_md7{flex:0 0 auto;width:66.66667%;}
    .col_md8{flex:0 0 auto;width:66.66667%;}
    .col_md9{flex:0 0 auto;width:75%;}
    .col_md10{flex:0 0 auto;width:83.33333%;}
    .col_md11{flex:0 0 auto;width:91.66667%;}
    .col_md12{flex:0 0 auto;width:100%;}

    /* button */
    .btn_type3 {padding: 7px 20px 9px;}

    /* table */
    .info_table th {width: 20%;}

    /* card*/
    .card_body .headline {color:#000;}
    .card_body .description {color: #555; font-size: 13px; line-height: 21px;}
    .card_body .byline {font-size: 12px; line-height: 20px;}
    .card .view_lank {font-size: 36px;}

}

/* Large devices (desktops, 1024px and up) */
@media (min-width:1024px) {
    .header_wrap,
    .contents,
    .footer_wrap {max-width: 1200px;}

    /* .contents{padding-left:0;padding-right:0;} */

    /* main{padding:0px;} */

    /* font size */
    .fs_lg32{font-size:32px;}
    .fs_lg30{font-size:30px;}
    .fs_lg28{font-size:28px;}
    .fs_lg26{font-size:26px;}
    .fs_lg24{font-size:24px;}
    .fs_lg22{font-size:22px;}
    .fs_lg20{font-size:20px;}
    .fs_lg18{font-size:18px;}
    .fs_lg17{font-size:17px;}
    .fs_lg16{font-size:16px;}
    .fs_lg15{font-size:15px;}
    .fs_lg14{font-size:14px;}
    .fs_lg13{font-size:13px;}
    .fs_lg34{font-size:34px;}
    .fs_lg36{font-size:36px;}
    .fs_lg38{font-size:38px;}
    .fs_lg40{font-size:40px;}
    .fs_lg42{font-size:42px;}
    .fs_lg44{font-size:44px;}
    .fs_lg46{font-size:46px;}

    /* line-height */
    .lh_lg36 {line-height: 36px;}
    .lh_lg34 {line-height: 34px;}
    .lh_lg32 {line-height: 32px;}
    .lh_lg30 {line-height: 30px;}
    .lh_lg29 {line-height: 29px;}
    .lh_lg28 {line-height: 28px;}
    .lh_lg26 {line-height: 26px;}
    .lh_lg24 {line-height: 24px;}
    .lh_lg22 {line-height: 22px;}
    .lh_lg20 {line-height: 20px;}
    .lh_lg19 {line-height: 19px;}
    .lh_lg18 {line-height: 18px;}
    .lh_lg16 {line-height: 16px;}
    .lh_lg14 {line-height: 14px;}

    /* grid */
    .col_lg1{flex:0 0 auto;width:8.33333%;}
    .col_lg2{flex:0 0 auto;width:16.66666%;}
    .col_lg3{flex:0 0 auto;width:25%;}
    .col_lg4{flex:0 0 auto;width:33.33333%;}
    .col_lg5{flex:0 0 auto;width:41.66667%;}
    .col_lg6{flex:0 0 auto;width:50%;}
    .col_lg7{flex:0 0 auto;width:66.66667%;}
    .col_lg8{flex:0 0 auto;width:66.66667%;}
    .col_lg9{flex:0 0 auto;width:75%;}
    .col_lg10{flex:0 0 auto;width:83.33333%;}
    .col_lg11{flex:0 0 auto;width:91.66667%;}
    .col_lg12{flex:0 0 auto;width:100%;}

    /* card*/
    .card_body .description {color: #444; font-size: 14px; line-height: 22px;}
    .card_body .byline {line-height: 22px;}
    .card .view_lank {font-size: 44px;}

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
    
}