@charset "utf-8";/* CSS Document */


/* photo */
.box-photo{clear: both;position: relative;width:min-content;max-width:720px;margin:30px auto 0;text-align:center;letter-spacing: 0;}
.box-photo .image{width:100%;}
.box-photo .caption b{font-size: inherit;}


.ab_photo{clear: both;position: relative;max-width: 580px;padding: 27px 0 26px;text-align: center;letter-spacing: 0;}
.photo_center{margin: 0 auto;}


/* Mobile devices (mobile, 767px and down) */
@media (max-width: 767px) {
    

    .box-photo{width:calc(100% + 42px);margin-top:30px;margin-left:-21px;}
    .box-photo .image{width:100%;}
    /* .box-photo .image img{width:auto} */
    .box-photo .caption{padding:0 21px;}

}



/* Q&A */
.box-interview{width:100%;margin-top:25px;padding:30px 20px;background-color: #f6f3fa;}
.tag_interview + .tag_interview{margin-top:40px;}
.tag_question{font-weight:700;font-size:1rem;line-height:1.5rem}
.tag_question:before{content:'Q : ';}
.tag_answer{font-size:1rem;line-height:1.5rem}
.tag_answer:before{content:'A : ';font-weight:700;}
/* .tag_question, .tag_answer{text-indent:24px;} */


.ab_interview{width:100%;margin-top:25px;padding:30px 20px;background-color: #f6f3fa;}
.ab_interview dl + dl{margin-top:40px;}
.tag_question{font-weight:700;font-size:1rem;line-height:1.5rem}
.tag_question:before{content:'Q : ';}
.tag_answer{font-size:1rem;line-height:1.5rem}
.tag_answer:before{content:'A : ';font-weight:700;}


/* Mobile devices (mobile, 767px and down) */
@media (max-width: 767px) {
    /* Q&A */
    .box-interview{width:100%;margin-top:40px;padding:30px 20px;}
    /* .tag_interview + .tag_interview{margin-top:40px;} */
    .tag_question{font-weight:700;font-size:1rem;line-height:1.5rem}
    .tag_question:before{content:'Q : ';}
    .tag_answer{font-size:1rem;line-height:1.5rem}
    .tag_answer:before{content:'A : ';font-weight:700;} 
    

}



