@charset "utf-8";/* CSS Document */


/* flex */
.row {display:flex;flex-wrap:wrap;}
.row + .row{margin-top:30px;}
.row > * {width: 100%; max-width: 100%;}


.col_sm1{flex: 0 0 auto;width:8.33333%;}
.col_sm2{flex: 0 0 auto;width:16.66666%;}
.col_sm3{flex-basis:25%;width:25%;}
.col_sm4{flex: 0 0 auto;width:33.33333%;}
.col_sm5{flex: 0 0 auto;width:41.66667%;}
.col_sm6{flex: 0 0 auto;width:50%;}
.col_sm7{flex: 0 0 auto;width:66.66667%;}
.col_sm8{flex: 0 0 auto;width:66.66667%;}
.col_sm9{flex: 0 0 auto;width:75%;}
.col_sm10{flex: 0 0 auto;width:83.33333%;}
.col_sm11{flex: 0 0 auto;width:91.66667%;}
.col_sm12{flex: 0 0 auto;width:100%;}

/* guide용 */
.flex_box{width:90%;margin:30px auto;}
.flex_box{width:90%; max-width:1200px; margin:20px auto;}
.guide .row > [class^=col]{padding:10px 0;background:#f3f3f3;}
.guide .row > [class^=col]:nth-child(even){background:#a0b89d;}

/* Mobile devices (mobile, 767px and down) */
@media (max-width: 767px) {
   
    
}
/* Not Mobile devices (tablet, pc, 767px and up) */
@media (min-width: 768px) {
    .col_md1{flex: 0 0 auto;width:8.33333%;}
    .col_md2{flex: 0 0 auto;width:16.66666%;}
    .col_md3{flex: 0 0 auto;width:25%;}
    .col_md4{flex: 0 0 auto;width:33.33333%;}
    .col_md5{flex: 0 0 auto;width:41.66667%;}
    .col_md6{flex: 0 0 auto;width:50%;}
    .col_md7{flex: 0 0 auto;width:66.66667%;}
    .col_md8{flex: 0 0 auto;width:66.66667%;}
    .col_md9{flex: 0 0 auto;width:75%;}
    .col_md10{flex: 0 0 auto;width:83.33333%;}
    .col_md11{flex: 0 0 auto;width:91.66667%;}
    .col_md12{flex: 0 0 auto;width:100%;}
}