@charset "utf-8";
/* Small devices (portrait phones, landscape phones, less than 767px) */
/* No media query this is the default */

/* contents layout */
.contents {padding-top:26px; padding-bottom:60px;}

/* header - nav */
.header_nav_wrap {margin-bottom:20px; padding:0 0 13px;border-bottom:1px solid #000;}
.header_nav_wrap .header_nav_area {display:flex;}
.header_nav_wrap .header_nav_area .page_title {font-size:24px;font-weight:bold;line-height:inherit;letter-spacing:-0.3px;color:#000;}
.header_nav_wrap .header_nav_area .header_nav .nav .nav_item {display:inline-block;padding-right:26px;}
.header_nav_wrap .header_nav_area .header_nav .nav .nav_item .nav_link h2{font-size:16px;font-weight:500;line-height:1.5;letter-spacing:-0.56px;color:#111;}

/* sub title 영역-필요시 */
.title_wrap {display:flex; align-items:center; justify-content:space-between; padding:12px 0; height:60px; border-top:1px solid #000;}
.title_wrap .title_area {display:flex; align-items:center; width:100%;}
.title_wrap .title {font-size:16px; font-weight:700;}




/* Medium devices (tablet + pc, 768px and up) */
@media (min-width:768px) {

}
/* Only Medium devices (tablet 768px ~ 1023px) */
@media (min-width:768px) and (max-width:1023px) {

}