@charset "utf-8";
/* Small devices (portrait phones, landscape phones, less than 767px) */
/* No media query this is the default */

/* contents layout */
.contents.section {padding-top: 30px; padding-bottom: 60px;}

/* header */
.header_nav_area {padding: 0 0 18px !important; border-top: 0 !important; border-bottom: 4px solid #000;}
.header_nav .nav .nav_item {display:inline-block;}
.header_nav .nav .nav_item .nav_link {display:inline-block; width:100%; color: #111; font-size: 16px; font-weight: 500;}

/***************************************    general     ************************************/
.section.general .component {padding: 18px 0 40px; border-top: 1px solid #000; overflow: hidden;}
.section.general .component .sub_title {margin-bottom: 20px;}

.section.general .component.showcase {padding: 20px 0 18px; border-top: 0;}
.section.general .component.showcase .card {border-top: 1px solid #ddd;}
.section.general .component.showcase .card:first-child {border-top: 0;}
.section.general .component.showcase .card_group {display: flex;}

.section.general .component.correct_noti {padding: 15px 0; border-top: 1px solid #e2e2e2;}

.section .component.fb_area {margin-bottom: 50px; padding: 25px 30px 25px 40px !important; border-top: 0;}
.section .component.fb_area .fa_facebook {margin-right: 12px;}

.section.general .component.latest_area .sub_title {margin-bottom: 18px;}
.section.general .latest_area .card {margin-bottom: 20px; margin-top: 30px;}

.section.general .component.view_lank_area .sub_title {margin-bottom: 18px;}
.section.general .view_lank_area .card {margin-bottom: 30px;}

.section.general .component.banner_area {padding: 0; border-top: 0; height: 100%;}



/***************************************    unique     ************************************/
.card_in {position: relative;}
.card_in .card_image::before { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 50%; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); }
.card_in .card_body { position: absolute; left: 0; bottom: 0; width: 100%; padding: 34px 40px; }
.card_in .card_body .headline,
.card_in .card_body .description { color: #fff; }
.case_unique .card_in .card_image .fa_rect_w { right: 46px; bottom: 40px; width: 30px; height: 20px }
.case_unique .card_in .fa_rect_w::after { left: 11px; top: 8px; width: 22px; height: 14px; }
.case_unique .card_image { position: relative; }
.case_unique .card_image .fa_rect_w { position: absolute; right: 14px; bottom: 12px; }
.case_unique .card_group.trend { margin-top: -20px; margin: -20px -18px 0; }
.case_unique .card_group.trend .col_lg4 { margin-top: 20px; padding: 0 18px; }
.case_unique .component .card_more { display: flex; align-items: center; justify-content: center; margin-top: 30px; padding: 20px 0; border-top: 1px solid #e2e2e2; }
.case_unique .component .card_more .fa_arrow_down_g { margin-left: 8px; }
.swiper-wrapper.card_group  { flex-wrap: nowrap; }
.swiper-wrapper.card_group .card { margin-bottom: 0; }
.swiper-wrapper.card_group .headline { line-height: 24px; }
.case_unique [class*="swiper-button-prev"], .case_unique [class*="swiper-button-next"] { top: 156px; width: 10px; height: 20px; margin: 0; background-size: 10px 20px; filter: grayscale(100%); opacity: 0.8; }
.case_unique [class*="swiper-button-next"] { right: -30px; }
.case_unique [class*="swiper-button-prev"] { left: -30px; }
.case_unique .page_title { margin-bottom: 30px; padding-bottom: 11px; border-bottom: 4px solid #000; }
.case_unique .top_area_wrap .sub_title { display: flex; align-items: center; }
.case_unique .top_area_wrap .sub_title .fa_arrow_right_b { margin-left: 4px; }
/* 임시 아이콘 이미지 변경시 소스 수정해야됨 */
.fa_rect_w { width: 15px; height: 10px; border: 1.5px solid #fff;  }
.fa_rect_w::after { content: ''; position: absolute; left: 6px; top: 4px; width: 12px; height: 8px; border: 1.5px solid #fff; }


/* Mobile devices (mobile, 375px and down) */
@media (max-width:375px) {
    
}


/* Mobile devices (mobile, 767px and down) */
@media (max-width:767px) {
    .header_nav .nav .nav_item {margin-right: 26px;}
    .swiper-container.catalog_home .swiper-button-prev, .swiper-container.catalog_home .swiper-button-next{display:none;}


    /***************************************    catalog     ************************************/


    /***************************************    unique     ************************************/
    .card_in .card_body { position: static; padding:0; }
    .card_in .card_body .headline { color: #111; line-height: 28px; }
    .card_in .card_body .description { color: #777; line-height: 23px; }
    .case_unique [class*="swiper-button-prev"], .case_unique [class*="swiper-button-next"] { display: none; }
}

/* Medium devices (tablet + pc, 768px and up) */
@media (min-width:768px) {
    .contents.section .page_title {margin-right: 24px;}

    .header_nav_wrap {align-items: flex-end; flex-wrap: nowrap;}
    .header_nav .nav .nav_item {margin-right: 24px;}
    .header_nav .nav .nav_item .nav_link {color: #000; font-size: 14px;}
    .header_nav_wrap .btn_area {position: absolute; right: 16px; bottom: 16px; width: auto;}

    /***************************************    general     ************************************/
    .section.general {overflow: hidden;}
    .section.general .component {padding: 18px 0 30px;}
    .section.general .component > .row > * {padding-right: 20px;}
    .section.general .component > .row.no_grid > * {margin-right: 20px; padding-right: 0;}
    .section.general .component > .row > *:last-child {margin-right: 0; padding-right: 0;}
    .section.general .component.header_nav_area > .row > * {padding-right: 0;}
    .section.general .component.showcase > .row > * {padding-right: 0;}    
    .section.general .component .sub_title {margin-bottom: 19px;}

    .section.general .component.showcase {padding: 20px 0;}
    .section.general .component.showcase .card {border-right: 1px solid #e2e2e2;}
    .section.general .component.showcase .card:last-child {border-right: 0;}
    .section.general .component.showcase .card.top_1 .card_body {padding-left: 20px;}
    .section.general .component.showcase .card.top_2 .card_body {padding-left: 20px;}
    .section.general .component.showcase .card_group {display: flex;}
    .section.general .component.showcase .card_group .card {padding-right: 10px; padding-left: 10px;}
    .section.general .component.showcase .card_group .card:first-child {padding-left: 0;}
    .section.general .component.showcase .card_group .card:last-child {padding-right: 0;}
    
    .section.general .component.correct_noti {padding: 16px 0;}

    .section.general .component.latest_area {float: left; width: 65.666666%; margin-right: 20px;}
    .section.general .component.latest_area .sub_title {margin-bottom: 23px;}
    .section.general .component.view_lank_area {float: right; width: 31.333333%; padding-bottom: 0;}
    .section.general .component.view_lank_area .sub_title {margin-bottom: 23px;}
    .section.general .component.banner_area {float: right; width: 31.333333%; height: 213px;}


    /***************************************    catalog     ************************************/



    /***************************************    unique     ************************************/
    .card_in .card_body .description { max-width: 55%; }
    .case_unique [class*="swiper-button-prev"], .case_unique [class*="swiper-button-next"] { display: none; }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width:1024px) {
    .contents.section {padding-top: 88px; padding-bottom: 100px;}

    .header_nav .nav .nav_item {margin-right: 30px;}
    .header_nav .nav .nav_item .nav_link {font-size: 16px;}

    /***************************************    general     ************************************/
    .section.general .component {padding: 18px 0 50px;}
    .section.general .component > .row > * {padding-right: 36px;}
    .section.general .component.showcase > .row > * {padding-right: 36px;}
    .section.general .component > .row.no_grid > * {margin-right: 36px; padding-right: 0;}
    .section.general .component > .row > *:last-child {margin-right: 0; padding-right: 0;}
    .component.general .sub_title {margin-bottom: 23px;}

    .section.general .component.showcase {padding: 40px 0 36px;}
    .section.general .component.showcase .card {margin-top: 30px; padding-top: 18px; border-right: 0;}
    .section.general .component.showcase .card:first-child {margin-top: 0; padding-top: 0; border-top: 0;}
    .section.general .component.showcase .card.top_1 .card_body {padding-left: 0;}
    .section.general .component.showcase .card.top_2 .card_body {padding-left: 0;}
    .section.general .component.showcase .card_group {display: flex; flex-direction: column;}
    .section.general .component.showcase .card_group .card {padding-right: 0; padding-left: 0;}

    .section.general .component.correct_noti {padding: 18px 0 21px; border-top: 1px solid #e2e2e2;}

    .section.general .component.latest_area {margin-right: 36px;}
    .section.general .component.latest_area .sub_title {margin-bottom: 30px;}
    .section.general .component.view_lank_area .sub_title {margin-bottom: 30px;}
    .section.general .component.banner_area {height: 366px;}


    /***************************************    catalog     ************************************/



    /***************************************    catalog     ************************************/
    .case_unique [class*="swiper-button-prev"], .case_unique [class*="swiper-button-next"] { display: block; }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {

}

/* Unique devices (large desktops, 1280px and up) */
@media (min-width:1280px) {

    /***************************************    catalog     ************************************/
}














/***************************************    catalog     ************************************/
/* common 으로 옮길것들 */


/* 말줄임 */
.ellip {display:inline-block;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;white-space:normal;text-align:left;word-wrap:break-word;display:-webkit-box;-webkit-box-orient:vertical;}

/* border */
.bdr_top {border-top-style:solid;}
.bdr_right {border-right-style:solid;}
.bdr_bottom {border-bottom-style:solid;}
.bdr_left {border-left-style:solid;}

.bdr_width1 {border-width:1px !important;}
.bdr_width2 {border-width:2px !important;}
.bdr_width3 {border-width:3px !important;}
.bdr_width4 {border-width:4px !important;}

.bdr_black {border-color:#000;}
.border_type1 {border-top:1px solid #000;}


/* padding */







/* flex */
.flex_reverse {flex-wrap: wrap-reverse;}

.catalog_home.swiper-container {width:100%;}
.catalog_home.swiper-container .swiper-slide div:nth-child(2) {position:relative;}
.catalog_home.swiper-container .swiper-slide div:nth-child(2) .text_wrap {position:absolute;padding:0 30px;left:0;top:50%;transform:translate(0, -50%);}




.text_wrap {width:100%;}
.text_wrap .hashtag {font-size:14px;font-weight:bold;line-height:1.57;letter-spacing:-0.25px;color:#ff3c14;}
.text_wrap .headline {margin-top:4px;}
.text_wrap .headline a {height:2.8em;-webkit-line-clamp:2;font-size:20px;font-weight:bold;line-height:1.4;letter-spacing:-0.4px;color:#111;}
.text_wrap .lead {margin-top:6px;}
.text_wrap .lead a {height:3.06em;-webkit-line-clamp:2;font-size:15px;line-height:1.53;letter-spacing:-0.4px;color:#777;}
.text_wrap .byline {margin-top:8px;font-size:13px;line-height:1.62;letter-spacing:-0.2px;color:#aaa;}



/* sns - Instagram */
.top_area_wrap {display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:space-between;height:60px;margin-top:30px;padding:12px 0;border-top:3px solid #000;}
.top_area_wrap .sub_title {line-height:1.44;letter-spacing:-0.28px;}
.top_area_wrap .sub_title span {padding-left:20px;color:#888;font-size:13px;font-weight:400;}

.fa_instagram {background-image:url('https://t1.daumcdn.net/cfile/tistory/99B6AB485D09F2132A');background-size:100% auto;overflow:hidden;text-indent: -99999px;}
.sns_area {padding: 25px 30px 25px 40px !important;}
.sns_area .sns_title {line-height:27px;;}
.sns_area .fa {vertical-align: middle;}
.sns_area .fa_instagram {width:26px;height:26px;margin-right: 12px;border-radius:100%;line-height: 26px;}


/* 많이본 기사 - rank*/
.card_group.rank .card {margin-bottom:30px;}
.card_group.rank .lank_count {font-size:46px;line-height:1.22;letter-spacing:-0.42px;}
.card_group.rank .card_image {padding-left:20px;background-color:transparent;}




/* Mobile devices (mobile, 375px and down) */
@media (max-width:375px) {
    
}


/* Mobile devices (mobile, 767px and down) */
@media (max-width:767px) {

    /***************************************    catalog     ************************************/
    /* main swiper */
    .catalog_home.swiper-container{width:100vw;margin-left:-20px;padding: 0 20px 12px;}
    .catalog_home.swiper-container .swiper-slide div:nth-child(2) .text_wrap{position:relative;padding:0 30px;left:unset;top:unset;transform:translate(0, 0%);}
    .catalog_home.swiper-container .swiper-pagination {left:50%;bottom:0;}
    .text_wrap {margin-top:16px;}

    /* component title */
    .top_area_wrap .sub_title span {display:none;}


    /* card */
    .catalog .card_group{width:calc(100% + 20px);max-width:unset;margin-left:-10px;}
    .catalog .card_group .card{position:relative;padding:16px 10px 14px;}
    .catalog .card_group .card:before{content:'';position:absolute;top:0;left:10px;display:block;width:calc(100% - 20px);height:1px;background:#e2e2e2;}
    

    



    

}

/* Medium devices (tablet + pc, 768px and up) */
@media (min-width:768px) {

    /* padding */
    .pr_md7 {padding-right:7px;}
    .pl_md13 {padding-left:13px;}

    /* catalog main swiper */
    .catalog_home.swiper-container .swiper-pagination {left:66.666667%;transform:translateX(20px);}


    /* card */
    .catalog .card_group{width:calc(100% + 20px);max-width:unset;margin-left:-10px;}
    .catalog .card_group .card{padding:0 10px;}

    /* rank */
    .card_group.rank .lank_count{font-size:36px;line-height:1.22;letter-spacing:-0.33px;}






}

/* Large devices (desktops, 1024px and up) */
@media (min-width:1024px) {
    .pr_lg12{padding-right:12px;}

    .pl_lg24{padding-left:24px;}
    
    /***************************************    catalog     ************************************/
    .catalog_home.swiper-container .swiper-pagination {transform:translateX(36px);}

    .text_wrap .hashtag {font-size:14px;font-weight:bold;line-height:1.57;letter-spacing:-0.25px;color:#ff3c14;}
    .text_wrap .headline {font-size:24px;font-weight:bold;line-height:1.38;letter-spacing:-0.4px;color:#000;}
    .text_wrap .lead {margin-top:18px;font-size:14px;line-height:1.57;letter-spacing:-0.4px;color:#444;}
    .text_wrap .byline {margin-top:18px;font-size:12px;line-height:1.83;letter-spacing:-0.32px;color:#aaa;}
    
    
    /* card */
    .catalog .card_group{width:calc(100% + 36px);max-width:unset;margin-left:-18px;}
    .catalog .card_group .card{padding:0 18px;}

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {

}

/* Unique devices (large desktops, 1280px and up) */
@media (min-width:1280px) {

    /***************************************    catalog     ************************************/
    .catalog_home.swiper-container {width:calc(100% + 140px);padding:0 70px;margin-left:-70px;}
    /* .catalog_home.swiper-container .swiper-button-next {width:35px;right:-35px;}
    .catalog_home.swiper-container .swiper-button-prev{width:35px;left:-35px;} */

}